@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700&subset=latin,latin-ext);
/*==============================
=          Prefixer            =
==============================*/
/*==============================
=            Colors            =
==============================*/
/*==============================
=          Typography          =
==============================*/
/*==============================
=              Layout          =
==============================*/
/* line 82, ../scss/main.scss */
body {
  overflow-x: hidden;
  font-family: "Oxygen", Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

/* line 89, ../scss/main.scss */
#pad-wrapper .title, #pad-wrapper h4 {
  font: 300 32px "Oxygen", Arial, sans-serif;
  font-style: normal;
  color: #323e4b;
}

/* line 95, ../scss/main.scss */
p {
  font-size: 13px;
  line-height: 21px;
  color: #838383;
}

/* line 101, ../scss/main.scss */
footer {
  margin: -80px 0 20px 201px;
}
/* line 103, ../scss/main.scss */
footer p {
  float: left;
  font-size: 11px;
  line-height: 16px;
}
/* line 108, ../scss/main.scss */
footer a {
  text-decoration: underline;
}
/* line 109, ../scss/main.scss */
footer img {
  float: right;
  margin: 0 40px 0 0;
}

/* line 115, ../scss/main.scss */
.helper-nav {
  position: fixed;
  top: 0;
  right: -280px;
  -webkit-transition: right 0.5s !important;
  -moz-transition: right 0.5s !important;
  transition: right 0.5s !important;
  width: 280px;
  height: 90%;
  padding: 0px 25px 0;
  z-index: 1000;
  background-color: #2d3844;
}
/* line 125, ../scss/main.scss */
.helper-nav h2 {
  margin: 25px 0 54px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
/* line 131, ../scss/main.scss */
.helper-nav ul {
  padding-left: 0;
  border-top: 1px solid #576069;
  list-style: none;
}
/* line 135, ../scss/main.scss */
.helper-nav ul li {
  border-bottom: 1px solid #576069;
}
/* line 138, ../scss/main.scss */
.helper-nav ul a {
  display: block;
  padding: 8px 0;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}
/* line 146, ../scss/main.scss */
.helper-nav .helper-btn {
  position: absolute;
  top: 100px;
  left: -66px;
  display: block;
  width: 66px;
  height: 73px;
  background: url(../../img/revision/helpernav-icon.png) #59839f no-repeat center 10px;
  -webkit-border-radius: 3px 0 0 3px !important;
  -moz-border-radius: 3px 0 0 3px !important;
  border-radius: 3px 0 0 3px !important;
  font-size: 11px;
  line-height: 115px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
/* line 160, ../scss/main.scss */
.helper-nav .helper-btn:hover {
  text-decoration: none;
}
/* line 162, ../scss/main.scss */
.helper-nav.open {
  right: 0px;
}
/* line 164, ../scss/main.scss */
.helper-nav.open .helper-btn {
  background-position: center -64px;
  text-indent: -99999px;
}
/* line 170, ../scss/main.scss */
.helper-nav.tree-menu-form {
  width: 600px;
  right: -600px;
  padding-top: 0px;
  background-color: #f0f1f1;
  border-left: 1px solid #e3e3e3;
}
/* line 176, ../scss/main.scss */
.helper-nav.tree-menu-form .helper-btn {
  left: -67px;
}
/* line 177, ../scss/main.scss */
.helper-nav.tree-menu-form .arrow {
  display: none;
  width: 23px;
  height: 26px;
  position: absolute;
  left: -21px;
  top: 376px;
  background: url(../../img/revision/tree-menu-form-arrow.png) no-repeat 0 0;
}
/* line 187, ../scss/main.scss */
.helper-nav.tree-menu-form form {
  max-height: calc(100% - 150px);
  margin-left: -15px;
  clear: both;
  height: 500px;
}
/* line 193, ../scss/main.scss */
.helper-nav.tree-menu-form .form-wrapper {
  margin-bottom: 0;
}
/* line 197, ../scss/main.scss */
.helper-nav.tree-menu-form .option {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px 12px 0 0;
  background-color: #59839f;
  height: 55px;
}
/* line 205, ../scss/main.scss */
.helper-nav.tree-menu-form .option button {
  min-width: 100px!important;
  background-color: #323e4b;
  height: 33px;
}
/* line 210, ../scss/main.scss */
.helper-nav.tree-menu-form .option .cancel-btn {
  color: #fff;
  text-decoration: underline;
  margin-right: 12px;
  margin-top: 6px;
}
/* line 218, ../scss/main.scss */
.helper-nav.tree-menu-form h2 {
  display: block;
  color: #323e4b;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 15px;
  margin-bottom: 35px;
  border-bottom: 1px solid #e3e3e3;
}
/* line 228, ../scss/main.scss */
.helper-nav.tree-menu-form .checkbox-inline input {
  background-color: #fff;
}
/* line 231, ../scss/main.scss */
.helper-nav.tree-menu-form textarea {
  height: 95px;
}
/* line 233, ../scss/main.scss */
.helper-nav.tree-menu-form label.radio {
  width: 160px!important;
  margin: 0;
}
/* line 238, ../scss/main.scss */
.helper-nav.tree-menu-form .checkbox-inline {
  width: 280px;
  padding-left: 0;
  line-height: 26px;
  cursor: pointer;
  margin: 0 0 12px 0;
}
/* line 244, ../scss/main.scss */
.helper-nav.tree-menu-form .checkbox-inline.min {
  font-size: 11px;
  line-height: 14px;
  margin-bottom: 0;
}
/* line 249, ../scss/main.scss */
.helper-nav.tree-menu-form .checkbox-inline .checker {
  float: left;
}
/* line 251, ../scss/main.scss */
.helper-nav.tree-menu-form .checkbox-inline .checker span {
  font-size: 11px;
}
/* line 254, ../scss/main.scss */
.helper-nav.tree-menu-form.open {
  right: 0px;
}
/* line 256, ../scss/main.scss */
.helper-nav.tree-menu-form.open .arrow {
  display: block;
}

/* line 261, ../scss/main.scss */
.label-info, .badge-important {
  background-color: #f0f1f1;
}

/* line 265, ../scss/main.scss */
.ng-cloak {
  display: none;
}

/* line 267, ../scss/main.scss */
a {
  cursor: pointer;
}

/*==============================
=            UI                =
==============================*/
/* line 272, ../scss/main.scss */
.btn-flat {
  min-width: 172px;
  margin-bottom: 4px !important;
  background-color: #59839f;
  border: none !important;
  font: 700 11px "Oxygen", Arial, sans-serif;
  text-shadow: none !important;
  text-align: center;
}
/* line 280, ../scss/main.scss */
.btn-flat.gray {
  background-color: #f1f1f1;
  color: #59839f;
}
/* line 284, ../scss/main.scss */
.btn-flat.success {
  background-color: #5cb85c;
}
/* line 285, ../scss/main.scss */
.btn-flat.info {
  background-color: #f0ad4e;
}
/* line 286, ../scss/main.scss */
.btn-flat.danger {
  background-color: #d9534f;
}
/* line 287, ../scss/main.scss */
.btn-flat.inverse {
  background-color: #323e4b;
}

/* line 290, ../scss/main.scss */
.label {
  display: inline-block;
  margin-bottom: 4px;
  min-width: 118px;
  padding: 6px 14px;
  background-color: #59839f;
}
/* line 296, ../scss/main.scss */
.label.label-success {
  background-color: #5cb85c;
}
/* line 297, ../scss/main.scss */
.label.label-info {
  background-color: #f0ad4e;
}
/* line 298, ../scss/main.scss */
.label.label-danger {
  background-color: #d9534f;
}
/* line 299, ../scss/main.scss */
.label.label-inverse {
  background-color: #323e4b;
}

/* line 302, ../scss/main.scss */
.pagination {
  font: 400 11px "Montserrat", Arial, sans-serif;
}
/* line 304, ../scss/main.scss */
.pagination > li > a, .pagination > li > span {
  padding: 8px 13px;
  border-color: #f1f1f1;
  color: #59839f;
  font-weight: 400;
}
/* line 310, ../scss/main.scss */
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background-color: transparent;
}
/* line 313, ../scss/main.scss */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #59839f;
  border-color: #59839f;
}
/* line 318, ../scss/main.scss */
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {
  padding: 10px 10px 9px;
  background-color: #f1f1f1;
  font-size: 9px;
}

/* line 325, ../scss/main.scss */
.btn-group button.glow, button.btn-glow {
  min-width: 85px;
  background: #fff;
  text-align: center;
  outline: none;
  border-color: #e3e3e3;
  font: 400 11px/21px "Oxygen", Arial, sans-serif;
  color: #59839f;
}
/* line 333, ../scss/main.scss */
.btn-group button.glow:hover, button.btn-glow:hover {
  color: #59839f;
}
/* line 334, ../scss/main.scss */
.btn-group button.glow:active, .btn-group button.glow.active, button.btn-glow:active, button.btn-glow.active {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #59839f;
  border-color: #59839f;
  color: #fff;
}

/* line 342, ../scss/main.scss */
button.btn-glow {
  min-width: 105px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
/* line 345, ../scss/main.scss */
button.btn-glow .icon-chevron-left, button.btn-glow .icon-chevron-right {
  float: left;
  margin-top: 5px;
  font-size: 9px;
  color: #59839f !important;
}
/* line 351, ../scss/main.scss */
button.btn-glow .icon-chevron-right {
  float: right;
}
/* line 352, ../scss/main.scss */
button.btn-glow:hover {
  background: #59839f;
  border-color: #59839f;
  color: #fff;
}
/* line 356, ../scss/main.scss */
button.btn-glow:hover .icon-chevron-left, button.btn-glow:hover .icon-chevron-right {
  color: #fff !important;
}

/* line 360, ../scss/main.scss */
.slider-frame {
  width: 58px;
  height: 29px;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #fff;
}
/* line 366, ../scss/main.scss */
.slider-frame.info {
  background-color: #59839f;
}
/* line 368, ../scss/main.scss */
.slider-frame.info .slider-button {
  background-color: #fff;
  color: #59839f;
}
/* line 373, ../scss/main.scss */
.slider-frame.success {
  background-color: #323e4b;
}
/* line 375, ../scss/main.scss */
.slider-frame.success .slider-button {
  background-color: #fff;
  color: #59839f;
}
/* line 380, ../scss/main.scss */
.slider-frame.primary {
  background-color: #f1f1f1;
}
/* line 382, ../scss/main.scss */
.slider-frame.primary .slider-button {
  background-color: #59839f;
  color: #fff;
}

/* line 389, ../scss/main.scss */
.slider-button {
  width: 27px;
  height: 27px;
  border: none;
  background-color: #59839f;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  line-height: 27px;
}

/* line 401, ../scss/main.scss */
.progress {
  background-color: #e3e3e3;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 406, ../scss/main.scss */
.progress-bar {
  background-color: #59839f;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 410, ../scss/main.scss */
.progress-striped .progress-bar {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
}

/* line 414, ../scss/main.scss */
.ui-slider {
  height: 6px;
  border: none;
  background: #e3e3e3;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
/* line 420, ../scss/main.scss */
.ui-slider span {
  display: block;
  margin-top: 20px;
  font-size: 10px;
  color: #838383;
  text-decoration: none;
  text-align: center;
}

/* line 429, ../scss/main.scss */
.ui-slider-horizontal .ui-slider-handle {
  width: 17px;
  background: url(../../img/revision/ui-slider-circle.png) no-repeat 0 0;
  text-decoration: none;
}
/* line 433, ../scss/main.scss */
.ui-slider-horizontal .ui-slider-handle:hover, .ui-slider-horizontal .ui-slider-handle .ui-state-hover, .ui-slider-horizontal .ui-slider-handle .ui-state-focus {
  text-decoration: none;
}

/* line 436, ../scss/main.scss */
.ui-slider .ui-slider-range {
  background-color: #59839f;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 442, ../scss/main.scss */
.ui-slider.vertical-handler .ui-state-default {
  top: -7px;
  background: url(../../img/revision/ui-slider-vertical.png) no-repeat 0 0;
}

/* line 447, ../scss/main.scss */
.ui-slider.scroll {
  height: 10px;
}
/* line 449, ../scss/main.scss */
.ui-slider.scroll .ui-slider-handle {
  top: -2px;
  width: 31px;
  height: 14px;
  margin-left: -15px;
  background: url(../../img/revision/ui-slider-scroll.png) no-repeat 0 0;
}

/* line 458, ../scss/main.scss */
#dashboard-menu .pointer {
  display: none;
}

/* line 460, ../scss/main.scss */
.content {
  margin-left: 201px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 465, ../scss/main.scss */
.row.head {
  margin-bottom: 10px;
}
/* line 467, ../scss/main.scss */
.row.head p {
  width: 450px;
  margin-bottom: 20px;
}
/* line 471, ../scss/main.scss */
.row.head .col-md-12 {
  padding-left: 0;
}

/* line 475, ../scss/main.scss */
.modal h4 {
  font-size: 18px !important;
  color: #323e4b;
}
/* line 479, ../scss/main.scss */
.modal .modal-content {
  border: transparent;
}

/* line 484, ../scss/main.scss */
.modal-backdrop {
  background-color: #323e4b;
}
/* line 486, ../scss/main.scss */
.modal-backdrop.in {
  -webkit-opacity: 0.85 !important;
  -moz-opacity: 0.85 !important;
  opacity: 0.85 !important;
}

/* line 489, ../scss/main.scss */
.prealoader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  text-align: center;
}
/* line 499, ../scss/main.scss */
.prealoader span {
  position: relative;
  top: 50%;
  margin-top: -21px;
  display: inline-block;
  padding: 0 18px 0 48px;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
  height: 43px;
  background: url("../../img/revision/prealoader.gif") no-repeat 10px center;
  font-size: 12px;
  font-weight: 700;
  line-height: 42px;
  color: #5c849e;
}

/*==============================
=          Navbar Inverse      =
===============================*/
/* line 519, ../scss/main.scss */
.navbar-inverse {
  min-height: 71px;
  background: #323e4b;
  border: none;
  z-index: 1005;
}
/* line 525, ../scss/main.scss */
.navbar-inverse .navbar-brand {
  padding: 16px 20px;
}
/* line 527, ../scss/main.scss */
.navbar-inverse .navbar-nav {
  padding-right: 0;
}
/* line 529, ../scss/main.scss */
.navbar-inverse .nav > li > a {
  width: 70px;
  height: 70px;
  padding: 0;
  text-align: center;
  line-height: 70px;
  border-left-color: #2d3844;
}
/* line 536, ../scss/main.scss */
.navbar-inverse .nav > li > a:hover {
  border-color: rgba(35, 43, 52, 0.3);
  background-color: transparent;
}
/* line 540, ../scss/main.scss */
.navbar-inverse .nav > li > a img {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
/* line 543, ../scss/main.scss */
.navbar-inverse .settings .icon-cog, .navbar-inverse .settings .icon-share-alt, .navbar-inverse .notification-dropdown .icon-warning-sign {
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
}
/* line 549, ../scss/main.scss */
.navbar-inverse .notification-dropdown > a:hover, .navbar-inverse .notification-dropdown > a.active {
  background: transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
/* line 554, ../scss/main.scss */
.navbar-inverse .notification-dropdown .count {
  top: 13px;
  left: 50%;
  width: 22px;
  margin-left: -11px;
  line-height: 22px;
  padding: 0;
  background-color: #7dbee9;
  font-size: 13px;
  font-weight: 700;
}
/* line 566, ../scss/main.scss */
.navbar-inverse .notification-dropdown .icon-remove {
  font-size: 14px;
}
/* line 568, ../scss/main.scss */
.navbar-inverse .pop-dialog {
  top: 81px;
  right: -89px;
  z-index: 105;
}
/* line 572, ../scss/main.scss */
.navbar-inverse .pop-dialog .body {
  padding: 0px 10px 10px 10px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #e3e3e3;
}
/* line 577, ../scss/main.scss */
.navbar-inverse .pop-dialog .notifications {
  width: 250px;
  margin: 0 -11px -1px -11px;
}
/* line 580, ../scss/main.scss */
.navbar-inverse .pop-dialog .notifications h3 {
  margin: 12px 0;
  font-size: 14px;
  font-weight: bold;
  color: #323e4b;
}
/* line 586, ../scss/main.scss */
.navbar-inverse .pop-dialog .notifications .item {
  margin: 0 3px;
  padding-left: 18px;
  font-size: 11px;
}
/* line 590, ../scss/main.scss */
.navbar-inverse .pop-dialog .notifications .item:hover {
  background-color: transparent;
}
/* line 591, ../scss/main.scss */
.navbar-inverse .pop-dialog .notifications .item .time {
  min-width: 42px;
  text-align: right;
  font-size: 9px;
  font-weight: 700;
  font-style: normal;
  color: #9ba3ad;
}
/* line 598, ../scss/main.scss */
.navbar-inverse .pop-dialog .notifications .item .time i {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1px 10px;
  font-size: 14px;
  color: #9BA3AD;
}
/* line 608, ../scss/main.scss */
.navbar-inverse .pop-dialog .pointer.center .arrow, .navbar-inverse .pop-dialog .arrow_border {
  left: 50%;
  margin-left: -8px;
}
/* line 612, ../scss/main.scss */
.navbar-inverse .pop-dialog .pointer.center .arrow_border {
  margin-left: -9px;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e3e3e3;
}
/* line 616, ../scss/main.scss */
.navbar-inverse .pop-dialog .footer {
  margin-top: 0;
  background-color: #59839f;
  font-size: 11px;
  font-weight: 700;
}
/* line 621, ../scss/main.scss */
.navbar-inverse .pop-dialog .footer a {
  color: #fff;
}
/* line 623, ../scss/main.scss */
.navbar-inverse .pop-dialog .close-icon {
  top: 14px;
}

/*==============================
=           sidebar Nav        =
===============================*/
/* line 630, ../scss/main.scss */
#sidebar-nav {
  width: 201px;
  padding-top: 0;
}
/* line 633, ../scss/main.scss */
#sidebar-nav #dashboard-menu {
  margin: 0;
  padding: 0;
}
/* line 636, ../scss/main.scss */
#sidebar-nav #dashboard-menu > li {
  padding: 0 10px;
  margin-bottom: -1px;
}
/* line 639, ../scss/main.scss */
#sidebar-nav #dashboard-menu > li > a {
  margin: 0;
  padding: 25px 0 22px;
  border-bottom-color: #fff;
  -webkit-box-shadow: 0px 1px 0px 0px #dcdce0 !important;
  -moz-box-shadow: 0px 1px 0px 0px #dcdce0 !important;
  box-shadow: 0px 1px 0px 0px #dcdce0 !important;
  font-size: 11px;
  font-weight: 700;
  line-height: normal;
}
/* line 648, ../scss/main.scss */
#sidebar-nav #dashboard-menu > li:hover, #sidebar-nav #dashboard-menu > li.active {
  background-color: #59839f;
}
/* line 650, ../scss/main.scss */
#sidebar-nav #dashboard-menu > li:hover a, #sidebar-nav #dashboard-menu > li.active a {
  color: #fff;
  border-bottom-color: transparent;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: none;
  text-decoration: none;
}
/* line 657, ../scss/main.scss */
#sidebar-nav #dashboard-menu > li:hover .icon-home, #sidebar-nav #dashboard-menu > li.active .icon-home {
  background-position: -77px 5px;
}
/* line 658, ../scss/main.scss */
#sidebar-nav #dashboard-menu > li:hover .icon-signal, #sidebar-nav #dashboard-menu > li.active .icon-signal {
  background-position: -79px -97px;
}
/* line 659, ../scss/main.scss */
#sidebar-nav #dashboard-menu > li:hover .icon-group, #sidebar-nav #dashboard-menu > li.active .icon-group {
  background-position: -76px -192px;
}
/* line 660, ../scss/main.scss */
#sidebar-nav #dashboard-menu > li:hover .icon-edit, #sidebar-nav #dashboard-menu > li.active .icon-edit {
  background-position: -66px -291px;
}
/* line 664, ../scss/main.scss */
#sidebar-nav #dashboard-menu a i {
  position: static;
  width: 50px;
  height: 47px;
  opacity: 100;
}
/* line 670, ../scss/main.scss */
#sidebar-nav #dashboard-menu a span {
  display: inline-block;
  vertical-align: middle;
  width: 112px;
  margin-left: 0;
}
/* line 677, ../scss/main.scss */
#sidebar-nav #dashboard-menu ul.submenu {
  margin: 0 -10px;
  padding: 25px 0;
  background-color: #e6e6e7;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
/* line 683, ../scss/main.scss */
#sidebar-nav #dashboard-menu ul.submenu a {
  display: block;
  margin: 0 0 5px 25px;
  padding-left: 28px;
  background: url(../../img/revision/submenu-sep.png) no-repeat 0 center;
  font-size: 12px;
  color: #59839f;
  text-shadow: none;
}
/* line 691, ../scss/main.scss */
#sidebar-nav #dashboard-menu ul.submenu a:hover {
  text-decoration: none;
}

/* line 697, ../scss/main.scss */
.tooltip {
  width: 272px;
  font-size: 13px;
  line-height: 21px;
}

/* line 703, ../scss/main.scss */
.tooltip-inner {
  max-width: 272px;
  padding: 20px 25px;
  color: #838383;
  text-align: left;
  background-color: #f7f7f7;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}
/* line 711, ../scss/main.scss */
.tooltip-inner h5 {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
}

/* line 718, ../scss/main.scss */
.tooltip-arrow {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
/* line 725, ../scss/main.scss */
.tooltip-arrow:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/* line 735, ../scss/main.scss */
.tooltip.top .tooltip-arrow {
  bottom: -6px;
  left: 50%;
  margin-left: -8px;
  border-width: 12px 8px 0px 8px;
  border-top-color: #e3e3e3;
}
/* line 741, ../scss/main.scss */
.tooltip.top .tooltip-arrow:before {
  bottom: 1px;
  left: 50%;
  margin-left: -8px;
  border-width: 12px 8px 0px 8px;
  border-top-color: #f7f7f7;
}

/* line 749, ../scss/main.scss */
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: -6px;
  margin-top: -7.5px;
  border-width: 7px 12px 7px 0;
  border-right-color: #e3e3e3;
}
/* line 755, ../scss/main.scss */
.tooltip.right .tooltip-arrow:before {
  top: 50%;
  left: 1px;
  margin-top: -7.5px;
  border-width: 7px 12px 7px 0;
  border-right-color: #f7f7f7;
}

/* line 763, ../scss/main.scss */
.tooltip.left .tooltip-arrow {
  top: 50%;
  left: -6px;
  margin-top: -7.5px;
  border-width: 7px 0 7px 12px;
  border-left-color: #e3e3e3;
}
/* line 769, ../scss/main.scss */
.tooltip.left .tooltip-arrow:before {
  top: 50%;
  left: 1px;
  margin-top: -7.5px;
  border-width: 7px 0 7px 12px;
  border-left-color: #f7f7f7;
}

/* line 777, ../scss/main.scss */
.tooltip.bottom .tooltip-arrow {
  top: -6px;
  left: 50%;
  margin-left: -8px;
  border-width: 0 8px 12px;
  border-bottom-color: #e3e3e3;
}
/* line 783, ../scss/main.scss */
.tooltip.bottom .tooltip-arrow:before {
  top: 1px;
  left: 50%;
  margin-left: -8px;
  border-width: 0 8px 12px;
  border-bottom-color: #f7f7f7;
}

/* line 792, ../scss/main.scss */
.error-tooltip {
  width: 615px;
}
/* line 794, ../scss/main.scss */
.error-tooltip .tooltip-inner {
  max-width: 615px;
  background-color: #d9534f;
}
/* line 797, ../scss/main.scss */
.error-tooltip .tooltip-inner h5, .error-tooltip .tooltip-inner p {
  color: #fff;
}

/* line 800, ../scss/main.scss */
.error-tooltip.tooltip.left .tooltip-arrow:before {
  border-left-color: #d9534f;
}

/* line 801, ../scss/main.scss */
.error-tooltip.tooltip.right .tooltip-arrow:before {
  border-right-color: #d9534f;
}

/* line 802, ../scss/main.scss */
.error-tooltip.tooltip.top .tooltip-arrow:before {
  border-top-color: #d9534f;
}

/* line 803, ../scss/main.scss */
.error-tooltip.tooltip.bottom .tooltip-arrow:before {
  border-bottom-color: #d9534f;
}

/* line 806, ../scss/main.scss */
.info-tooltip .tooltip-inner {
  background-color: #59839f;
  color: #fff;
}
/* line 809, ../scss/main.scss */
.info-tooltip .tooltip-inner h5, .info-tooltip .tooltip-inner p {
  color: #fff;
}

/* line 812, ../scss/main.scss */
.info-tooltip.tooltip.left .tooltip-arrow:before {
  border-left-color: #59839f;
}

/* line 813, ../scss/main.scss */
.info-tooltip.tooltip.right .tooltip-arrow:before {
  border-right-color: #59839f;
}

/* line 814, ../scss/main.scss */
.info-tooltip.tooltip.top .tooltip-arrow:before {
  border-top-color: #59839f;
}

/* line 815, ../scss/main.scss */
.info-tooltip.tooltip.bottom .tooltip-arrow:before {
  border-bottom-color: #59839f;
}

/* line 818, ../scss/main.scss */
.datepicker {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #e3e3e3 !important;
  color: #838383;
}
/* line 822, ../scss/main.scss */
.datepicker:after, .datepicker:before {
  display: none;
}
/* line 823, ../scss/main.scss */
.datepicker table tr td.old, .datepicker table tr td.new {
  color: #c9c9c9;
}
/* line 824, ../scss/main.scss */
.datepicker th {
  color: #323e4b;
}
/* line 826, ../scss/main.scss */
.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover,
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
  background: #59839f !important;
  text-shadow: none;
}
/* line 830, ../scss/main.scss */
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
/* line 831, ../scss/main.scss */
.datepicker .icon-arrow-right, .datepicker .icon-arrow-left {
  color: #59839f;
}

/* line 834, ../scss/main.scss */
.table-condensed thead > tr > th, .table-condensed tbody > tr > th, .table-condensed tfoot > tr > th,
.table-condensed thead > tr > td, .table-condensed tbody > tr > td, .table-condensed tfoot > tr > td {
  padding: 4px 5px;
}

/* line 838, ../scss/main.scss */
#pad-wrapper .ctrls .nav-tabs {
  margin-bottom: 35px;
}

/* line 843, ../scss/main.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  border-color: #ddd;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-border-radius: 3px 3px 0 0 !important;
  -moz-border-radius: 3px 3px 0 0 !important;
  border-radius: 3px 3px 0 0 !important;
}

/* line 853, ../scss/main.scss */
.nav-tabs > li > a {
  margin-right: -1px;
  border-right: 1px solid #ddd;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  color: #59839f;
  outline: none;
}
/* line 863, ../scss/main.scss */
.nav-tabs > li:first-child > a {
  border-left: 1px solid #ddd;
}
/* line 864, ../scss/main.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  -webkit-border-radius: 3px 3px 0 0 !important;
  -moz-border-radius: 3px 3px 0 0 !important;
  border-radius: 3px 3px 0 0 !important;
  color: #323e4b;
}

/*==============================
=            Icons             =
===============================*/
/* line 874, ../scss/main.scss */
.icon-home, .icon-signal, .icon-group, .icon-edit {
  display: inline-block !important;
  vertical-align: middle;
  width: 50px;
  height: 47px;
  margin: 0 0 0 12px;
  background: url(../../img/revision/dashboard-menu-icon.png) no-repeat 0 5px;
}
/* line 881, ../scss/main.scss */
.icon-home:before, .icon-signal:before, .icon-group:before, .icon-edit:before {
  display: none;
}

/* line 883, ../scss/main.scss */
.icon-signal {
  background-position: 0 -97px;
}

/* line 884, ../scss/main.scss */
.icon-group {
  background-position: 0 -192px;
}

/* line 885, ../scss/main.scss */
.icon-edit {
  margin: 0 8px 0 7px;
  background-position: 0 -291px;
}

/*==============================
=            Forms             =
==============================*/
/* line 894, ../scss/main.scss */
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, .inline-input input[type="text"]:hover, .inline-input input[type="password"]:hover,
input[type="text"].inline-input:hover, input[type="password"].inline-input:hover, .dataTables_filter input[type="text"] {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #e3e3e3 !important;
}

/* line 899, ../scss/main.scss */
.form-page .form-wrapper label {
  font-size: 13px;
  color: #323e4b;
}

/* line 904, ../scss/main.scss */
.radio-inline, .checkbox-inline, .form-page .form-wrapper label.radio, .form-page .form-wrapper label.chekcbox {
  font-weight: 400 !important;
  color: #838383 !important;
}

/* line 909, ../scss/main.scss */
.form-page .form-wrapper .predefined .value {
  top: 9px;
  left: 10px;
  color: #838383;
}

/* line 914, ../scss/main.scss */
.form-page .form-wrapper .predefined input {
  padding-left: 46px;
}

/* line 915, ../scss/main.scss */
.form-page .form-wrapper .predefined.info input {
  padding-left: 32px;
}

/* line 917, ../scss/main.scss */
.form-control, .input-group input, .input-group input, .input-group .uneditable-input, .input-group .uneditable-input, input.search {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  border-color: #e3e3e3;
  font: 12px "Oxygen", Arial, sans-serif !important;
  color: #838383 !important;
}

/* line 925, ../scss/main.scss */
input.search, .dataTables_filter input[type="text"] {
  height: 34px!important;
  padding: 6px 35px 6px 12px;
  background: url(../../img/revision/lens.png) white no-repeat 95%;
}

/* line 973, ../scss/main.scss */
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cecece !important; }

/* line 977, ../scss/main.scss */
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cecece !important; }

/* line 981, ../scss/main.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cecece !important; }

/* line 985, ../scss/main.scss */
.icon-warning-sign.danger {
  color: #d9534f !important; }

/* line 932, ../scss/main.scss */
.field-box [class^="icon-"], .alert [class*=" icon-"] {
  padding-right: 8px;
  font-size: 30px;
  vertical-align: middle;
}

/* line 938, ../scss/main.scss */
.select2-choices {
  width: 242px;
  min-height: 33px !important;
  border-color: #e3e3e3 !important;
}

/* line 944, ../scss/main.scss */
.select2-container {
  background: url(../../img/revision/select-arrow.png) no-repeat center 13px;
}

/* line 948, ../scss/main.scss */
.select2-container-multi .select2-choices {
  max-height: 63px !important;
  padding-right: 35px;
}
/* line 951, ../scss/main.scss */
.select2-container-multi .select2-choices:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  min-height: 100%;
  border-left: 1px solid #e3e3e3;
  background: url(../../img/revision/select-arrow.png) no-repeat center 13px;
}
/* line 962, ../scss/main.scss */
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 30px 3px 10px !important;
  border-color: transparent;
  color: #59839f;
  font: 14px "Oxygen", Arial, sans-serif;
  font-weight: 700;
  max-height: 63px !important;
  background-color: #f1f1f1;
}
/* line 971, ../scss/main.scss */
.select2-container-multi .select2-choices .select2-search-choice-close {
  background: url(../../img/revision/.select2-search-choice.png) no-repeat center right;
  top: 4px;
  right: 6px !important;
  left: auto;
}
/* line 976, ../scss/main.scss */
.select2-container-multi .select2-choices .select2-search-choice-close:hover {
  background-position: center right !important;
}

/* line 979, ../scss/main.scss */
.select2-container-active .select2-choices {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 980, ../scss/main.scss */
.success-control, .error-control {
  font-size: 13px;
  color: #5cb85c;
}

/* line 985, ../scss/main.scss */
.error-control {
  color: #d9534f;
}

/* line 987, ../scss/main.scss */
.info-control {
  color: #59839f;
}
/* line 989, ../scss/main.scss */
.info-control.over {
  position: absolute;
  top: -2px;
  padding-right: 0;
  font-size: 20px;
}

/* line 997, ../scss/main.scss */
textarea {
  outline: none;
  resize: none;
  padding: 9px 5px 5px 10px;
  border-color: #e3e3e3 !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  color: #838383;
}

/* line 1006, ../scss/main.scss */
textarea.form-control {
  height: 183px;
  resize: none;
}

/* line 1011, ../scss/main.scss */
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
  background-image: none;
}

/* line 1013, ../scss/main.scss */
div.checker, div.checker span, div.checker input, div.radio, div.radio span, div.radio input {
  width: 29px;
  height: 29px;
  cursor: pointer;
}

/* line 1019, ../scss/main.scss */
div.checker, div.radio {
  border: 1px solid #e3e3e3;
  background-color: #fff;
}

/* line 1024, ../scss/main.scss */
div.radio {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

/* line 1026, ../scss/main.scss */
div.checker span.checked, div.radio span.checked {
  width: 29px;
  height: 29px;
  background: url(../../img/revision/check-icon.png) no-repeat 5px 7px !important;
}

/* line 1032, ../scss/main.scss */
div.radio span.checked {
  background: url(../../img/revision/radio-check.png) no-repeat 7px 7px !important;
}

/* line 1034, ../scss/main.scss */
.input-group .input-group-addon {
  background-color: #e3e3e3;
  border-color: #e3e3e3;
}

/* line 1039, ../scss/main.scss */
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) {
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-bottom-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  -webkit-border-top-left-radius: 0 !important;
  -moz-border-top-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  background-color: #fff;
  border-left: none;
}

/* line 1045, ../scss/main.scss */
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  -webkit-border-bottom-right-radius: 0 !important;
  -moz-border-bottom-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  -webkit-border-top-right-radius: 0 !important;
  -moz-border-top-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

/* line 1050, ../scss/main.scss */
.ui-select {
  width: 100%;
  height: 34px;
  background: #fff;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  border-color: #e3e3e3;
}
/* line 1056, ../scss/main.scss */
.ui-select select {
  position: relative;
  height: 32px;
  outline: none;
  text-shadow: none;
}
/* line 1062, ../scss/main.scss */
.ui-select:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 34px;
  border-left: 1px solid #e3e3e3;
  background: url(../../img/revision/select-arrow.png) no-repeat center 13px;
}
/* line 1072, ../scss/main.scss */
.ui-select.inverse {
  background: #59839f;
  border-color: #59839f;
}
/* line 1075, ../scss/main.scss */
.ui-select.inverse select {
  color: #fff;
}
/* line 1076, ../scss/main.scss */
.ui-select.inverse:before {
  border-left-color: #7a9cb2;
  background-position: center -56px;
}

/*==============================
=          Login İn            =
==============================*/
/* line 1086, ../scss/main.scss */
.login-bg {
  background: url("../../img/revision/blueish.jpg") no-repeat center center fixed;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/revison/blueish.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/revison/blueish.jpg', sizingMethod='scale')";
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
}

/* line 1093, ../scss/main.scss */
.login-wrapper {
  top: 160px;
}
/* line 1095, ../scss/main.scss */
.login-wrapper .logo {
  margin-bottom: 15px;
}
/* line 1096, ../scss/main.scss */
.login-wrapper .box {
  position: relative;
  width: 338px;
  height: 330px;
  padding-top: 55px;
  box-shadow: none;
  background-color: rgba(227, 227, 227, 0.5);
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
}
/* line 1105, ../scss/main.scss */
.login-wrapper .box .content-wrap {
  width: 61%;
}
/* line 1106, ../scss/main.scss */
.login-wrapper .box input[type="text"], .login-wrapper .box input[type="password"] {
  font-family: "Oxygen", Arial, sans-serif;
  font-size: 13px;
  height: 33px;
  margin-bottom: 6px;
}
/* line 1113, ../scss/main.scss */
.login-wrapper .box input {
  color: #59839f !important;
  font-weight: 700 !important;
}
/* line 1118, ../scss/main.scss */
.login-wrapper .box input::-moz-placeholder {
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  color: #59839f !important;
}
/* line 1125, ../scss/main.scss */
.login-wrapper .box input:-ms-input-placeholder {
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  color: #59839f !important;
}
/* line 1132, ../scss/main.scss */
.login-wrapper .box input::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  color: #59839f !important;
}
/* line 1139, ../scss/main.scss */
.login-wrapper .box .login {
  margin-top: 40px;
  width: 100%;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important;
  outline: none;
}
/* line 1146, ../scss/main.scss */
.login-wrapper .box .remember {
  position: absolute;
  left: -6px;
  bottom: 12px;
  margin-bottom: 0;
  overflow: visible;
}
/* line 1153, ../scss/main.scss */
.login-wrapper .box .remember label {
  font-size: 11px;
  font-weight: 400;
  color: #323e4b !important;
}
/* line 1158, ../scss/main.scss */
.login-wrapper .box .remember .checker {
  width: 25px;
  height: 25px;
  background-color: rgba(227, 227, 227, 0.6);
  border-color: transparent;
}
/* line 1164, ../scss/main.scss */
.login-wrapper .box .remember .checked {
  width: 25px;
  height: 25px;
  background-position: 4px 4px!important;
}
/* line 1172, ../scss/main.scss */
.login-wrapper .box .lang label.radio {
  display: inline-block;
  float: left;
  margin: 0 30px 0 0;
  padding-left: 0;
  font-weight: 400;
  line-height: 32px;
  color: #323e4b;
}
/* line 1180, ../scss/main.scss */
.login-wrapper .box .lang label.radio input {
  margin: 0;
}
/* line 1182, ../scss/main.scss */
.login-wrapper .box .lang div.radio {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  background-color: rgba(227, 227, 227, 0.6);
  border-color: transparent;
}
/* line 1189, ../scss/main.scss */
.login-wrapper .box .lang div.radio input {
  width: 25px;
  height: 25px;
}
/* line 1193, ../scss/main.scss */
.login-wrapper .box .lang div.radio span.checked {
  width: 25px;
  height: 25px;
  background-position: 5px 5px !important;
}
/* line 1201, ../scss/main.scss */
.login-wrapper .box .form-control {
  background-color: rgba(227, 227, 227, 0.6);
  border: none;
}
/* line 1206, ../scss/main.scss */
.login-wrapper .box a.forgot {
  display: block;
  font-size: 11px;
  color: #323e4b;
  font-style: normal;
}
/* line 1213, ../scss/main.scss */
.login-wrapper .no-account {
  width: 338px;
  height: 100%;
  margin: 0 auto;
  padding-top: 16px;
  font-size: 13px;
}
/* line 1219, ../scss/main.scss */
.login-wrapper .no-account p {
  float: right;
}
/* line 1220, ../scss/main.scss */
.login-wrapper .no-account p, .login-wrapper .no-account a {
  color: #dad3d0;
}

/*==============================
=           Tables             =
==============================*/
/* line 1227, ../scss/main.scss */
#pad-wrapper {
  margin-top: 40px;
}

/* line 1229, ../scss/main.scss */
.table {
  border: 1px solid #e3e3e3;
}
/* line 1231, ../scss/main.scss */
.table thead tr th {
  border-bottom: 1px solid #e3e3e3 !important;
  border-right: 1px solid #e3e3e3 !important;
  color: #323e4b;
  font-size: 13px;
  font-weight: 700;
}
/* line 1238, ../scss/main.scss */
.table tr td, .table th {
  border-color: #e3e3e3 !important;
}
/* line 1239, ../scss/main.scss */
.table tr {
  height: 50px;
}
/* line 1241, ../scss/main.scss */
.table tr .last {
  border-bottom: 1px solid #e3e3e3;
}
/* line 1244, ../scss/main.scss */
.table th.first {
  width: 1%;
}
/* line 1245, ../scss/main.scss */
.table th.last {
  width: 11%;
}
/* line 1247, ../scss/main.scss */
.table th.last span.line {
  left: 8px;
}
/* line 1252, ../scss/main.scss */
.table td span {
  padding-left: 12px;
}
/* line 1253, ../scss/main.scss */
.table td .edit {
  width: 150px;
  padding-left: 0;
}
/* line 1259, ../scss/main.scss */
.table thead th {
  height: 32px;
  padding: 15px 0 0 20px !important;
}
/* line 1264, ../scss/main.scss */
.table a {
  color: #59839f;
}
/* line 1265, ../scss/main.scss */
.table .name {
  margin-left: 10px;
}
/* line 1266, ../scss/main.scss */
.table .img-circle {
  width: 36px;
}

/* line 1269, ../scss/main.scss */
.track {
  position: relative;
  display: block;
  left: -51px;
  margin: 0 0 40px 0;
  bottom: 0;
  width: 40px;
  height: 1px;
  background-color: #e3e3e3;
}

/* line 1280, ../scss/main.scss */
.table-wrapper {
  position: relative;
  margin-bottom: 40px;
}
/* line 1285, ../scss/main.scss */
.table-wrapper.orders-table .first {
  width: 4%;
}
/* line 1286, ../scss/main.scss */
.table-wrapper.orders-table .last {
  text-decoration: none;
}
/* line 1287, ../scss/main.scss */
.table-wrapper.orders-table .label {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: 5px 14px;
}
/* line 1293, ../scss/main.scss */
.table-wrapper.orders-table .label i {
  position: absolute;
  z-index: 10;
  color: #000;
  top: -1px;
  left: -30px;
  font-size: 25px;
}
/* line 1301, ../scss/main.scss */
.table-wrapper.orders-table .label.label-inverse i {
  color: #323e4b;
}
/* line 1302, ../scss/main.scss */
.table-wrapper.orders-table .label.label-info i {
  color: #f0ad4e;
}
/* line 1303, ../scss/main.scss */
.table-wrapper.orders-table .label.label-success i {
  color: #5cb85c;
}
/* line 1304, ../scss/main.scss */
.table-wrapper.orders-table .label.label-danger i {
  color: #d9534f;
}
/* line 1306, ../scss/main.scss */
.table-wrapper.orders-table .status-indicator {
  margin-left: -25px;
}
/* line 1308, ../scss/main.scss */
.table-wrapper.orders-table .status-indicator label {
  width: 21px;
  height: 21px;
  font-size: 11px;
  line-height: 13px;
}
/* line 1314, ../scss/main.scss */
.table-wrapper.orders-table .status-indicator label.badge {
  margin: 0 12px 0 25px;
}
/* line 1316, ../scss/main.scss */
.table-wrapper.orders-table .status-indicator label.badge.badge-inverse {
  background-color: #323e4b;
}
/* line 1317, ../scss/main.scss */
.table-wrapper.orders-table .status-indicator label.badge.badge-info {
  background-color: #f0ad4e;
}
/* line 1318, ../scss/main.scss */
.table-wrapper.orders-table .status-indicator label.badge.badge-success {
  background-color: #5cb85c;
}
/* line 1319, ../scss/main.scss */
.table-wrapper.orders-table .status-indicator label.badge.badge-danger {
  background-color: #d9534f;
}
/* line 1324, ../scss/main.scss */
.table-wrapper.orders-table th {
  text-decoration: underline;
  width: auto !important;
}
/* line 1329, ../scss/main.scss */
.table-wrapper .actions {
  float: none;
  width: 100%;
}
/* line 1332, ../scss/main.scss */
.table-wrapper .actions li {
  padding: 0 !important;
  float: left;
  height: 30px;
  width: 33%;
  margin-top: -2px;
  text-align: center;
  border-left: 1px solid #e3e3e3;
}
/* line 1341, ../scss/main.scss */
.table-wrapper .actions li i {
  display: inline-block;
  font-size: 20px;
  padding-top: 4px;
}
/* line 1349, ../scss/main.scss */
.table-wrapper .pagination {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 1353, ../scss/main.scss */
.table-wrapper .btn-flat {
  width: 170px;
}
/* line 1354, ../scss/main.scss */
.table-wrapper .filter-block {
  margin-bottom: 15px;
}
/* line 1356, ../scss/main.scss */
.table-wrapper .filter-block .new-product {
  padding: 9px 14px;
  margin-right: 4px;
}
/* line 1360, ../scss/main.scss */
.table-wrapper .filter-block .search {
  max-width: 172px;
  margin-right: 0;
  outline: none;
}
/* line 1366, ../scss/main.scss */
.table-wrapper .datatables-page {
  margin-top: 20px;
}
/* line 1368, ../scss/main.scss */
.table-wrapper .datatables-page table td {
  position: relative;
}
/* line 1375, ../scss/main.scss */
.table-wrapper .table input {
  margin-top: 0!important;
  margin-left: -13px;
}

/* line 1382, ../scss/main.scss */
.dataTables_info {
  display: none;
}

/* line 1384, ../scss/main.scss */
.sorting {
  background: url("../../img/datatables/sort_both.png") no-repeat center right;
}

/* line 1385, ../scss/main.scss */
.sorting_asc {
  background: url("../../img/datatables/sort_asc.png") no-repeat center right;
}

/* line 1386, ../scss/main.scss */
.sorting_desc {
  background: url("../../img/datatables/sort_desc.png") no-repeat center right;
}

/* line 1387, ../scss/main.scss */
.sorting_asc_disabled {
  background: url("../../img/datatables/sort_asc_disabled.png") no-repeat center right;
}

/* line 1388, ../scss/main.scss */
.sorting_desc_disabled {
  background: url("../../img/datatables/sort_desc_disabled.png") no-repeat center right;
}

/*==============================
=           Chart              =
==============================*/
/* line 1393, ../scss/main.scss */
.chart {
  text-align: center;
}
/* line 1395, ../scss/main.scss */
.chart span {
  display: block;
  margin-top: -30px;
  font-size: 13px;
  font-weight: 700;
  color: #59839f;
}
/* line 1402, ../scss/main.scss */
.chart.min input {
  top: -13px !important;
  font-size: 35px !important;
  margin-left: -130px !important;
  width: 105px !important;
}
/* line 1408, ../scss/main.scss */
.chart.med input {
  width: 102px !important;
  top: -13px !important;
  margin-left: -130px !important;
  font-size: 42px !important;
}
/* line 1414, ../scss/main.scss */
.chart input {
  top: -18px !important;
  height: 80px !important;
  font-size: 72px !important;
  background-color: transparent !important;
  font-family: "Montserrat", Arial, sans-serif !important;
  letter-spacing: -2px;
}

/* line 1424, ../scss/main.scss */
.mb {
  margin-bottom: 100px;
}

/* line 1425, ../scss/main.scss */
.chart-title {
  font-size: 15px;
  margin-top: 30px;
  font-weight: 700 !important;
  color: #323e4b !important;
}

/* line 1433, ../scss/main.scss */
text {
  font-size: 13px !important;
}

/*==============================
=          Datatables          =
==============================*/
/* line 1440, ../scss/main.scss */
.dataTables_filter input[type="text"] {
  width: 172px;
  padding: 0;
  outline: none;
  padding-left: 12px;
}

/* line 1446, ../scss/main.scss */
.dataTables_length select {
  width: 60px;
  outline: none;
  color: #323e4b;
  padding-left: 5px;
}

/* line 1454, ../scss/main.scss */
.paging_full_numbers a {
  padding: 8px 15px !important;
}
/* line 1456, ../scss/main.scss */
.paging_full_numbers a.paginate_active {
  background-color: #59839f;
  border-color: #59839f;
}
/* line 1460, ../scss/main.scss */
.paging_full_numbers a.paginate_button {
  border-color: #f1f1f1;
}
/* line 1462, ../scss/main.scss */
.paging_full_numbers a.paginate_button.first, .paging_full_numbers a.paginate_button.last {
  display: none;
}
/* line 1463, ../scss/main.scss */
.paging_full_numbers a.paginate_button:hover {
  background-color: #fff;
}
/* line 1466, ../scss/main.scss */
.paging_full_numbers .previous, .paging_full_numbers .next {
  background-color: #f1f1f1 !important;
  border-color: #f1f1f1 !important;
  padding: 10px 10px 9px;
}
/* line 1471, ../scss/main.scss */
.paging_full_numbers .previous {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 1475, ../scss/main.scss */
.paging_full_numbers .next {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/*==============================
=           Mobile             =
==============================*/
/* line 1484, ../scss/main.scss */
.popover {
  top: 150px;
  min-width: 300px!important;
  padding-top: 20px;
  border-color: #e3e3e3 !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2) !important;
}
/* line 1492, ../scss/main.scss */
.popover:before {
  content: "";
  position: absolute;
  top: 27px;
  left: -14px;
  width: 14px;
  height: 25px;
  background: url(../../img/revision/popover-arrow.png) no-repeat right top;
}
/* line 1502, ../scss/main.scss */
.popover.right .arrow {
  display: none;
}
/* line 1504, ../scss/main.scss */
.popover .popover-content {
  min-width: 300px!important;
}
/* line 1506, ../scss/main.scss */
.popover .popover-content p {
  font-size: 11px;
  line-height: 15px;
}
/* line 1513, ../scss/main.scss */
.popover form label {
  margin-bottom: 10px;
}
/* line 1514, ../scss/main.scss */
.popover form .field-box {
  margin-bottom: 20px;
}
/* line 1517, ../scss/main.scss */
.popover form textarea {
  width: 100%;
  height: 76px;
}
/* line 1521, ../scss/main.scss */
.popover form button {
  padding: 9px 14px;
  outline: none;
}

/* line 1528, ../scss/main.scss */
.popover-title {
  padding: 13px 10px 13px 20px;
  margin: -20px 0 0 0;
  background-color: transparent;
  border-bottom: 1px solid #f1f1f1;
  font: 400 18px "Oxygen", Arial, sans-serif;
}
/* line 1534, ../scss/main.scss */
.popover-title a {
  float: right;
  font-size: 20px;
  line-height: 20px;
  color: #9ba3ad;
  text-decoration: none;
}

/* line 1543, ../scss/main.scss */
.mobile {
  position: relative;
  width: 267px;
  height: 509px;
  padding: 89px 28px 85px 28px;
  background: url(../../img/revision/mobile-bg.png) no-repeat;
}
/* line 1550, ../scss/main.scss */
.mobile .mobile-content {
  position: relative;
  width: 212px;
  height: 333px;
  border: 2px solid #59839f;
}
/* line 1555, ../scss/main.scss */
.mobile .mobile-content .alert {
  margin: 5px 0 0 0 !important;
  padding: 0;
  color: #838383;
  border: none;
  font-size: 11px;
  background-color: transparent;
}
/* line 1562, ../scss/main.scss */
.mobile .mobile-content .alert .icon-warning-sign {
  padding: 0;
  margin-right: 8px;
  font-size: 18px;
  color: #59839f;
}
/* line 1570, ../scss/main.scss */
.mobile .mobile-content .field-box {
  min-width: 186px;
}
/* line 1572, ../scss/main.scss */
.mobile .mobile-content .add-menu {
  margin-left: 81px;
  margin-top: 18px;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
/* line 1581, ../scss/main.scss */
.mobile .mobile-content .add-menu .icon-plus {
  position: relative;
  width: 48px;
  height: 48px;
  display: inline-block;
  padding-top: 11px;
  font-size: 28px;
  background-color: #59839f;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  color: #fff;
}
/* line 1593, ../scss/main.scss */
.mobile .mobile-content .add-menu span {
  display: block;
  margin-top: 5px;
  font-weight: 700;
  color: #59839f;
}
/* line 1600, ../scss/main.scss */
.mobile .mobile-content .add-menu.min {
  /* listeleme max seviyede olduğu zaman eklenecek */
  display: inline-block;
  text-align: center;
  margin-left: 96px;
}
/* line 1604, ../scss/main.scss */
.mobile .mobile-content .add-menu.min .icon-plus {
  padding-top: 0;
  width: 0;
  height: 0;
  margin-top: -3px;
  color: #59839f;
  font-size: 22px;
  background-color: transparent;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
/* line 1614, ../scss/main.scss */
.mobile .mobile-content .add-menu.min span {
  display: none;
}
/* line 1618, ../scss/main.scss */
.mobile .mobile-content .edit-title {
  position: absolute;
  display: inline-block;
  left: 0;
  top: -25px;
  text-decoration: underline;
  text-indent: -9999px;
  cursor: pointer;
}
/* line 1627, ../scss/main.scss */
.mobile .mobile-content .edit-title .icon-remove {
  display: none;
  font-size: 17px;
  cursor: pointe;
  text-decoration: none;
  color: #59839f;
}
/* line 1636, ../scss/main.scss */
.mobile .mobile-content .list-menu {
  margin: -2px 0 0 -2px;
  padding: 0;
  width: 100%;
  max-height: 272px;
  list-style: none;
  overflow-x: hidden;
}
/* line 1643, ../scss/main.scss */
.mobile .mobile-content .list-menu > li {
  position: relative;
  border-top: 1px solid #fff;
}
/* line 1646, ../scss/main.scss */
.mobile .mobile-content .list-menu > li > a {
  display: block;
  padding: 8px 10px;
  padding: 8px 26px 8px 10px;
  height: 33px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  line-height: 20px;
  word-break: break-all;
  overflow: hidden;
  background-color: #59839f;
}
/* line 1658, ../scss/main.scss */
.mobile .mobile-content .list-menu > li > a .icon-cog {
  display: none;
  vertical-align: middle;
  margin-right: 8px;
  font-size: 17px;
  line-height: 0;
  cursor: pointer;
  text-indent: -9999px;
}
/* line 1671, ../scss/main.scss */
.mobile .mobile-content .list-menu > li.dropdown > a .icon-cog {
  position: absolute;
  right: 0;
  top: 9px;
  display: block;
  width: 12px;
  height: 16px;
  background: url(../../img/revision/dropdown-arrow.png) #59839f no-repeat;
}
/* line 1683, ../scss/main.scss */
.mobile .mobile-content .list-menu > li.active .sub-menu {
  display: none;
}
/* line 1685, ../scss/main.scss */
.mobile .mobile-content .list-menu > li .sub-menu {
  display: none;
  position: absolute;
  left: -1px;
  top: 0;
  padding: 0;
  width: 106px;
  list-style: none;
  z-index: 1000;
  background-color: #323e4b;
}
/* line 1695, ../scss/main.scss */
.mobile .mobile-content .list-menu > li .sub-menu li {
  float: left;
  margin-left: 8px;
  height: 33px;
}
/* line 1699, ../scss/main.scss */
.mobile .mobile-content .list-menu > li .sub-menu li a {
  color: #fff;
  font-size: 18px;
  line-height: 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
/* line 1708, ../scss/main.scss */
.mobile .mobile-content .list-menu > li .sub-menu li a i {
  display: inline-block;
  line-height: 32px;
}
/* line 1712, ../scss/main.scss */
.mobile .mobile-content .list-menu > li .sub-menu li a i.icon-exchange {
  margin: 0 13px;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
/* line 1718, ../scss/main.scss */
.mobile .mobile-content .list-menu > li .sub-menu li a i.icon-ban-circle {
  color: #d9534f;
}
/* line 1728, ../scss/main.scss */
.mobile .mobile-content .edit-list {
  width: 212px;
  margin: 0 0 0 -2px;
}
/* line 1733, ../scss/main.scss */
.mobile .mobile-content .edit-list > li.dropdown .icon-cog {
  background: url(../../img/revision/dropdown-arrow.png) #59839f no-repeat 192px center;
}
/* line 1741, ../scss/main.scss */
.mobile .mobile-content .dropdown-list > li {
  background-color: #eaeaea;
  padding: 8px 10px;
  height: 34px;
  white-space: nowrap;
}
/* line 1747, ../scss/main.scss */
.mobile .mobile-content .dropdown-list > li > span {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #59839f;
}
/* line 1752, ../scss/main.scss */
.mobile .mobile-content .dropdown-list > li > span .icon-cog {
  display: none;
  vertical-align: middle;
  margin-right: 25px;
  font-size: 17px;
  cursor: pointer;
  line-height: 0;
  text-indent: -9999px;
}
/* line 1763, ../scss/main.scss */
.mobile .mobile-content .dropdown-list > li.active-menu {
  padding: 1px 10px;
  font-weight: 700;
  height: 33px;
  line-height: 30px;
  background-color: #59839f;
}
/* line 1769, ../scss/main.scss */
.mobile .mobile-content .dropdown-list > li.active-menu span {
  color: #fff;
}
/* line 1770, ../scss/main.scss */
.mobile .mobile-content .dropdown-list > li.active-menu a {
  float: right;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  padding: 7px 0 0 0;
  cursor: pointer;
  background-color: transparent;
}
/* line 1783, ../scss/main.scss */
.mobile .mobile-content .add-title {
  margin-top: -2px;
  padding: 7px 8px;
  height: 33px;
  width: 212px !important;
  font-weight: bold;
  margin-left: -2px;
  text-align: center;
  color: #fff;
  background: url(../../img/revision/icon-dotted.png) #5cb85c no-repeat 14px 14px;
}
/* line 1793, ../scss/main.scss */
.mobile .mobile-content .add-title:hover {
  text-decoration: none;
}
/* line 1794, ../scss/main.scss */
.mobile .mobile-content .add-title .icon-pencil {
  float: right;
  font-size: 19px;
  display: none;
}
/* line 1799, ../scss/main.scss */
.mobile .mobile-content .add-title.added {
  background-image: none;
  text-align: left;
}
/* line 1802, ../scss/main.scss */
.mobile .mobile-content .add-title.added .icon-pencil {
  display: block;
}
/* line 1807, ../scss/main.scss */
.mobile .mobile-content form label {
  margin-bottom: 10px;
}
/* line 1808, ../scss/main.scss */
.mobile .mobile-content form .field-box {
  margin-bottom: 18px;
}
/* line 1811, ../scss/main.scss */
.mobile .mobile-content form button {
  padding: 9px 14px;
  outline: none;
}
/* line 1818, ../scss/main.scss */
.mobile .mobile-content.add .add-title {
  display: block;
}
/* line 1819, ../scss/main.scss */
.mobile .mobile-content.add .edit-list {
  display: none;
}
/* line 1821, ../scss/main.scss */
.mobile .mobile-content.add li a .icon-cog {
  display: none;
}
/* line 1825, ../scss/main.scss */
.mobile .mobile-content.listing {
  /* listeleme yapılacğı zaman eklenecek */
}
/* line 1826, ../scss/main.scss */
.mobile .mobile-content.listing .add-menu {
  margin-top: 7px;
}
/* line 1828, ../scss/main.scss */
.mobile .mobile-content.listing .add-menu span {
  text-indent: -9999px;
}
/* line 1830, ../scss/main.scss */
.mobile .mobile-content.listing .edit-list {
  display: block;
}
/* line 1831, ../scss/main.scss */
.mobile .mobile-content.listing .edit-title {
  text-indent: 0;
}
/* line 1834, ../scss/main.scss */
.mobile .mobile-content.edit {
  /* menü ile ilgili düzenleme yapılacağı zaman eklenecek */
}
/* line 1835, ../scss/main.scss */
.mobile .mobile-content.edit .edit-title {
  width: 12px;
  height: 16px;
  overflow: hidden;
}
/* line 1839, ../scss/main.scss */
.mobile .mobile-content.edit .edit-title .icon-remove {
  text-indent: 0;
  display: inline-block;
}
/* line 1845, ../scss/main.scss */
.mobile .mobile-content.edit .edit-list .icon-cog {
  display: block;
}
/* line 1847, ../scss/main.scss */
.mobile .mobile-content.edit .edit-list li a.icon-cog {
  display: inline-block !important;
  text-indent: 0;
}
/* line 1855, ../scss/main.scss */
.mobile .mobile-content.edit .list-menu li a {
  padding-left: 114px;
}
/* line 1856, ../scss/main.scss */
.mobile .mobile-content.edit .list-menu li .sub-menu {
  display: block;
}
/* line 1858, ../scss/main.scss */
.mobile .mobile-content.edit .list-menu li .sub-menu li a {
  padding-left: 0;
}
/* line 1863, ../scss/main.scss */
.mobile .mobile-content.edit .dropdown-list li.active-menu span {
  padding-left: 0!important;
}
/* line 1864, ../scss/main.scss */
.mobile .mobile-content.edit .dropdown-list span {
  padding-left: 105px;
}
/* line 1868, ../scss/main.scss */
.mobile .mobile-content.settings {
  /* menü ile ilgili ayar yapılacağı zaman eklenecek */
}
/* line 1871, ../scss/main.scss */
.mobile .mobile-content.settings .edit-list li a .icon-cog {
  -webkit-opacity: 0.3 !important;
  -moz-opacity: 0.3 !important;
  opacity: 0.3 !important;
}
/* line 1880, ../scss/main.scss */
.mobile .mobile-content.sub-nav .add-menu.min .icon-plus {
  height: 0;
  display: inline-block;
  margin-top: 0;
  font-size: 20px;
  background-color: #000;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  color: #59839f;
  text-indent: 0;
}
/* line 1891, ../scss/main.scss */
.mobile .mobile-content.sub-nav .add-title {
  display: block;
}
/* line 1895, ../scss/main.scss */
.mobile.design-screen {
  padding: 106px 34px 117px 34px;
  width: 345px;
  height: 663px;
  background: url(../../img/revision/large-mobile-bg.png) no-repeat;
}
/* line 1901, ../scss/main.scss */
.mobile.design-screen .mobile-content {
  width: 278px;
  height: 437px;
  border: 3px solid #59839f;
  padding: 0 15px 15px 15px;
}
/* line 1907, ../scss/main.scss */
.mobile.design-screen .mobile-content h2 {
  display: block;
  height: 60px;
  width: 275px;
  margin: 0 0 10px -15px;
  font: 18px/60px "Oxygen", Arial, sans-serif;
  padding-left: 14px;
  color: #fff;
  background-color: #59839f;
}
/* line 1918, ../scss/main.scss */
.mobile.design-screen .mobile-content label {
  margin-bottom: 12px;
}
/* line 1920, ../scss/main.scss */
.mobile.design-screen .mobile-content p {
  font-size: 11px;
  line-height: 14px;
}
/* line 1925, ../scss/main.scss */
.mobile.design-screen .mobile-content textarea {
  height: 115px;
}
/* line 1927, ../scss/main.scss */
.mobile.design-screen .mobile-content .counter {
  float: right;
  font-size: 12px;
  color: #59839f;
}
/* line 1933, ../scss/main.scss */
.mobile.design-screen .mobile-content .btn-flat {
  min-width: 105px;
  padding: 10px 14px;
}
/* line 1938, ../scss/main.scss */
.mobile.design-screen .mobile-content .ui-slider {
  margin: 2px 0 15px 0;
}
/* line 1940, ../scss/main.scss */
.mobile.design-screen .mobile-content .cancel-btn {
  margin-right: 10px;
  text-decoration: underline;
  color: #59839f;
  line-height: 33px;
}
/* line 1947, ../scss/main.scss */
.mobile.design-screen .mobile-content .list-menu {
  max-height: 200px;
}
/* line 1950, ../scss/main.scss */
.mobile.design-screen .mobile-content .list-menu li a .icon-minus {
  margin-right: 12px;
}
/* line 1951, ../scss/main.scss */
.mobile.design-screen .mobile-content .list-menu li.dropdown a {
  background-position: 218px center;
  background-color: #323e4b;
  color: #fff;
}
/* line 1959, ../scss/main.scss */
.mobile.design-screen .mobile-content .add-menu {
  margin: 0;
  width: 100%;
  height: 32px;
}
/* line 1964, ../scss/main.scss */
.mobile.design-screen .mobile-content .add-menu .icon-plus {
  display: block;
  height: 32px;
  width: 100%;
  margin: 1px 0 8px 0;
  padding-top: 7px;
  font-size: 20px;
  color: #59839f;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background-color: #e0e2e4;
}

/* line 1980, ../scss/main.scss */
.play-ringtone {
  text-align: center;
}
/* line 1982, ../scss/main.scss */
.play-ringtone .ringtone-icon {
  display: inline-block;
  margin: 70px 0 55px 0;
  margin-bottom: 55px;
  width: 146px;
  height: 146px;
  background-image: url("../../img/revision/play-ringtone.png");
}
/* line 1990, ../scss/main.scss */
.play-ringtone h2 {
  text-align: left;
}

/* line 1993, ../scss/main.scss */
.seperate-line {
  display: block;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
/* line 1999, ../scss/main.scss */
.seperate-line span {
  display: inline-block;
  font-weight: bold;
  padding: 0 10px;
  background-color: #fff;
  color: #333;
  z-index: 100;
}
/* line 2007, ../scss/main.scss */
.seperate-line:before {
  position: absolute;
  left: 0;
  bottom: 7px;
  content: "";
  width: 100%;
  height: 1px;
  z-index: -10;
  border-bottom: 1px solid #e3e3e3;
}

/* line 2020, ../scss/main.scss */
.modal-sm .modal-dialog {
  width: 300px!important;
}
/* line 2022, ../scss/main.scss */
.modal-sm .modal-dialog .modal-content {
  overflow: hidden;
}
/* line 2023, ../scss/main.scss */
.modal-sm .modal-dialog .modal-body {
  padding: 0;
}
/* line 2024, ../scss/main.scss */
.modal-sm .modal-dialog .form-content {
  padding: 20px;
}
/* line 2026, ../scss/main.scss */
.modal-sm .modal-dialog .field-box {
  display: inline-block;
  margin-bottom: 5px !important;
}
/* line 2029, ../scss/main.scss */
.modal-sm .modal-dialog .field-box.value {
  width: 172px;
}
/* line 2030, ../scss/main.scss */
.modal-sm .modal-dialog .field-box.key {
  width: 65px;
}
/* line 2033, ../scss/main.scss */
.modal-sm .modal-dialog .checkbox-inline {
  padding-left: 0;
  margin: 5px 0 0 0 !important;
  line-height: 0;
  color: #838383;
}
/* line 2038, ../scss/main.scss */
.modal-sm .modal-dialog .checkbox-inline .check-text {
  display: block;
  float: left;
  margin-bottom: -5px;
  width: 200px;
  font-size: 11px;
  line-height: 14px;
}
/* line 2048, ../scss/main.scss */
.modal-sm .modal-dialog .btn-flat {
  background-color: #323e4b;
}
/* line 2050, ../scss/main.scss */
.modal-sm .modal-dialog .option {
  width: 100%;
  padding: 9px 12px 6px 12px;
  margin-bottom: -4px !important;
  background-color: #59839f;
}
/* line 2055, ../scss/main.scss */
.modal-sm .modal-dialog .option .cancel-btn {
  color: #fff;
}
/* line 2058, ../scss/main.scss */
.modal-sm .alert {
  margin: 5px 0 0 0 !important;
  padding: 0;
  color: #838383;
  border: none;
  font-size: 11px;
  background-color: transparent;
}
/* line 2065, ../scss/main.scss */
.modal-sm .alert .icon-warning-sign {
  padding: 0;
  margin-right: 8px;
  font-size: 18px;
  color: #59839f;
}
/* line 2072, ../scss/main.scss */
.modal-sm .btn-flat {
  min-width: 105px;
  padding: 10px 14px;
}
/* line 2076, ../scss/main.scss */
.modal-sm .cancel-btn {
  margin-right: 10px;
  text-decoration: underline;
  color: #59839f;
  line-height: 33px;
}
/* line 2082, ../scss/main.scss */
.modal-sm.max .modal-dialog {
  width: 400px!important;
}
/* line 2084, ../scss/main.scss */
.modal-sm.max .modal-dialog .modal-body {
  padding: 12px 0 45px 0;
}

/* line 2092, ../scss/main.scss */
.modal-alert .modal-header {
  background-color: #d9534f;
}
/* line 2094, ../scss/main.scss */
.modal-alert .modal-header .icon-warning-sign {
  padding-right: 5px;
}
/* line 2095, ../scss/main.scss */
.modal-alert .modal-header h4 {
  color: #fff;
}
/* line 2096, ../scss/main.scss */
.modal-alert .modal-header .close {
  margin-top: 1px;
  opacity: 1;
  text-shadow: none;
}
/* line 2101, ../scss/main.scss */
.modal-alert .modal-header .icon-remove {
  color: #fff;
}
/* line 2103, ../scss/main.scss */
.modal-alert .modal-body {
  padding: 10px 20px !important;
  text-align: right;
}
/* line 2106, ../scss/main.scss */
.modal-alert .modal-body p {
  margin-bottom: 15px;
  text-align: left;
}
/* line 2110, ../scss/main.scss */
.modal-alert .modal-body h5 {
  margin: 10px 0;
  color: #d9534f;
  text-align: left;
}
/* line 2115, ../scss/main.scss */
.modal-alert .modal-body .btn-flat {
  background-color: #d9534f;
}

/* line 2121, ../scss/main.scss */
.new-node .modal-dialog {
  width: 416px;
}
/* line 2123, ../scss/main.scss */
.new-node .sub-title {
  display: block;
  font-size: 14px;
  margin: 28px 0 40px;
}
/* line 2130, ../scss/main.scss */
.new-node form .form-head {
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
}
/* line 2135, ../scss/main.scss */
.new-node form .ui-select {
  width: 60% !important;
}
/* line 2136, ../scss/main.scss */
.new-node form .btn-flat {
  min-width: 105px;
  margin-left: 3px;
  margin-bottom: -1px !important;
  padding: 10px 14px;
}
/* line 2144, ../scss/main.scss */
.new-node .new-node-list {
  overflow: hidden;
  padding: 0;
}
/* line 2147, ../scss/main.scss */
.new-node .new-node-list li {
  float: left;
  margin: 0 14px 50px 0;
  list-style: none;
  text-align: center;
}
/* line 2152, ../scss/main.scss */
.new-node .new-node-list li.last {
  margin-right: 0;
}
/* line 2154, ../scss/main.scss */
.new-node .new-node-list li a {
  display: inline-block;
  width: 78px;
  height: 78px;
  color: #59839f;
  border: 6px solid #f1f1f1;
  white-space: nowrap;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  background: url(../../img/revision/new-node-icons.png) no-repeat 20px 0;
}
/* line 2163, ../scss/main.scss */
.new-node .new-node-list li a.display-text {
  background-position: 20px 23px;
}
/* line 2164, ../scss/main.scss */
.new-node .new-node-list li a.get-input {
  background-position: 20px -43px;
}
/* line 2165, ../scss/main.scss */
.new-node .new-node-list li a.select-item {
  background-position: 20px -103px;
}
/* line 2166, ../scss/main.scss */
.new-node .new-node-list li a.play-tone {
  background-position: 20px -164px;
}
/* line 2167, ../scss/main.scss */
.new-node .new-node-list li a.send-sms {
  background-position: 20px -349px;
}
/* line 2168, ../scss/main.scss */
.new-node .new-node-list li a.setup-call {
  background-position: 20px -230px;
}
/* line 2169, ../scss/main.scss */
.new-node .new-node-list li a.open-browser {
  background-position: 19px -292px;
}
/* line 2171, ../scss/main.scss */
.new-node .new-node-list li a.active {
  border-color: #59839f;
}
/* line 2172, ../scss/main.scss */
.new-node .new-node-list li a:hover {
  background-color: #59839f;
}
/* line 2174, ../scss/main.scss */
.new-node .new-node-list li a:hover.display-text {
  background-position: -51px 23px;
}
/* line 2175, ../scss/main.scss */
.new-node .new-node-list li a:hover.get-input {
  background-position: -52px -43px;
}
/* line 2176, ../scss/main.scss */
.new-node .new-node-list li a:hover.select-item {
  background-position: -51px -103px;
}
/* line 2177, ../scss/main.scss */
.new-node .new-node-list li a:hover.play-tone {
  background-position: -51px -164px;
}
/* line 2178, ../scss/main.scss */
.new-node .new-node-list li a:hover.send-sms {
  background-position: -52px -349px;
}
/* line 2179, ../scss/main.scss */
.new-node .new-node-list li a:hover.setup-call {
  background-position: -51px -230px;
}
/* line 2180, ../scss/main.scss */
.new-node .new-node-list li a:hover.open-browser {
  background-position: -51px -292px;
}
/* line 2183, ../scss/main.scss */
.new-node .new-node-list li a span {
  font-size: 12px;
  display: inline-block;
  margin-top: 83px;
}

/* line 2193, ../scss/main.scss */
.mobile.gray {
  width: 345px;
  height: 663px;
  background: url(../../img/revision/mobile-gray.png) no-repeat;
}

/* line 2199, ../scss/main.scss */
.tree-menu {
  position: relative;
  display: inline-block;
  margin: 30px 0;
  padding: 0;
  list-style: none;
}
/* line 2205, ../scss/main.scss */
.tree-menu:after {
  content: "";
  position: absolute;
  top: 35px;
  left: 65px;
  width: 6px;
  height: 100%;
  background-color: #f1f1f1;
}
/* line 2214, ../scss/main.scss */
.tree-menu .item {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-bottom: 40px;
  padding: 0 35px 0 0;
}
/* line 2221, ../scss/main.scss */
.tree-menu .label {
  min-width: 135px;
  height: 35px;
  margin: 0;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
}
/* line 2228, ../scss/main.scss */
.tree-menu .add-item, .tree-menu .remove-item {
  position: absolute;
  top: 3px;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  background-color: #59839f;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
}
/* line 2240, ../scss/main.scss */
.tree-menu .add-item .icon-plus, .tree-menu .add-item .icon-remove, .tree-menu .remove-item .icon-plus, .tree-menu .remove-item .icon-remove {
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  color: #FFF;
}
/* line 2246, ../scss/main.scss */
.tree-menu .add-item.new, .tree-menu .remove-item.new {
  top: 5px;
  left: 53px;
  z-index: 2;
}
/* line 2252, ../scss/main.scss */
.tree-menu .remove-item {
  left: -38px;
  line-height: 28px;
  background-color: #e3e3e3;
}
/* line 2256, ../scss/main.scss */
.tree-menu .remove-item:hover {
  background-color: #d9534f;
}
/* line 2258, ../scss/main.scss */
.tree-menu .no-child:after, .tree-menu .no-child:before {
  display: none;
}
/* line 2259, ../scss/main.scss */
.tree-menu li {
  position: relative;
}
/* line 2261, ../scss/main.scss */
.tree-menu li > ul {
  position: relative;
  margin-left: 80px;
  list-style: none;
}
/* line 2265, ../scss/main.scss */
.tree-menu li > ul:before {
  content: "";
  position: absolute;
  top: -80px;
  left: -28px;
  z-index: 1;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  background-color: #f1f1f1;
}
/* line 2276, ../scss/main.scss */
.tree-menu li > ul .item:before {
  content: "";
  position: absolute;
  top: 15px;
  left: -55px;
  width: 55px;
  height: 6px;
  background-color: #f1f1f1;
}
/* line 2285, ../scss/main.scss */
.tree-menu li > ul ul {
  margin-bottom: 50px;
  margin-left: 75px;
}
/* line 2288, ../scss/main.scss */
.tree-menu li > ul ul .item {
  margin-bottom: 20px;
}
/* line 2289, ../scss/main.scss */
.tree-menu li > ul ul:after {
  content: "";
  position: absolute;
  top: -48px;
  left: -15px;
  width: 6px;
  height: calc(100% + 12px );
  background-color: #f1f1f1;
}
/* line 2298, ../scss/main.scss */
.tree-menu li > ul ul ul:before {
  top: -40px;
}
/* line 2301, ../scss/main.scss */
.tree-menu li .add-item.active {
  opacity: .1;
}
/* line 2302, ../scss/main.scss */
.tree-menu li .label.active {
  background-color: #323e4b;
}

/* line 2306, ../scss/main.scss */
.create-scenario {
  margin: 30px 0 56px 65px;
}
/* line 2308, ../scss/main.scss */
.create-scenario ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 2313, ../scss/main.scss */
.create-scenario ul .add-item, .create-scenario ul .remove-item {
  position: relative;
  left: 12px;
  z-index: 1;
  display: block;
  width: 30px;
  height: 30px;
  margin: 25px 0 0;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  background-color: #59839f;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
}
/* line 2326, ../scss/main.scss */
.create-scenario ul .add-item .icon-plus, .create-scenario ul .add-item .icon-remove, .create-scenario ul .remove-item .icon-plus, .create-scenario ul .remove-item .icon-remove {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  color: #FFF;
}
/* line 2333, ../scss/main.scss */
.create-scenario ul .remove-item {
  margin: 13px 0;
  line-height: 28px;
  background-color: #e3e3e3;
}
/* line 2337, ../scss/main.scss */
.create-scenario ul .remove-item:hover {
  background-color: #d9534f;
}
/* line 2339, ../scss/main.scss */
.create-scenario ul .selected-option {
  position: absolute;
  top: -91px;
  left: -91px;
  display: block;
  width: 120px;
  font-size: 10px;
  color: #59839f;
  text-align: center;
}
/* line 2349, ../scss/main.scss */
.create-scenario ul .icon-area {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  height: 56px;
  border: 6px solid #f1f1f1;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  text-indent: -9999px;
  background: url(../../img/revision/new-node-icons.png) white no-repeat 20px 0;
}
/* line 2360, ../scss/main.scss */
.create-scenario ul .icon-area.display-text {
  background-position: 2px -456px;
}
/* line 2361, ../scss/main.scss */
.create-scenario ul .icon-area.get-input {
  background-position: 2px -508px;
}
/* line 2362, ../scss/main.scss */
.create-scenario ul .icon-area.select-item {
  background-position: 2px -557px;
}
/* line 2363, ../scss/main.scss */
.create-scenario ul .icon-area.play-tone {
  background-position: 2px -607px;
}
/* line 2364, ../scss/main.scss */
.create-scenario ul .icon-area.send-sms {
  background-position: 2px -755px;
}
/* line 2365, ../scss/main.scss */
.create-scenario ul .icon-area.setup-call {
  background-position: 2px -659px;
}
/* line 2366, ../scss/main.scss */
.create-scenario ul .icon-area.open-browser {
  background-position: 4px -710px;
}
/* line 2368, ../scss/main.scss */
.create-scenario ul .item-label {
  display: inline-block;
  vertical-align: middle;
  width: 262px;
  padding: 0 7px;
  font-size: 11px;
  font-weight: 700;
  color: #323e4b;
}
/* line 2376, ../scss/main.scss */
.create-scenario ul li {
  position: relative;
  clear: both;
}
/* line 2379, ../scss/main.scss */
.create-scenario ul li:after {
  content: "";
  position: absolute;
  top: 56px;
  left: 25px;
  width: 6px;
  height: 100%;
  background-color: #f1f1f1;
}
/* line 2388, ../scss/main.scss */
.create-scenario ul li.active > .icon-area {
  background-color: #59839f;
}
/* line 2389, ../scss/main.scss */
.create-scenario ul li.active > .icon-area.display-text {
  background-position: -55px -456px;
}
/* line 2390, ../scss/main.scss */
.create-scenario ul li.active > .icon-area.get-input {
  background-position: -55px -508px;
}
/* line 2391, ../scss/main.scss */
.create-scenario ul li.active > .icon-area.select-item {
  background-position: -55px -557px;
}
/* line 2392, ../scss/main.scss */
.create-scenario ul li.active > .icon-area.play-tone {
  background-position: -55px -607px;
}
/* line 2393, ../scss/main.scss */
.create-scenario ul li.active > .icon-area.send-sms {
  background-position: -55px -755px;
}
/* line 2394, ../scss/main.scss */
.create-scenario ul li.active > .icon-area.setup-call {
  background-position: -55px -659px;
}
/* line 2395, ../scss/main.scss */
.create-scenario ul li.active > .icon-area.open-browser {
  background-position: -58px -710px;
}
/* line 2400, ../scss/main.scss */
.create-scenario ul:last-child li:after {
  top: 30px;
  height: calc(100% + 26px);
}
/* line 2405, ../scss/main.scss */
.create-scenario ul ul {
  display: inline-block;
  vertical-align: top;
  width: 56px;
  margin: 35px -58px 0 125px;
  padding-top: 95px;
}
/* line 2411, ../scss/main.scss */
.create-scenario ul ul:before, .create-scenario ul ul:after {
  content: "";
  position: absolute;
  top: 25px;
  left: -95px;
  width: 125px;
  height: 6px;
  background-color: #f1f1f1;
}
/* line 2420, ../scss/main.scss */
.create-scenario ul ul:after {
  top: 25px;
  left: 25px;
  width: 6px;
  height: 95px;
}
/* line 2426, ../scss/main.scss */
.create-scenario ul ul .item-label {
  width: 100px;
  position: relative;
  z-index: 11;
  background-color: #f1f1f1;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  border-radius: 15px !important;
  text-align: center;
  padding: 5px 7px;
  margin: 5px 0 0 -24px;
}
/* line 2436, ../scss/main.scss */
.create-scenario ul ul li:last-child:after {
  display: none;
}

/* line 2441, ../scss/main.scss */
.save-scenario, .save-this-menu {
  width: 375px;
  margin-top: 5px;
  padding: 30px 15px;
  background-color: #59839f;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}
/* line 2447, ../scss/main.scss */
.save-scenario h6, .save-scenario p, .save-scenario a, .save-this-menu h6, .save-this-menu p, .save-this-menu a {
  margin: 0;
  font: 400 13px "Oxygen", Arial, sans-serif;
  color: #fff;
}
/* line 2452, ../scss/main.scss */
.save-scenario h6, .save-this-menu h6 {
  margin: 0 0 10px 0;
  font-weight: 700;
}
/* line 2456, ../scss/main.scss */
.save-scenario a, .save-this-menu a {
  text-decoration: underline;
}
/* line 2457, ../scss/main.scss */
.save-scenario form, .save-this-menu form {
  margin-bottom: 10px;
}
/* line 2458, ../scss/main.scss */
.save-scenario input[type="text"], .save-this-menu input[type="text"] {
  display: inline-block;
  vertical-align: top;
  width: 212px;
  font: 400 13px "Oxygen", Arial, sans-serif;
}
/* line 2464, ../scss/main.scss */
.save-scenario button, .save-scenario input[type="submit"], .save-this-menu button, .save-this-menu input[type="submit"] {
  min-width: 125px;
  height: 34px;
  margin: 0 0 0 5px !important;
}

/* line 2471, ../scss/main.scss */
.save-this-menu {
  width: 267px;
  margin-top: 56px;
  padding: 15px 15px 10px;
}
/* line 2475, ../scss/main.scss */
.save-this-menu p {
  width: 100% !important;
  margin-bottom: 0 !important;
  text-align: center;
}
/* line 2480, ../scss/main.scss */
.save-this-menu input[type="text"] {
  width: 100%;
  display: block;
}
/* line 2484, ../scss/main.scss */
.save-this-menu button, .save-this-menu input[type="submit"] {
  width: 100%;
  margin: 8px 0 0 0 !important;
}

/* line 2490, ../scss/main.scss */
.node-element {
  text-align: center;
}
/* line 2492, ../scss/main.scss */
.node-element h2 {
  text-align: left;
}
/* line 2493, ../scss/main.scss */
.node-element .node-icon {
  margin: 65px 0 55px 0;
}

/* line 2496, ../scss/main.scss */
.node {
  color: #323e4b;
  text-align: center;
  font-weight: bold;
}

/* line 2502, ../scss/main.scss */
.node-icon {
  display: inline-block;
  text-align: center;
  width: 147px;
  height: 147px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  background: url(../../img/revision/node-icons.png) #f1f1f1 no-repeat center 38px;
}

/* line 2511, ../scss/main.scss */
.node-name {
  width: 58px;
  height: 58px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 18px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  border: 6px solid #f1f1f1;
}
/* line 2519, ../scss/main.scss */
.node-name.display-text {
  background: url(../../img/revision/new-node-icons.png) no-repeat 12px 13px;
  background-size: 80px;
}

/* line 2525, ../scss/main.scss */
.mobile-preview {
  margin: 0 auto;
}
/* line 2527, ../scss/main.scss */
.mobile-preview .preview-option {
  background-color: #59839f;
  height: 34px;
  display: block;
  width: 210px;
  padding: 0 10px;
}
/* line 2533, ../scss/main.scss */
.mobile-preview .preview-option a {
  display: inline-block;
  padding-left: 20px;
  color: #fff;
  font: 13px/30px "Oxygen", Arial, sans-serif;
  background: url(../../img/revision/option-icons.png) no-repeat left 7px;
}
/* line 2539, ../scss/main.scss */
.mobile-preview .preview-option a.cancel {
  display: none;
  padding-right: 22px;
  background-position: right -77px;
}
/* line 2544, ../scss/main.scss */
.mobile-preview .preview-option a:hover {
  text-decoration: none;
}
/* line 2548, ../scss/main.scss */
.mobile-preview .info-area {
  padding: 15px 12px 30px 12px;
  width: 209px;
  height: 220px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 2555, ../scss/main.scss */
.mobile-preview .info-area .info {
  margin-top: 20px;
  font: 14px/28px "Oxygen", Arial, sans-serif;
  color: #323e4b;
}
/* line 2560, ../scss/main.scss */
.mobile-preview .info-area .list-menu {
  width: 208px;
  height: 222px;
  margin-left: -12px;
}
/* line 2564, ../scss/main.scss */
.mobile-preview .info-area .list-menu li {
  padding: 7px 10px;
  background-color: #eaeaea;
  text-align: left;
}
/* line 2568, ../scss/main.scss */
.mobile-preview .info-area .list-menu li span {
  font-weight: bold;
  color: #59839f;
}
/* line 2574, ../scss/main.scss */
.mobile-preview .info-area .btn-group {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
/* line 2581, ../scss/main.scss */
.mobile-preview label {
  margin-bottom: 12px;
}
/* line 2583, ../scss/main.scss */
.mobile-preview .field-box {
  position: relative;
}
/* line 2585, ../scss/main.scss */
.mobile-preview .alert {
  text-align: left;
}
/* line 2587, ../scss/main.scss */
.mobile-preview .ok button {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 33px;
  border: none;
  padding: 0!important;
  background-color: #e3e3e3;
  color: #fff;
}
/* line 2599, ../scss/main.scss */
.mobile-preview .selection-info {
  margin-top: 5px;
  font-weight: bold;
  line-height: 18px;
  color: #323e4b;
}
/* line 2606, ../scss/main.scss */
.mobile-preview .btn-flat {
  position: absolute;
  bottom: 20px;
  display: inline-block;
  left: 20px;
}
/* line 2615, ../scss/main.scss */
.mobile-preview.accepted .preview-option a.cancel {
  display: block;
}
/* line 2617, ../scss/main.scss */
.mobile-preview.accepted .info, .mobile-preview.accepted .btn-group {
  display: none;
}
/* line 2620, ../scss/main.scss */
.mobile-preview.focus .info-area {
  height: 125px;
}
/* line 2625, ../scss/main.scss */
.mobile-preview.active .ok button {
  background-color: #59839f;
}
/* line 2630, ../scss/main.scss */
.mobile-preview.list .current {
  margin: 16px 0 28px 0;
}
/* line 2634, ../scss/main.scss */
.mobile-preview.after-selection {
  text-align: center;
}
/* line 2636, ../scss/main.scss */
.mobile-preview.after-selection .preview-option a.cancel {
  display: none;
}
/* line 2637, ../scss/main.scss */
.mobile-preview.after-selection .current {
  display: none;
}
/* line 2638, ../scss/main.scss */
.mobile-preview.after-selection .btn-group {
  display: block;
}
/* line 2641, ../scss/main.scss */
.mobile-preview.open-browser .node-icon {
  background-position: center -140px;
}
/* line 2644, ../scss/main.scss */
.mobile-preview.setup-call .node-icon {
  background-position: center -310px;
}
/* line 2647, ../scss/main.scss */
.mobile-preview.send-sms .sms {
  padding: 10px 18px;
  color: #838383;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  border: 1px solid #e3e3e3;
}
/* line 2652, ../scss/main.scss */
.mobile-preview.send-sms .sms p {
  font-size: 11px;
  line-height: 18px;
}
/* line 2656, ../scss/main.scss */
.mobile-preview.send-sms .sms .sms-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  background: url(../../img/revision/sms-icon.png) #f1f1f1 no-repeat center center;
}

/*==============================
=            FIXES             =
==============================*/
/* line 2673, ../scss/main.scss */
.gecko .ui-select select {
  padding-top: 6px;
}
/* line 2675, ../scss/main.scss */
.gecko .chart.default input {
  margin-top: 57px !important;
}

/* line 2680, ../scss/main.scss */
.win.gecko .ui-select.inverse:before {
  z-index: 10;
}
/* line 2681, ../scss/main.scss */
.win.gecko .ui-select.inverse select {
  background-color: #59839f !important;
}
.app-modal-window .modal-dialog {
  width: 500px;
}

.btn-flat.COMPLETED {
	background-color: #323e4b;
}

.btn-flat.ACTIVE {
	 background-color: #59839f;
}

.btn-flat.PLANNED {
	background-color: #f1f1f1;
  	color: #59839f;
}

