/* line 1, ../scss/web-app-icons.scss */
.icons-wrapper {
  margin-bottom: 60px;
}
/* line 3, ../scss/web-app-icons.scss */
.icons-wrapper h4 {
  margin-bottom: 40px !important;
}
/* line 6, ../scss/web-app-icons.scss */
.icons-wrapper ul {
  list-style: none;
  margin: 0;
}
/* line 9, ../scss/web-app-icons.scss */
.icons-wrapper ul li {
  font-size: 13px;
  line-height: 32px;
  margin-right: 10px;
}
/* line 14, ../scss/web-app-icons.scss */
.icons-wrapper ul i {
  width: 32px;
  font-size: 16px;
  margin-right: 13px;
}

/* line 21, ../scss/web-app-icons.scss */
.icons-wrapper-border {
  border-top: 1px solid #edeff1;
  padding-top: 60px;
  box-shadow: 0px 4px 7px -5px rgba(68, 68, 68, 0.14) inset;
}
