
	<!-- main container -->
		<div class="content" ng-controller="detailController" ng-init="path='/jobs'">

			<div id="pad-wrapper">
			
				<div class="row">
					
					<div class="col-md-6">
						<h4>Default Values</h4>
						<br/>
						<p>Default values to be used by the system can be edited on this screen.</p>
						<br/><br/>
							<form class="form-horizontal" role="form">
								
								<div class="form-group">
									<label class="col-md-4">CAMPAIGN PARAMETERS</label>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">Valid Hours From:</label>
									<div class="col-md-8">
										<input ng-model="item.value" class="form-control" type="text"/>
									</div>
								</div>
								
                                                                <div class="form-group">
									<label class="col-md-4">Valid Hours To:</label>
									<div class="col-md-8">
										<input ng-model="item.value" class="form-control" type="text"/>
									</div>
								</div>
                                                                
                                                                <div class="form-group">
									<label class="col-md-4">Retry Count:</label>
									<div class="col-md-8">
										<input ng-model="item.value" class="form-control" type="text"/>
									</div>
								</div>
								
                                                                <div class="form-group">
									<label class="col-md-4">DESIGN PARAMETERS</label>
								</div>
								
                                                                <div class="form-group">
									<label class="col-md-4">Get Input - Encryption Key:</label>
									<div class="col-md-8">
										<input ng-model="item.value" class="form-control" type="text"/>
									</div>
								</div>
								
                                                                <div class="form-group">
									<label class="col-md-4">Send SMS - Encryption Key:</label>
									<div class="col-md-8">
										<input ng-model="item.value" class="form-control" type="text"/>
									</div>
								</div>
                                                                
                                                                <div class="form-group">
									<label class="col-md-4">Send SMS - Number:</label>
									<div class="col-md-8">
										<input ng-model="item.value" class="form-control" type="text"/>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">Send SMS - Indicator:</label>
									<div class="col-md-8">
										<input ng-model="item.value" class="form-control" type="text"/>
									</div>
								</div>
								
								<br/><br/>								
								<div class="form-group">
									<button class="btn-flat gray" ng-click="cancel()">Cancel</button>&nbsp;
									<button class="btn-flat" ng-click="edit()">Save</button>
								</div>
								
							</form>
	
					</div>
				</div>
				
			</div><!-- end pad-wrapper -->
			
		</div><!-- end content -->
		
		<script>
			// add uniform plugin styles to html elements
			$("input:checkbox, input:radio").uniform();
		</script>

