
	<!-- main container -->
	<div class="content" ng-controller="designsTableController" ng-init="url='/api/dstkcampaignstatistic';path='/campaign/'">
		<div id="pad-wrapper">

			<!-- morris graph chart -->
			<div class="row head">
				 <div class="col-md-12">
				 <h4>Design Reports</h4>
				 <p>These are the lists for the created designs.</p>
				 </div>
			</div>
			<div class="row">&nbsp;</div>

			<div class="section">
				<ul class="nav nav-tabs">
      				<li ng-class="tabClass(tab)" ng-repeat="tab in tabs" tab="tab"><a ng-click="setSelectedTab(tab)">{{tab.label}}</a></li>
    			</ul>
    			<br/>

				<div class="row datatables-page">
						
						<div class="dataTables_length" id="example_length">
						<a class="btn-flat gray" ng-click="deleteAll()">DELETE</a>
						</div>
						<div class="dataTables_filter" id="example_filter">
							<button class="btn-flat" ng-click="addItem()">+ADD CAMPAIGN</button>
							<input style="padding-top:6px;padding-right:35px;padding-bottom:6px;padding-left:12px;" ng-model="query" ng-change="getData(items, query)" aria-controls="example" type="text" placeholder="Search">
						</div>
						<table class="table table-hover dataTable" id="example" aria-describedby="example_info">
							<thead>
								<tr>
									<th class="first"></th>
									<th class="col-md-3" custom-sort order="'status'" sort="sort"><span>{{selectedTab.headers[0]}}</span></th>
									<th class="col-md-3" custom-sort order="'campaign'" sort="sort"><span>{{selectedTab.headers[1]}}</span></th>
									<th class="last" custom-sort order="'sucessRate'" sort="sort"><span>{{selectedTab.headers[2]}}</span></th>
									
								</tr>
							</thead>

							<tbody role="alert" aria-live="polite" aria-relevant="all">
								<tr style="cursor:pointer" ng-class="$index % 2 == 0 && 'first even' || 'first odd'" ng-repeat="campaignstatistic in pagedItems[currentPage] | filter:query | orderBy:sort.sortingOrder:sort.reverse">
									<td><div class="checker"><span ng-class="campaignstatistic.checked"><input ng-click="putToRemoveBag(campaignstatistic)" type="checkbox"></span></div></td>
									<td ng-click="editItem(campaignstatistic)"><button class="btn-flat {{campaignstatistic.statusName}}">{{campaignstatistic.statusName}}</button></td>
									<td ng-click="editItem(campaignstatistic)">{{campaignstatistic.serviceId}}</td>
									<td ng-click="editItem(campaignstatistic)">{{campaignstatistic.startTime | date:'yyyy-MM-dd HH:mm'}}</td>
								</tr>
							</tbody>
						</table>

						<ul class="pagination pull-right">
						
							<li ng-class="{disabled: currentPage == 0}">
                            	<a href ng-click="prevPage()"><i class="icon-chevron-left"></i></a>
                            </li>
                            
                            <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                            	<a href ng-bind="n + 1"></a>
                            </li>
                            <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                            	<a href ng-click="nextPage()"><i class="icon-chevron-right"></i></a>
                            </li>
						
						</ul>

						<a class="btn-flat gray" ng-click="deleteAll()">DELETE</a>
						
						<label class="pull-right" style="margin-right:30px;">Show 
							<select ng-model="itemsPerPage" ng-change="groupToPages()" name="example_length" aria-controls="example" size="1">
								<option selected="selected" value="10">10</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>Entries
						</label>
						
					</div>
				
			</div>
		</div>

	</div>
	<!-- end main container -->