
		<div class="content" ng-controller="tableController">
				
			<!-- settings changer -->
			<div id="pad-wrapper">
				
				<div class="table-wrapper orders-table section">
					<div class="row head">
						<div class="col-md-12">
							<h4>Device Info</h4>
							<p></p>
							<p>The screen to add, update or delete information of a mobile device.</p>
						</div>
					</div>
					
					<div class="row datatables-page">
						
						<div class="dataTables_length" id="example_length">
						<label>Show 
							<select  ng-model="itemsPerPage" ng-change="groupToPages()" name="example_length" aria-controls="example" size="1">
									<option selected="selected" value="10">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="100">100</option>
							</select> Entries
						</label>
						</div>
						<div class="dataTables_filter" id="example_filter">
							<label><input ng-model="query" ng-change="groupToPages()" aria-controls="example" type="text" placeholder="Search"></label>
						</div>
						<table class="table table-hover dataTable" id="example" aria-describedby="example_info">
							<thead>
								<tr>
									<th class="col-md-1" rowspan="1" colspan="1"></th>
									<th class="col-md-2" custom-sort order="'IMEITac'" sort="sort" rowspan="1" colspan="1"><span>IMEI Tac</span></th>
									<th class="col-md-2" custom-sort order="'deviceBrand'" sort="sort" rowspan="1" colspan="1"><span>Device Brand</span></th>
									<th class="col-md-2" custom-sort order="'deviceModel'" sort="sort" rowspan="1" colspan="1"><span>Device Model</span></th>
								</tr>
							</thead>

							<tbody role="alert" aria-live="polite" aria-relevant="all">
								<tr style="cursor:pointer" ng-class="$index % 2 == 0 && 'first even' || 'first odd'" ng-repeat="phone in pagedItems[currentPage] | filter:query | orderBy:sort.sortingOrder:sort.reverse">
									<td><div class="checker"><span ng-class="phone.checked"><input ng-click="putToRemoveBag(phone)" type="checkbox"></span></div></td>
									<td>{{phone.carrier}}</td>
									<td>{{phone.id}}</td>
									<td>{{phone.imageUrl}}</td>
								</tr>
							</tbody>
						</table>
						<a class="btn-flat gray" ng-click="deleteAll()">DELETE ALL</a>

						<ul class="pagination pull-right">
						
							<li ng-class="{disabled: currentPage == 0}">
                            	<a href ng-click="prevPage()"><i class="icon-chevron-left"></i></a>
                            </li>
                            
                            <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                            	<a href ng-bind="n + 1"></a>
                            </li>
                            <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                            	<a href ng-click="nextPage()"><i class="icon-chevron-right"></i></a>
                            </li>
						
						</ul>
					</div>
				</div><!-- end orders table -->
			</div>
		</div>
	</div>
