
	<!-- main container -->
	<div class="content" ng-controller="executiveReportController">

		<div id="pad-wrapper">

			<!-- morris graph chart -->
			<div class="row head">
				 <div class="col-md-12">
				 <h4>Daily Reports</h4>
				 <p>
					 These are the reports of the final figures. 
				 </p>
				 <h5 class="chart-title">Chart Title</h5>
				 </div>
			</div>

			<div class="section">
				<ul class="nav nav-tabs">
      				<li ng-class="tabClass(tab)" ng-repeat="tab in tabs" tab="tab"><a ng-click="setSelectedTab(tab)">{{tab.label}}</a></li>
    			</ul>
    			<br/>

				<div class="row mb" ng-show="selectedTab.label == 'SIM Card Usage Reports'">
					<div class="col-md-12">
						<p>Active subscribers distribution interms of SIM Card Type. Status Column indicates the difference between yesterday's and today's numbers.</p>
					</div>
					<div class="col-md-7">
					<table class="table table-hover dataTable " id="example" aria-describedby="example_info">
						<thead>
							<tr>
								<th class="col-md-2" rowspan="1" colspan="1"><span>SIM CARD TYPE</span></th>
								<th class="col-md-2" rowspan="1" colspan="1"><span>SUBSCRIBERS</span></th>
								<th class="col-md-2" rowspan="1" colspan="1"><span>STATUS</span></th>
							</tr>
						</thead>

						<tbody role="alert" aria-live="polite" aria-relevant="all">
							<tr style="cursor:pointer" ng-class="$index % 2 == 0 && 'first even' || 'first odd'" ng-repeat="sim in sims">
								<td>{{sim.type}}</td>
								<td><span class="pull-right">{{sim.subscribers}}</span></td>
								<td><span class="badge {{sim.statusClass}}">&nbsp;</span>
									<span class="pull-right">{{sim.status}}</span>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
					<div class="chart col-md-5 pull-right">
						<donut-chart data="myModelDonut" style="height: 250px;"></donut-chart>  
					</div>
				</div>
				
				
				<div class="row mb" ng-show="selectedTab.label == 'Campaign Service Reports'">
					<div class="col-md-12">
						<p>Campaign acceptance results for the selected time period.</p>
					</div>
					<div class="col-md-12" style="bottom: -20px;z-index: 900;left: 15px;">
						<div class="btn-group pull-Left">
							<button class="glow left {{dayStatus}}" ng-click="changeToDate('day')">DAY</button>
							<button class="glow middle {{monthStatus}}" ng-click="changeToDate('month')">MONTH</button>
							<button class="glow right {{yearStatus}}" ng-click="changeToDate('year')">YEAR</button>
						</div>
					</div>
					<div class="span12">
						<flot-chart ng-model="flotData" style="width:1150px;height:275px;"></flot-chart>
					</div>
				</div>

				<div class="row mb" ng-show="selectedTab.label == 'System Traffic Reports'">
					
					<div class="col-md-12">
						<p>System usage trend for last 7 days period.</p>
					</div>					
					<div class="col-md-12 chart">  
						<line-chart xkey="xkeyLine" ykeys="ykeysLine" labels="labelsLine" style="height: 250px;" data="taxData"></line-chart>
					</div>
				</div>

				
			</div>
		</div>

	</div>
	<!-- end main container -->