
	<!-- main container -->
		<div class="content" ng-controller="tableController" ng-init="path='/jobs'">

			<div id="pad-wrapper">
			
				<div class="row">
					
					<div class="col-md-6">
						<h4>Enter Location Info</h4>
						<br/>
						<p>Location information can be added or edited on this screen.</p>
						<br/><br/>
							<form class="form-horizontal" role="form">
								
								<div class="form-group">
									<label class="col-md-4">Cell ID:</label>
									<div class="col-md-8">
										<input ng-model="item.no" class="form-control" type="text"/>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">City:</label>
									<div class="col-md-8">
                                                                                <div class="ui-select">
											<select ng-model="item.City">
                                                                                            <option value=>ADANA</option>
                                                                                            <option value=>ADIYAMAN</option>
                                                                                            <option value=>AKSARAY</option>
                                                                                            <option value=>AMASYA</option>
                                                                                            <option value=>ANKARA</option>
                                                                                            <option value=>ANTALYA</option>
                                                                                            <option value=>ARDAHAN</option>
                                                                                            <option value=>AYDIN</option>
                                                                                            <option value=>BARTIN</option>
                                                                                            <option value=>BATMAN</option>
                                                                                            <option value=>BAYBURT</option>
                                                                                            <option value=>BOLU</option>
                                                                                            <option value=>BURDUR</option>
                                                                                            <option value=>BURSA</option>
                                                                                            <option value=>ERZURUM</option>
                                                                                            <option value=>HATAY</option>
                                                                                            <option value=>ISPARTA</option>
                                                                                            <option value=>ISTANBUL</option>
                                                                                            <option value=>KARAMAN</option>
                                                                                            <option value=>KARS</option>
                                                                                            <option value=>KASTAMONU</option>
                                                                                            <option value=>KIRIKKALE</option>
                                                                                            <option value=>KONYA</option>
                                                                                            <option value=>MALATYA</option>
                                                                                            <option value=>ORDU</option>
                                                                                            <option value=>SAKARYA</option>
                                                                                            <option value=>SAMSUN</option>
                                                                                            <option value=>TOKAT</option>
                                                                                            <option value=>TRABZON</option>
                                                                                            <option value=>VAN</option>
                                                                                            <option value=>YALOVA</option>
                                                                                            <option value=>YOZGAT</option>
                                                                                            <option value=>ZONGULDAK</option>
											</select>
										</div>
									</div>
								</div>
								
                                                                <div class="form-group">
									<label class="col-md-4">Region:</label>
									<div class="col-md-8">
                                                                                <div class="ui-select">
											<select ng-model="item.City">
                                                                                            <option value=>CEYHAN</option>
                                                                                            <option value=>FEKE</option>
                                                                                            <option value=>KARATAS</option>
                                                                                            <option value=>KOZAN</option>
                                                                                            <option value=>POZANTI</option>
                                                                                            <option value=>SEYHAN</option>
                                                                                            <option value=>YUMURTALIK</option>
											</select>
                                                                                </div>
									</div>
								</div>
								
                                                                <div class="form-group">
									<label class="col-md-4">District:</label>
									<div class="col-md-8">
                                                                                <div class="ui-select">
											<select ng-model="item.City">
                                                                                            <option value=>AKPINAR</option>
                                                                                            <option value=>BASPINAR</option>
											</select>
                                                                                </div>
									</div>
								</div>
								
								<br/><br/>								
								<div class="form-group">
									<button class="btn-flat gray" ng-click="cancel()">Cancel</button>&nbsp;
									<button class="btn-flat" ng-click="edit()">Save</button>
								</div>
								
							</form>
	
					</div>
				</div>
				
			</div><!-- end pad-wrapper -->
			
		</div><!-- end content -->
		
		<script>
			// add uniform plugin styles to html elements
			$("input:checkbox, input:radio").uniform();
		</script>

