
	<!-- main container -->
		<div class="content ng-cloak" ng-cloak>
			<div id="pad-wrapper">

				<div class="row head" ng-controller="menuDesignController" ng-init="menuItems={'title': '','items': []};operation='A,1,1';version='1';instance='1';order='1';">

					<div class="col-md-12">
						<h4>Menu Design</h4>
						<p>Start designing the menu by adding services and sub-menus.</p>
					</div>

					<div class="col-md-12">

						<div class="col-md-4" ng-show="!activeItem">

							<div class="mobile">

								<div class="mobile-content listing add" ng-class="{'edit': editMode}">
									
									<a ng-click="toggleEditMode()" class="edit-title"><i class="icon-remove"></i>Edit</a>

									<a add-edit-modal template="#editMenuTitle" item="menuItems" class="add-title" ng-class="{'added': menuItems.title}"><span ng-bind="menuItems.title||'Add Menu Title'"></span><i class="icon-pencil"></i></a>

									<ul class="list-menu edit-list" ui-sortable="sortableOptions" ng-model="menuItems.items">

										<li ng-repeat="item in menuItems.items" ng-class="{'active': item.active, 'dropdown': item.title && !editMode }" ng-click="subItemEdit(item)">
											<a><i ng-click="toggleItemActive(item)" class="icon-cog"></i><span ng-bind="item.title || item.function"></span></a>
											<ul class="sub-menu">
												<li><a><i class="icon-pencil" add-edit-modal item="item"></i></a></li>
												<li><a><i class="icon-exchange"></i></a></li>
												<li><a ng-click="removeItem(item, menuItems.items)"><i class="icon-ban-circle"></i></a></li>
											</ul>
										</li>

									</ul><!-- end edit-list -->

									<a add-edit-modal items="menuItems.items" class="add-menu popover-btn" ng-class="{'min': menuItems.items.length>=8}">
										<i class="icon-plus"></i>
									</a>

								</div><!-- end mobile-content -->
							</div><!-- end mobile -->

								
								<form>
							<button class="btn-flat gray" ng-click="cancelMenu()" style="position:absolute;left:42px;top:450px;min-width:80px">CANCEL</button>	

							<button class="btn-flat" ng-click="exportJSON()" style="position:absolute;left:177px;top:450px;min-width:80px">SAVE</button>
							

				</form>
							</div>			
							
						

						<div class="col-md-4" ng-show="activeItem">
							<div class="mobile">
								<div class="mobile-content listing sub-nav" ng-class="{'edit': editMode}">

									<a ng-click="toggleEditMode()" class="edit-title"><i class="icon-remove"></i>Edit</a>

									<a add-edit-modal template="#editMenuTitle" item="menuItems" class="add-title" ng-class="{'added': menuItems.title}"><span ng-bind="menuItems.title||'Add Menu Title'"></span> <i class="icon-pencil"></i></a>
									<ul class="list-menu dropdown-list">
										<li class="active-menu"><a ng-click="activeItem=null;editMode=false;" class="icon-remove"></a><span>{{activeItem.title}}</span></li>
									</ul>
									<ul class="list-menu dropdown-list" ui-sortable="sortableOptions" ng-model="activeItem.items">
										<li class="_item" ng-repeat="item in activeItem.items"><span ng-bind="item.title || item.function"></span>
											<ul class="sub-menu">
												<li><a><i class="icon-pencil" add-edit-modal="" template="#subEditModal" item="item"></i></a></li>
												<li><a><i class="icon-exchange"></i></a></li>
												<li><a ng-click="removeItem(item, activeItem.items)"><i class="icon-ban-circle"></i></a></li>
											</ul>
										</li>
									</ul><!-- end dropdown-list -->

									<a add-edit-modal template="#subEditModal" items="activeItem.items" class="add-menu popover-btn" ng-class="{'min': activeItem.items.length>=8}">
										<i class="icon-plus"></i>
									</a>
									
								</div><!-- end mobile-content -->
							</div><!-- end mobile -->

						</div>


					</div><!-- end col-md-12 -->

				</div><!-- end row head-->
			</div><!-- end pad wrapper -->
		</div><!-- end content -->
		
		<script type="text/template" id="editModal">
		
			<div class="popover fade right" style="display:block;">
				<div class="popover-content">
					<form>

						<div class="field-box" ng-if="!_item.title">
							<label>Add Menu Item :</label>
							<p>Add a service or create a sub-menu.</p>
							<div class="ui-select">
								<select ng-model="_item.function">
									<option value="">Select Service</option>
									<option value="Menu 1">Menu 1</option>
									<option value="Menu 2">Menu 2</option>
									<option value="Menu 3">Menu 3</option>
								</select>
							</div>
						</div>

						<div ng-if="!_item.title && !_item.function" class="seperate-line"><span>OR</span></div>

						<div class="field-box form-group" ng-if="!_item.function">							
							<label>Add Sub-Menu Title :</label>
							<div class="field-box">
								<input ng-model="_item.title" class="form-control" type="text">
							</div>
						</div>

						<div class="field-box btn-block pull-right">
							<button ng-if="!_edit" ng-click="add()" class="btn-flat min pull-right">Add</button>
							<button ng-if="_edit" ng-click="edit()" class="btn-flat min pull-right">Save</button>
						</div>

					</form>
				</div>
			</div>
		</script>

		<script type="text/template" id="subEditModal">
			<div class="popover fade right" style="display:block;">
				<div class="popover-content">
					<form>

						<div class="field-box">
							<label>Add Menu Item :</label>
							<p>Add a service or create a sub-menu.</p>
							<div class="ui-select">
								<select ng-model="_item.function">
									<option value="">Select Service</option>
									<option value="Menu 1">Menu 1</option>
									<option value="Menu 2">Menu 2</option>
									<option value="Menu 3">Menu 3</option>
								</select>
							</div>
						</div>

						<div class="field-box btn-block pull-right">
							<button ng-if="!_edit" ng-click="add()" class="btn-flat min pull-right">Add</button>
							<button ng-if="_edit" ng-click="edit()" class="btn-flat min pull-right">Save</button>
						</div>

					</form>
				</div>
			</div>
		</script>

		<script type="text/template" id="editMenuTitle">
		
			<div class="popover fade right" style="display:block;">
				<div class="popover-content">
					<form>

						<div class="field-box form-group" ng-if="!_item.function">							
							<label>Title :</label>
							<div class="field-box">
								<input ng-model="_item.title" class="form-control" type="text">
							</div>
						</div>

						<div class="field-box btn-block pull-right">
							<button ng-click="edit()" class="btn-flat min pull-right">Save</button>
						</div>

					</form>
				</div>
			</div>
		</script>


