
	<!-- main container -->
		<div class="content">

			<div id="pad-wrapper">
			
				<div class="row">
					
					<div class="col-md-6">
						<h4>User Report</h4>
						<br/>
						<p>Detailed information of selected user is displayed on this screen.</p>
						<br/><br/>
							<form class="form-horizontal" role="form">
								
								<div class="form-group">
									<label class="col-md-4">MSISDN:</label>
									<div class="col-md-8">
                                                                            <div class="predefined">
                                                                                <span class="value">5332100805</span>
                                                                            </div>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">SIM Card Type:</label>
									<div class="col-md-8">
                                                                            <div class="predefined">
                                                                                <span class="value">NFC Java SIM</span>
                                                                            </div>
									</div>
								</div>								
								
                                                                <div class="form-group">
                                                                        <label class="col-md-4">SIM Menu Type:</label>
                                                                        <div class="col-md-7">
                                                                            <div class="predefined">
                                                                                <span class="value">TURKCELL MENU (Release_5)</span>
                                                                            </div>
                                                                        </div>
                                                                        <i class="icon-question-sign info-control" data-toggle="tooltip" data-html="true" data-placement="right" title="<h5>MENU Type</h5> <p>Opens Menu Design as Modal Box</p>"></i>
                                                                </div>        
								
                                                                <div class="form-group">
                                                                        <label class="col-md-4">Device Model:</label>
                                                                        <div class="col-md-7">
                                                                            <div class="predefined">
                                                                                <span class="value">Apple iPhone5S</span>
                                                                            </div>
                                                                        </div>
                                                                        <i class="icon-question-sign info-control" data-toggle="tooltip" data-html="true" data-placement="right" title="<h5>Device Attributes</h5> <p>Opens Device Attributes Modal Box</p>"></i>
                                                                </div>        
								
                                                                <div class="form-group">
                                                                        <label class="col-md-4">Campaigns Delivered:</label>
                                                                        <div class="col-md-7">
                                                                            <div class="predefined">
                                                                                <span class="value">8</span>
                                                                            </div>
                                                                        </div>
                                                                        <i class="icon-question-sign info-control" data-toggle="tooltip" data-html="true" data-placement="right" title="<h5>Campaigns Delivered</h5> <p>Opens Campaign Lists as Modal Box</p>"></i>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                        <label class="col-md-4">Campaigns Accepted:</label>
                                                                        <div class="col-md-7">
                                                                            <div class="predefined">
                                                                                <span class="value">2</span>
                                                                            </div>
                                                                        </div>
                                                                        <i class="icon-question-sign info-control" data-toggle="tooltip" data-html="true" data-placement="right" title="<h5>Campaigns Accepted</h5> <p>Opens Campaign Lists as Modal Box</p>"></i>
                                                                </div>   
                                                                
                                                                <div class="form-group">
                                                                        <label class="col-md-4">Final Location:</label>
                                                                        <div class="col-md-8">
                                                                            <div class="predefined">
                                                                                <span class="value">Istanbul Kadikoy Feneryolu</span>
                                                                            </div>
                                                                        </div>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                        <label class="col-md-4">Black List Status:</label>
                                                                        <div class="row ctrls">
                                                                            <div class="slider-frame info">
                                                                                <span data-on-text="ON" data-off-text="OFF" class="slider-button">OFF</span>
                                                                            </div>
                                                                       </div>     
                                                                </div>
								
								<br/><br/>								
								<div class="form-group">
									<button class="btn-flat gray" ng-click="cancel()">Cancel</button>&nbsp;
									<button class="btn-flat" ng-click="edit()">Save</button>
								</div>
								
							</form>
	
					</div>
				</div>
				
			</div><!-- end pad-wrapper -->
			
		</div><!-- end content -->
		
		<script>
			// add uniform plugin styles to html elements
			$("input:checkbox, input:radio").uniform();
		</script>
