
		<!-- main container -->
		<div class="content ng-cloak">

				<div id="pad-wrapper" ng-controller="rfmDesignController">

						<div class="head">
							<h4>File Profile</h4>	
						</div>
						
						<ul class="tree-menu">
							<li ng-repeat="item in menuItems">
								<div class="item">
									<span add-edit-modal="static" item="item" class="label label-default">{{item.title}}</span>
									<a add-edit-modal="static" items="item.items" class="add-item"><i class="icon-plus"></i></a>
								</div>	

								<ul ng-if="item.items&&item.items.length">
									<li ng-repeat="_item in item.items" last-element item="_item" last="$last">
										<div class="item">
											<a ng-click="removeItem(item.items, _item)" class="remove-item"><i class="icon-remove"></i></a>
											<span add-edit-modal="static" item="_item" class="label label-default">{{_item.title}}</span>
											<a add-edit-modal="static" items="_item.items" class="add-item"><i class="icon-plus"></i></a>
										</div>
										<ul ng-if="_item.items&&_item.items.length">
											<li ng-repeat="__item in _item.items" last-element item="__item" last="$last">
												<div class="item">
													<a ng-click="removeItem(_item.items, __item)" class="remove-item"><i class="icon-remove"></i></a>
													<span add-edit-modal="static" item="__item" class="label label-default">{{__item.title}}</span>
													<a add-edit-modal="static" items="__item.items" class="add-item"><i class="icon-plus"></i></a>
												</div>
												<ul ng-if="__item.items&&__item.items.length">
													<li ng-repeat="___item in __item.items" last-element item="___item" last="$last">
														<div class="item">
															<a ng-click="removeItem(__item.items, ___item)" class="remove-item"><i class="icon-remove"></i></a>
															<span class="label label-default">{{___item.title}}</span>
														</div>
													</li>
												</ul>
											</li>
										</ul>

									</li>
								</ul>

							</li>
						</ul>

						<div class="save-scenario">
							<h6>Save Profile</h6>
							<form action="." method="post">
								<input class="form-control" type="text" placeholder="SLB 120" />
								<button class="btn-flat inverse">SAVE &amp; EXIT</button>
							</form>
						</div>

				</div>

		</div> <!-- end main container -->
				
		<!-- Template -->
		<script type="text/template" id="editModal">

		<div class="helper-nav tree-menu-form">
			<a ng-click="close()" class="helper-btn">HELP</a>

			<h2>Properties</h2>

			<form action="" class="form-page">
			
					<div class="form-wrapper">
						<div class="form-group">
							<label class="col-md-5">Title:</label>
							<div class="col-md-7">
								<input ng-model="_item.title" class="form-control" type="text" /> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-md-5">Description:</label>
						<div class="col-md-7">
							<input ng-model="_item.description" class="form-control" type="text" /> 
						</div>
						<label class="col-md-5">Type:</label>
						<div class="col-md-7">
							<input ng-model="_item.type" class="form-control" type="text" /> 
						</div>
						<label class="col-md-5">Value:</label>
						<div class="col-md-7">
							<input ng-model="_item.value" class="form-control" type="textarea" /> 
						</div>
					</div>

					<div class="option">
						<button ng-if="_edit" ng-click="edit()" class="btn-flat pull-right">SAVE</button>
						<button ng-if="!_edit" ng-click="add()" class="btn-flat pull-right">SAVE</button>
						<a ng-click="close()" class="cancel-btn pull-right">cancel</a>
					</div>

				</div>

			</form>

		</div><!-- end helper-nav -->
		</script>
