<!-- main container -->
		<div class="content ng-cloak" ng-controller="schedulerController">

			<div id="pad-wrapper">
			
				<div class="row">
					
					<div class="col-md-6">
						<h4>Add Campaign</h4>
						<br/>
						<p>Using following options you can schedule campaigns.</p>
						<br/><br/>
							<form class="form-horizontal" role="form">
								
								<div class="form-group">
									<label class="col-md-4">Campaign Name</label>
									<div class="col-md-8">
										<input ng-model="campaignName" class="form-control" type="text" placeholder="Identify A Campaign Name" />
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">Service</label>
									<div class="col-md-8">
										<div class="ui-select">
											<select ng-model="service">
												<option value="">Select A Campaign</option>
												<option value="NAR">NAR CAMPAIGN</option>
											</select>
										</div>	
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">Single MSISDN</label>
									<div class="col-md-4">
										<input ng-model="msisdn" ui-mask="{{'(9999) 999-9999'}}" class="form-control" type="text" placeholder="(0532) 349-5805" />
									</div>	
									<div class="col-md-4">
										<a class='btn btn-primary' href='javascript:;'>
											Or Upload List...
											<input type="file" ng-file-select="onFileSelect($files)" multiple style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'/>
										</a>
									</div>
								</div>
								
								
								<div class="save-scenario" style="width:600px">
								<h6>Display Options</h6>
								<div class="col-md-12">&nbsp;</div>
								<div class="form-group">
									<label class="col-md-4" style="color:white">Trigger When</label>
									<div class="col-md-8">
										<div class="col-md-6">
											<label class="checkbox-inline">
												<span><input ng-model="onCallDisconnect" uniform type="checkbox" value="true"></span>
												<span class="check-text" style="color:white">Call Disconnect</span>
											</label>
										</div>
										<div class="col-md-6">	
											<label class="checkbox-inline">
												<span><input ng-model="onStartup" uniform type="checkbox" value="true"></span>
												<span class="check-text" style="color:white">On Startup</span>
											</label>
										</div>
										<div class="col-md-6">	
											<label class="checkbox-inline">
												<span><input ng-model="onCallConnect" uniform type="checkbox" value="true"></span>
												<span class="check-text" style="color:white">Call Connect</span>
											</label>
										</div>
										<div class="col-md-6">	
											<label class="checkbox-inline">
												<span><input ng-model="onRoaming" uniform type="checkbox" value="true"></span>
												<span class="check-text" style="color:white">Roaming</span>
											</label>
										</div>
										<div class="col-md-6">	
											<label class="checkbox-inline">
												<span><input ng-model="onBrowserExit" uniform type="checkbox" value="true"></span>
												<span class="check-text" style="color:white">Browser Exit</span>
											</label>
										</div>
										<div class="col-md-6">	
											<label class="checkbox-inline">
												<span><input ng-model="onTextSms" uniform type="checkbox" value="true"></span>
												<span class="check-text" style="color:white">Text SMS</span>
											</label>
										</div>	
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4" style="color:white">Priority :</label>
									<div class="col-md-4">
										<div class="ui-select">
											<select ng-model="priority">
												<option value="">0</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="6">7</option>
											</select>
										</div>	
									</div>
									<div class="col-md-4"></div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4" style="color:white">Trigger Period :</label>
									<div class="col-md-4">
										<div class="ui-select">
											<select ng-model="triggerPeriod">
												<option value="">0</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="6">7</option>
											</select>
										</div>	
									</div>
									<div class="col-md-4"></div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4" style="color:white">Max Trigger Count :</label>
									<div class="col-md-4">
										<div class="ui-select">
											<select ng-model="maxTriggerCount">
												<option value="">0</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="6">7</option>
											</select>
										</div>	
									</div>
									<div class="col-md-4"></div>
								</div>
								</div>
								
								<br/><br/>								
								<div class="form-group">
									<div class="col-md-2">&nbsp</div>
									<div class="col-md-8">
									<button class="btn-flat" ng-click="sendNow();">Send Now</button>&nbsp;
									<button class="btn-flat" ng-click="sendLater();">Schedule For Later</button>
									</div>
									<div class="col-md-2">&nbsp</div>
								</div>
								
							</form>
	
					</div>
				</div>
				
			</div><!-- end pad-wrapper -->
			
		</div><!-- end content -->
		
		<style>
		modal-dialog {
  			width: 900px;
		}
		</style>
		
		<script type="text/ng-template" id="item-schedule.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close();"><i class="icon-remove"></i></button>
			<h4 class="modal-title" id="mySmallModalLabel">Schedule A Task</h4>
		</div>

		<div class="modal-body">

			<form class="form-horizontal" role="form">

				<div class="form-group">
					<label class="col-md-4">Retry Count</label>
					<div class="col-md-3">
						<input ui-mask="{{'9'}}" ng-model="maxRtryCnt" class="form-control" type="text" placeholder="3" style="text-align:right"/>
					</div>
					<div class="col-md-5"></div>
				</div>

				<div class="form-group">
					<label class="col-md-4">Start Date</label>
					<div class="col-md-8">
						<div class="input-group date form_datetime" data-date="2014-04-06T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    		<input class="form-control" size="100" type="text" value="" readonly>
                    		<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
							<input type="hidden" id="dtp_input1" value="" />
						</div>	
					</div>
            	</div>

				<div class="form-group">
					<label class="col-md-4">End Date</label>
					<div class="col-md-8">
						<div class="input-group date form_datetime" data-date="2014-04-06T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input2">
                    		<input class="form-control" size="100" type="text" value="" readonly>
                    		<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
							<input type="hidden" id="dtp_input2" value="" />
						</div>	
					</div>
            	</div>

				<div class="form-group">
					<label class="col-md-4">Valid From</label>
					<div class="col-md-5">
							<div class="input-group date form_time" data-date="" data-date-format="hh:ii p" data-link-field="dtp_input3" data-link-format="hh:ii p">
                    			<input class="form-control" size="30" type="text" value="" readonly>
                    			<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
								<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
								<input type="hidden" id="dtp_input3" value="" />
                			</div>
					</div>
					<div class="col-md-3"></div>
				</div>

				<div class="form-group">
					<label class="col-md-4">Valid To</label>
					<div class="col-md-5">
							<div class="input-group date form_time" data-date="" data-date-format="hh:ii p" data-link-field="dtp_input4" data-link-format="hh:ii p">
                    			<input class="form-control" size="30" type="text" value="" readonly>
                    			<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
								<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
								<input type="hidden" id="dtp_input4" value="" />
                			</div>
					</div>
					<div class="col-md-3"></div>
				</div>

				<div class="form-group">
					<div class="col-md-4"></div>
					<div class="col-md-8">
						<button  ng-click="close();" class="btn-flat gray">CANCEL</button>
						<button  ng-click="close();" class="btn-flat">SAVE</button>
					</div>
				</div>

			</form>

         </div>
			
		<script>

			$('.form_datetime').datetimepicker({
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
	        showMeridian: 1
	    	});
			$('.form_date').datetimepicker({
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0
	    	});
			$('.form_time').datetimepicker({
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 1,
			minView: 0,
			maxView: 1,
			forceParse: 0
	    	});

		</script>
	
		</script>
		