<!-- main container -->
		<div class="content" ng-controller="detailController" ng-init="path='/transportkeytable'">

			<div id="pad-wrapper">
			
				<div class="row">
					
					<div class="col-md-6">
						<h4>{{screen.header}}</h4>
						<br/>
						<p>Using following options you can {{screen.operation}}.</p>
						<br/><br/>
							<form class="form-horizontal" role="form">
								
								<div class="form-group">
									<label class="col-md-4">Transport Key No</label>
									<div class="col-md-8">
										<input ng-model="item.no" class="form-control" type="text"/>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">Transport Key Value</label>
									<div class="col-md-8">
										<input ng-model="item.value" class="form-control" type="text"/>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">Algorithm Name</label>
									<div class="col-md-8">
										<div class="ui-select">
											<select ng-model="item.algorithmName">
												<option value="DES">DES</option>
												<option value="3DES-2KEY">3DES-2KEY</option>
												<option value="3DES-3KEY">3DES-3KEY</option>
											</select>
										</div>	
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">Algorithm Mode</label>
									<div class="col-md-8">
										<div class="ui-select">
											<select ng-model="item.algorithmMode">
												<option value="ECB">ECB</option>
												<option value="CBC">CBC</option>
											</select>
										</div>	
									</div>
								</div>
								
								<br/><br/>								
								<div class="form-group">
									<button class="btn-flat" ng-click="cancel()">Cancel</button>&nbsp;
									<button ng-show="screen.operation == 'edit'" class="btn-flat" ng-click="edit()">{{screen.button}}</button>
									<button ng-show="screen.operation == 'add'" class="btn-flat" ng-click="add()">{{screen.button}}</button>
								</div>
								
							</form>
	
					</div>
				</div>
				
			</div><!-- end pad-wrapper -->
			
		</div><!-- end content -->
		
		<script>
			// add uniform plugin styles to html elements
			$("input:checkbox, input:radio").uniform();
		</script>
		
