/*==============================
=          Prefixer            =
==============================*/
	// Prefixer: http://bourbon.io/docs/#prefixer | @include prefixer(box-sizing, $box, webkit moz spec);
	$prefix-for-webkit:    true !default;
	$prefix-for-mozilla:   true !default;
	$prefix-for-microsoft: true !default;
	$prefix-for-opera:     true !default;
	$prefix-for-spec:      true !default; // required for keyframe mixin

	@mixin prefixer ($property, $value, $prefixes) {
		@each $prefix in $prefixes {
			@if $prefix == webkit {
				@if $prefix-for-webkit {
					-webkit-#{$property}: $value;
				}
			}
			@else if $prefix == moz {
				@if $prefix-for-mozilla {
					-moz-#{$property}: $value;
				}
			}
			@else if $prefix == ms {
				@if $prefix-for-microsoft {
					-ms-#{$property}: $value;
				}
			}
			@else if $prefix == o {
				@if $prefix-for-opera {
					-o-#{$property}: $value;
				}
			}
			@else if $prefix == spec {
				@if $prefix-for-spec {
					#{$property}: $value;
				}
			}
			@else  {
				@warn "Unrecognized prefix: #{$prefix}";
			}
		}
	}

	@mixin disable-prefix-for-all() {
		$prefix-for-webkit:    false;
		$prefix-for-mozilla:   false;
		$prefix-for-microsoft: false;
		$prefix-for-opera:     false;
		$prefix-for-spec:      false;
	}

/*==============================
=            Colors            =
==============================*/
	$default-color: #59839f;
	$dark-blue-color: #323e4b;
	$dark-bg-color:#2d3844;
	$light-blue-color:#7dbee9;
	$gray-color:#f1f1f1;
	$green-color: #5cb85c;
	$yellow-color: #f0ad4e;
	$red-color: #d9534f;
	$gray-border: #e3e3e3;
	$dark-gray: #e3e3e3;
	$lighten-blue: #9ba3ad;
	$lighten-gray: #838383;
	$slate-gray:#59839f;

/*==============================
=          Typography          =
==============================*/
	@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
	@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700&subset=latin,latin-ext);

	$sans:Arial, sans-serif;
	$oxygen: "Oxygen",$sans;
	$montserrat: "Montserrat",$sans;

/*==============================
=              Layout          =
==============================*/
	body {
		overflow-x:hidden;
		font-family:$oxygen;
		font-weight: 400;
		-webkit-font-smoothing: antialiased; 
	}

	#pad-wrapper .title, #pad-wrapper h4 {
		font:300 32px $oxygen;
		font-style:normal;
		color:$dark-blue-color;
	}

	p {
		font-size:13px;
		line-height:21px;
		color:$lighten-gray;
	}

	footer {
		margin:-80px 0 20px 201px;
		p {
			float:left;
			font-size:11px;
			line-height:16px;
		}
		a { text-decoration:underline; }
		img {
			float:right;
			margin:0 40px 0 0;
		}
	}

	.helper-nav {
		position:fixed;
		top:0;
		right:-280px;
		@include prefixer(transition, right .5s !important, webkit moz spec);
		width:280px;
		height:100%;
		padding:70px 25px 0;
		z-index: 1000;
		background-color:#2d3844;
		h2 {
			margin:25px 0 54px;
			font-size:16px;
			font-weight:700;
			color:#fff;
		}
		ul {
			padding-left:0;
			border-top:1px solid #576069;
			list-style:none;
			li {
				border-bottom:1px solid #576069;
			}
			a {
				display:block;
				padding:8px 0;
				font-size:13px;
				color:#fff;
				text-decoration:none;
			}
		}
		.helper-btn {
			position:absolute;
			top:100px;
			left:-66px;
			display:block;
			width:66px;
			height:73px;
			background:url(../../img/revision/helpernav-icon.png) $default-color no-repeat center 10px;
			@include prefixer(border-radius, 3px 0 0 3px !important, webkit moz spec);
			font-size:11px;
			line-height:115px;
			font-weight:700;
			color:#fff;
			text-align:center;
			&:hover { text-decoration:none; }
		}
		&.open {
			right:0px;
			.helper-btn {
				background-position:center -64px;
				text-indent:-99999px;
			}
		}

		&.tree-menu-form {
			width: 600px;
			right:-600px;
			padding-top: 95px;
			background-color: #f0f1f1;
			border-left: 1px solid $gray-border;
			.helper-btn { left:-67px; }
			.arrow {
				display:none;
				width: 23px;
				height: 26px;
				position: absolute;
				left: -21px;
				top: 376px;
				background:url(../../img/revision/tree-menu-form-arrow.png) no-repeat 0 0;
			}

			form {
				max-height: calc(100% - 150px);
				overflow-y: scroll;
				margin-left: -15px;
				clear:both;
			}
			.form-wrapper {
				margin-bottom: 0;
			}

			.option {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				padding:12px 12px 0 0;
				background-color:$default-color; 
				height: 55px;
				button {
					min-width: 100px!important;
					background-color: $dark-blue-color;
					height: 33px;
				}
				.cancel-btn { 
					color:#fff;
					text-decoration: underline;
					margin-right: 12px;
					margin-top: 6px;
				}
			}

			h2 {
				display: block;
				color:$dark-blue-color;
				font-size: 18px;
				font-weight: 400;
				padding-bottom: 15px;
				margin-bottom: 35px;
				border-bottom:1px solid $gray-border;
			}
			.checkbox-inline {
				input { background-color: #fff; }
			}

			textarea { height: 95px; }

			label.radio { 
				width: 160px!important; 
				margin: 0;
			}

			.checkbox-inline { 
				width: 280px; 
				padding-left: 0;
				line-height: 26px;
				cursor: pointer;
				margin: 0 0 12px 0;
				&.min { 
					font-size: 11px; 
					line-height: 14px;
					margin-bottom: 0;
				}
				.checker { 
					float: left; 
					span { font-size: 11px; }
				}
			}
			&.open {
				right:0px;
				.arrow { display:block; }
			}
		}
	}

	.label-info, .badge-important {
		background-color: #f0f1f1;
	}

	.ng-cloak { display:none; }

	a { cursor:pointer; }

/*==============================
=            UI                =
==============================*/
	.btn-flat {
		min-width:172px;
		margin-bottom:4px !important;
		background-color:$default-color;
		border:none !important;
		font:700 11px $oxygen;
		text-shadow:none !important;
		text-align:center;
		&:hover {
			@include prefixer(opacity,100 !important, webkit moz spec);
		}
		&.gray {
			background-color:$gray-color;
			color:$default-color;
		}
		&.success { background-color:$green-color; }
		&.info { background-color:$yellow-color; }
		&.danger { background-color:$red-color; }
		&.inverse { background-color:$dark-blue-color; }
	}

	.label {
		display:inline-block;
		margin-bottom:4px;
		min-width:118px;
		padding:6px 14px;
		background-color:$default-color;
		&.label-success { background-color:$green-color; }
		&.label-info { background-color:$yellow-color; }
		&.label-danger { background-color:$red-color; }
		&.label-inverse { background-color:$dark-blue-color; }
	}

	.pagination {
		font:400 11px $montserrat;
		> li > a, > li > span {
			padding:8px 13px;
			border-color:$gray-color;
			color:$default-color;
			font-weight:400;
		}
		> li > a:hover, > li > span:hover, > li > a:focus, > li > span:focus {
			background-color:transparent;
		}
		> .active > a, > .active > span, > .active > a:hover, > .active > span:hover, > .active > a:focus, > .active > span:focus {
			background-color:$default-color;
			border-color:$default-color;
		}
		> li:first-child > a, > li:first-child > span, 
		> li:last-child > a, > li:last-child > span {
			padding:10px 10px 9px;
			background-color:$gray-color;
			font-size:9px;
		}
	}

	.btn-group button.glow, button.btn-glow {
		min-width:85px;
		background:#fff;
		text-align:center;
		outline:none;
		border-color:$gray-border;
		font:400 11px/21px $oxygen;
		color:$default-color;
		&:hover { color:$default-color; }
		&:active, &.active {
			@include prefixer(box-shadow, none !important, webkit moz spec);
			background-color:$default-color;
			border-color:$default-color;
			color:#fff;
		}
	}

	button.btn-glow {
		min-width:105px;
		@include prefixer(box-shadow, none !important, webkit moz spec);
		.icon-chevron-left, .icon-chevron-right {
			float:left;
			margin-top:5px;
			font-size:9px;
			color:$default-color !important;
		}
		.icon-chevron-right { float:right; }
		&:hover {
			background:$default-color;
			border-color:$default-color;
			color:#fff;
			.icon-chevron-left, .icon-chevron-right { color:#fff !important; }
		}
	}

	.slider-frame {
		width:58px;
		height:29px;
		border:1px solid $gray-border;
		@include prefixer(box-shadow, none !important, webkit moz spec);
		background-color:#fff;
		&.info {
			background-color:$default-color;
			.slider-button {
				background-color:#fff;
				color:$default-color;
			}
		}
		&.success {
			background-color:$dark-blue-color;
			.slider-button {
				background-color:#fff;
				color:$default-color;
			}
		}
		&.primary {
			background-color:$gray-color;
			.slider-button {
				background-color:$default-color;
				color:#fff;
			}
		}
	}

	.slider-button {
		width:27px;
		height:27px;
		border:none;
		background-color:$default-color;
		@include prefixer(border-radius, 50% !important, webkit moz spec);
		font-size:10px;
		font-weight:700;
		color:#fff;
		line-height:27px;
	}

	.progress {
		background-color:$dark-gray;
		@include prefixer(box-shadow, none !important, webkit moz spec);
	}

	.progress-bar {
		background-color:$default-color;
		@include prefixer(box-shadow, none !important, webkit moz spec);
	}
	.progress-striped .progress-bar {
		@include prefixer(box-shadow, inset 0 1px 2px rgba(0, 0, 0, 0.1) !important, webkit moz spec);
	}

	.ui-slider {
		height:6px;
		border:none;
		background:$dark-gray;
		@include prefixer(box-shadow, none !important, webkit moz spec);
		@include prefixer(border-radius, 0 !important, webkit moz spec);
		span {
			display:block;
			margin-top:20px;
			font-size:10px;
			color:#838383;
			text-decoration:none;
			text-align:center;
		}
	}
	.ui-slider-horizontal .ui-slider-handle {
		width:17px;
		background:url(../../img/revision/ui-slider-circle.png) no-repeat 0 0;
		text-decoration:none;
		&:hover, .ui-state-hover, .ui-state-focus { text-decoration:none; }
	}

	.ui-slider .ui-slider-range {
		background-color:$default-color;
		border:none;
		@include prefixer(box-shadow, none !important, webkit moz spec);
	}

	.ui-slider.vertical-handler .ui-state-default {
		top:-7px;
		background:url(../../img/revision/ui-slider-vertical.png) no-repeat 0 0;
	}

	.ui-slider.scroll {
		height:10px;
		.ui-slider-handle {
			top:-2px;
			width:31px;
			height:14px;
			margin-left:-15px;
			background:url(../../img/revision/ui-slider-scroll.png) no-repeat 0 0;
		}
	}

	#dashboard-menu .pointer { display:none; }

	.content {
		margin-left:201px;
		@include prefixer(box-shadow, none !important, webkit moz spec);
	}

	.row.head {
		margin-bottom: 10px;
		p { 
			width: 450px; 
			margin-bottom: 20px;
		}
		.col-md-12 { padding-left: 0; }
	}

	.modal {
		h4 { 
			font-size: 18px !important; 
			color:$dark-blue-color;
		}
		.modal-content {
			border:transparent;
		}
	}

	.modal-backdrop{
		background-color: $dark-blue-color;
		&.in { @include prefixer(opacity, 0.85 !important, webkit moz spec); }
	}

	.prealoader {
		display:none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
		width: 100%;
		height: 100%;
		background-color: #FFF;
		text-align:center;
		span {
			position:relative;
			top:50%;
			margin-top:-21px;
			display: inline-block;
			padding:0 18px 0 48px;
			border:1px solid #e3e3e3;
			@include prefixer(border-radius, 20px !important, webkit moz spec);
			height:43px;
			background: url("../../img/revision/prealoader.gif") no-repeat 10px center;
			font-size: 12px;
			font-weight: 700;
			line-height:42px;
			color:#5c849e;
		}
	}

/*==============================
=          Navbar Inverse      =
===============================*/
	.navbar-inverse {
		min-height:71px;
		background:$dark-blue-color;
		border:none;
		z-index:1005;
		
		.navbar-brand { padding:16px 20px; }
		
		.navbar-nav { padding-right:0; }
		
		.nav > li > a {
			width:70px;
			height:70px;
			padding:0;
			text-align:center;
			line-height:70px;
			border-left-color:$dark-bg-color;
			&:hover { 
				border-color:rgba(35, 43, 52, .3);
				background-color:transparent; 
			}
			img { @include prefixer(border-radius, 50% !important, webkit moz spec); }
		}

		.settings .icon-cog, .settings .icon-share-alt, .notification-dropdown .icon-warning-sign {
			display:inline-block;
			vertical-align:middle;
			font-size:25px;
		}

		.notification-dropdown > a:hover, .notification-dropdown > a.active {
			background:transparent !important; 
			@include prefixer(box-shadow, none !important, webkit moz spec);
		}

		.notification-dropdown .count {
			top:13px;
			left:50%;
			width:22px;
			margin-left:-11px;
			line-height:22px;
			padding:0;
			background-color:$light-blue-color;
			font-size:13px;
			font-weight:700;
		}

		.notification-dropdown .icon-remove { font-size:14px; }

		.pop-dialog {
			top:81px;
			right:-89px;
			z-index: 105;
			.body {
				padding:0px 10px 10px 10px;
				@include prefixer(box-shadow, none !important, webkit moz spec);
				border-color:$gray-border;
			}
			.notifications {
				width:250px;
				margin:0 -11px -1px -11px;
				h3 {
					margin:12px 0; 
					font-size:14px;
					font-weight:bold;
					color:$dark-blue-color;
				}
				.item {
					margin:0 3px;
					padding-left:18px;
					font-size:11px;
					&:hover { background-color:transparent; }
					.time {
						min-width:42px;
						text-align:right;
						font-size:9px;
						font-weight:700;
						font-style:normal;
						color:$lighten-blue;
						i {
							display: inline-block;
							vertical-align: middle;
							margin:0 0 1px 10px;
							font-size: 14px;
							color: #9BA3AD;
						}   
					}   
				}
			}
			.pointer.center .arrow, .arrow_border {
				left:50%;
				margin-left:-8px;
			}
			.pointer.center .arrow_border {
				margin-left:-9px;
				border-color:rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $gray-border;
			}
			.footer {
				margin-top:0;
				background-color:$default-color;
				font-size:11px;
				font-weight:700;
				a { color:#fff; } 
			}
			.close-icon { top:14px; }
		}
	}

/*==============================
=           sidebar Nav        =
===============================*/
	#sidebar-nav {
		width:201px;
		padding-top:0;
		#dashboard-menu {
			margin:0;
			padding:0;
			>li {
				padding:0 10px;
				margin-bottom:-1px;
				>a {
					margin:0;
					padding:25px 0 22px;
					border-bottom-color:#fff;
					@include prefixer(box-shadow, 0px 1px 0px 0px #dcdce0 !important, webkit moz spec);
					font-size:11px;
					font-weight:700;
					line-height:normal;
				}
				&:hover, &.active {
					background-color: $default-color;
					a {
						color:#fff;
						border-bottom-color:transparent;
						@include prefixer(box-shadow, none !important, webkit moz spec);
						text-shadow:none;
						text-decoration:none;
					}
					.icon-home { background-position:-77px 5px; }
					.icon-signal { background-position:-79px -97px; }
					.icon-group { background-position:-76px -192px; }
					.icon-edit { background-position:-66px -291px; }
				}
			}
			a {
				i {
					position:static;
					width:50px;
					height:47px;
					opacity:100;
				}
				span {
					display: inline-block;
					vertical-align: middle;
					width: 112px;
					margin-left:0;
				}
			}
			ul.submenu {
				margin:0 -15px;
				padding:25px 0;
				background-color:#e6e6e7;
				border:none;
				@include prefixer(box-shadow, none !important, webkit moz spec);
				a {
					display:block;
					margin:0 0 5px 25px;
					padding-left:28px;
					background:url(../../img/revision/submenu-sep.png) no-repeat 0 center;
					font-size:12px;
					color:$default-color;
					text-shadow:none;
					&:hover { text-decoration:none; }
				}
			}
		}
	}

	.tooltip {
		width:272px;
		font-size: 13px;
		line-height: 21px;
	}

	.tooltip-inner {
		max-width: 272px;
		padding:20px 25px;
		color: $lighten-gray;
		text-align:left;
		background-color: #f7f7f7;
		border:1px solid $dark-gray;
		@include prefixer(border-radius, 3px !important, webkit moz spec);
		h5 {
			margin-bottom:5px;
			font-size:15px;
			font-weight:600;
		}
	}

	.tooltip-arrow {
		position: absolute;
		z-index:2;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		&:before {
			content:"";
			position:absolute;
			z-index:1;
			width: 0;
			height: 0;
			border-color: transparent;
			border-style: solid;
		}
	}
	.tooltip.top .tooltip-arrow {
		bottom: -6px;
		left: 50%;
		margin-left: -8px;
		border-width:12px 8px 0px 8px;
		border-top-color: $dark-gray;
		&:before {
			bottom: 1px;
			left: 50%;
			margin-left: -8px;
			border-width:12px 8px 0px 8px;
			border-top-color: #f7f7f7;
		}
	}
	.tooltip.right .tooltip-arrow {
		top: 50%;
		left: -6px;
		margin-top: -7.5px;
		border-width:7px 12px 7px 0;
		border-right-color: $dark-gray;
		&:before {
			top: 50%;
			left: 1px;
			margin-top: -7.5px;
			border-width:7px 12px 7px 0;
			border-right-color: #f7f7f7;
		}
	}
	.tooltip.left .tooltip-arrow {
		top: 50%;
		left: -6px;
		margin-top: -7.5px;
		border-width:7px 0 7px 12px;
		border-left-color: $dark-gray;
		&:before {
			top: 50%;
			left: 1px;
			margin-top: -7.5px;
			border-width:7px 0 7px 12px;
			border-left-color: #f7f7f7;
		}
	}
	.tooltip.bottom .tooltip-arrow {
		top: -6px;
		left: 50%;
		margin-left:-8px;
		border-width:0 8px 12px;
		border-bottom-color: $dark-gray;
		&:before {
			top: 1px;
			left: 50%;
			margin-left:-8px;
			border-width:0 8px 12px;
			border-bottom-color: #f7f7f7;
		}
	}

	.error-tooltip {
		width:615px;
		.tooltip-inner {
			max-width:615px;
			background-color:$red-color;
			h5, p { color:#fff; }
		}
	}
	.error-tooltip.tooltip.left .tooltip-arrow:before { border-left-color:$red-color; }
	.error-tooltip.tooltip.right .tooltip-arrow:before { border-right-color:$red-color; }
	.error-tooltip.tooltip.top .tooltip-arrow:before { border-top-color:$red-color; }
	.error-tooltip.tooltip.bottom .tooltip-arrow:before { border-bottom-color:$red-color; }

	.info-tooltip {
		.tooltip-inner {
			background-color:$default-color;
			color:#fff;
			h5, p { color:#fff; }
		}
	}
	.info-tooltip.tooltip.left .tooltip-arrow:before { border-left-color:$default-color; }
	.info-tooltip.tooltip.right .tooltip-arrow:before { border-right-color:$default-color; }
	.info-tooltip.tooltip.top .tooltip-arrow:before { border-top-color:$default-color; }
	.info-tooltip.tooltip.bottom .tooltip-arrow:before { border-bottom-color:$default-color; }


	.datepicker {
		@include prefixer(box-shadow, none !important, webkit moz spec);
		border-color:$gray-border !important;
		color:$lighten-gray;
		&:after, &:before { display:none; }
		table tr td.old,  table tr td.new { color:#c9c9c9; }
		th { color:$dark-blue-color; }
		table tr td span.active, table tr td span.active:hover, table tr td span.active.disabled, table tr td span.active.disabled:hover,
		table tr td.active, table tr td.active:hover, table tr td.active.disabled, table tr td.active.disabled:hover {
			background:$default-color !important;
			text-shadow:none;
		}
		table tr td.active, table tr td.active:hover, table tr td.active.disabled, table tr td.active.disabled:hover { @include prefixer(border-radius, 50% !important, webkit moz spec); }
		.icon-arrow-right, .icon-arrow-left { color:$default-color; }
	}
	.table-condensed thead > tr > th, .table-condensed tbody > tr > th, .table-condensed tfoot > tr > th,
	.table-condensed thead > tr > td, .table-condensed tbody > tr > td, .table-condensed tfoot > tr > td {
		padding:4px 5px;
	}

	#pad-wrapper .ctrls .nav-tabs {
		margin-bottom:35px;
	}

	.nav {
		> li > a:hover, > li > a:focus {
			background-color:transparent;
			border-color:#ddd;
			border-top:1px solid transparent;
			border-bottom:1px solid transparent;
			@include prefixer(border-radius, 3px 3px 0 0 !important, webkit moz spec);
		}
	}

	.nav-tabs {
		> li > a {
			margin-right:-1px;
			border-right:1px solid #ddd;
			@include prefixer(border-radius, 0 !important, webkit moz spec);
			font-size:13px;
			font-weight:700;
			line-height:15px;
			color:$default-color;
			outline:none;
		}
		> li:first-child > a { border-left:1px solid #ddd; }
		> li.active > a, > li.active > a:hover, > li.active > a:focus {
			@include prefixer(border-radius, 3px 3px 0 0 !important, webkit moz spec);
			color:$dark-blue-color;
		}
	}

/*==============================
=            Icons             =
===============================*/

	.icon-home, .icon-signal, .icon-group, .icon-edit {
		display:inline-block !important;
		vertical-align:middle;
		width:50px;
		height:47px;
		margin:0 0 0 12px; 
		background:url(../../img/revision/dashboard-menu-icon.png) no-repeat 0 5px;
		&:before { display:none; }
	}
	.icon-signal { background-position:0 -97px; }
	.icon-group { background-position:0 -192px; }
	.icon-edit {
		margin:0 8px 0 7px;
		background-position:0 -291px;
	}

/*==============================
=            Forms             =
==============================*/
	input[type="text"]:focus, input[type="password"]:focus, textarea:focus, .inline-input input[type="text"]:hover, .inline-input input[type="password"]:hover,
	input[type="text"].inline-input:hover, input[type="password"].inline-input:hover , .dataTables_filter input[type="text"]  {
		@include prefixer(box-shadow, none !important, webkit moz spec);
		border-color:$gray-border !important;
	}
	input[type="file"]{
		opacity:0;
	}
	.file {
		position: relative;
		input[type="file"]{
			z-index: 14;
			position: relative;
		}
		.form-control { 
			display: inline-block;
			width: 205px; 
			margin-right: 5px;
		}
		.icon-plus {
			display: inline-block;
			width: 28px;
			height: 28px;
			font-size: 18px !important;
			cursor: pointer;
			
			&:before {
				position: absolute;
				color:#fff;
				right: 4px;
				top: 9px;
				z-index: 10;
			}
			&:after {
				content:"";
				position: absolute;
				width: 28px;
				height: 28px;
				right: -3px;
				@include prefixer(border-radius, 50% !important, webkit moz spec);
				background-color:$default-color;
			}
		}
	}

	.form-page .form-wrapper label {
		font-size:13px;
		color:$dark-blue-color;
	}

	.radio-inline, .checkbox-inline, .form-page .form-wrapper label.radio, .form-page .form-wrapper label.chekcbox {
		font-weight:400 !important;
		color:$lighten-gray !important;
	}

	.form-page .form-wrapper .predefined .value {
		top:9px;
		left:10px;
		color:$lighten-gray;
	}
	.form-page .form-wrapper .predefined input { padding-left:46px; }
	.form-page .form-wrapper .predefined.info input { padding-left:32px; }

	.form-control, .input-group input, .input-group input, .input-group .uneditable-input, .input-group .uneditable-input, input.search {
		@include prefixer(box-shadow, none !important, webkit moz spec);
		@include prefixer(border-radius, 3px !important, webkit moz spec);
		border-color:$gray-border;
		font:12px $oxygen !important;
		color:$lighten-gray !important;
	}

	input.search ,.dataTables_filter input[type="text"] {
		height: 34px!important;
		padding:6px 35px 6px 12px;
		background:url(../../img/revision/lens.png) #fff no-repeat 95%;
	}

	input::-moz-placeholder {
		color:#cecece!important;
	}

	input:-ms-input-placeholder{
		color:#cecece!important;
	}

	input::-webkit-input-placeholder{
		color:#cecece!important;
	}

	.icon-warning-sign.danger{
		color:$red-color !important;
	}

	.field-box [class^="icon-"], .alert [class*=" icon-"] {
		padding-right:8px;
		font-size:30px;
		vertical-align:middle;
	}

	.select2-choices {
		width: 242px;
		min-height: 33px !important;
		border-color:$gray-border!important;
	}

	.select2-container {
		background:url(../../img/revision/select-arrow.png) no-repeat center 13px;
	}

	.select2-container-multi .select2-choices  {
		max-height: 63px !important; 
		padding-right: 35px;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			height: 100%;
			min-height: 100%;
			border-left: 1px solid #e3e3e3;
			background: url(../../img/revision/select-arrow.png) no-repeat center 13px;
		}
		.select2-search-choice {
			padding:3px 30px 3px 10px !important;
			border-color: transparent;
			color:$default-color;
			font:14px $oxygen;
			font-weight: 700;
			max-height:63px !important;
			background-color: #f1f1f1;
		}
		.select2-search-choice-close {
			background: url(../../img/revision/.select2-search-choice.png) no-repeat center right;	
			top: 4px;
			right: 6px !important;
			left:auto;
			&:hover { background-position: center right !important; }
		}
	}
	.select2-container-active .select2-choices { @include prefixer(box-shadow, none !important, webkit moz spec); }
	.success-control, .error-control {
		font-size:13px;
		color:$green-color;
	}

	.error-control { color:$red-color; }

	.info-control {
		color:$default-color;
		&.over {
			position: absolute;
			top: -2px;
			padding-right:0;
			font-size:20px;
		}
	}

	textarea {
		outline: none;
		resize: none;
		padding: 9px 5px 5px 10px; 
		border-color:$gray-border !important;
		@include prefixer(border-radius, 3px !important, webkit moz spec);
		color:$lighten-gray;
	}

	textarea.form-control {
		height: 183px;
		resize: none;
	}

	div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span { background-image:none; }

	div.checker, div.checker span, div.checker input, div.radio, div.radio span, div.radio input {
		width:29px;
		height:29px;
		cursor:pointer;
	}

	div.checker, div.radio {
		border:1px solid $gray-border;
		background-color: #fff;
	}

	div.radio { @include prefixer(border-radius, 50% !important, webkit moz spec); }

	div.checker span.checked, div.radio span.checked {
		width:29px;
		height:29px;
		background:url(../../img/revision/check-icon.png)no-repeat 5px 7px !important;
	}

	div.radio span.checked { background:url(../../img/revision/radio-check.png) no-repeat 7px 7px !important; }

	.input-group .input-group-addon {
		background-color:$dark-gray;
		border-color:$dark-gray;
	}

	.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) {
		@include prefixer(border-bottom-left-radius, 0 !important, webkit moz spec);
		@include prefixer(border-top-left-radius, 0 !important, webkit moz spec);
		background-color:#fff;
		border-left:none;
	}
	.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
		@include prefixer(border-bottom-right-radius, 0 !important, webkit moz spec);
		@include prefixer(border-top-right-radius, 0 !important, webkit moz spec);
	}

	.ui-select {
		width:100%;
		height:34px;
		background:#fff;
		@include prefixer(border-radius, 3px !important, webkit moz spec);
		border-color:$dark-gray;
		select {
			position:relative;
			height:32px;
			outline:none;
			text-shadow:none;
		}
		&:before {
			content:"";
			position:absolute;
			top:0;
			right:0;
			width:30px;
			height:34px;
			border-left:1px solid $dark-gray;
			background:url(../../img/revision/select-arrow.png) no-repeat center 13px;
		}
		&.inverse {
			background:$default-color;
			border-color:$default-color;
			select { color:#fff; }
			&:before {
				border-left-color:#7a9cb2;
				background-position:center -56px;
			}
		}
	}

/*==============================
=          Login İn            =
==============================*/
	.login-bg {
		background: url("../../img/revision/blueish.jpg") no-repeat center center fixed;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/revison/blueish.jpg', sizingMethod='scale');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/revison/blueish.jpg', sizingMethod='scale')";
		@include prefixer(background-size, cover, webkit moz spec ms o);
	}

	.login-wrapper {
		top: 160px;
		.logo { margin-bottom: 15px; }
		.box { 
			position: relative;
			width: 338px;
			height: 330px;
			padding-top: 55px;
			box-shadow: none;
			background-color: rgba(227,227,227,.5);
			@include prefixer(border-radius, 2px !important, webkit moz spec);

			.content-wrap { width: 61%; }
			 input[type="text"], input[type="password"] {
				font-family:$oxygen;
				font-size:13px;
				height: 33px;
				margin-bottom: 6px;
			}

			input { 
				color:$default-color!important; 
				font-weight: 700 !important;
			}

			input::-moz-placeholder {
				font-size:13px;
				font-weight: 700;
				font-style: normal;
				color:$default-color!important;
			}

			input:-ms-input-placeholder{
				font-size:13px;
				font-weight: 700;
				font-style: normal;
				color:$default-color!important;
			}

			input::-webkit-input-placeholder{
				font-size:13px;
				font-weight: 700;
				font-style: normal;
				color:$default-color!important;
			}

			.login {
				margin-top: 40px;
				width: 100%; 
				@include prefixer(transition, none !important, webkit moz spec);
				outline:none;
			}

			.remember {
				position:absolute;
				left:-6px;
				bottom:12px;
				margin-bottom: 0;
				overflow: visible;

				label {
					font-size: 11px;
					font-weight: 400;
					color:$dark-blue-color!important;
				}
				.checker {
					width: 25px;
					height: 25px;
					background-color:rgba(227,227,227,0.6) ;
					border-color:transparent;
				}
				.checked {
					width: 25px;
					height: 25px;
					background-position: 4px 4px!important;
				}
			}

			.lang {
				label.radio { 
					display: inline-block; 
					float: left;
					margin: 0 30px 0 0;
					padding-left: 0;
					font-weight: 400;
					line-height: 32px;
					color:$dark-blue-color;
					input { margin:0; }
				}
				div.radio {
					width: 25px;
					height: 25px;
					margin-right: 8px;
					background-color:rgba(227,227,227,0.6) ;
					border-color:transparent; 

					input {
						width: 25px;
						height: 25px;
					}
					span.checked {
						width: 25px;
						height: 25px;	
						background-position: 5px 5px !important;
					}
				}
			}

			.form-control {
				background-color:rgba(227,227,227,0.6) ;
				border:none;
			}

			a.forgot {
				display:block;
				font-size: 11px;
				color:$dark-blue-color;
				font-style: normal; 
			}
		}
		.no-account {
			width: 338px;
			height: 100%;
			margin:0 auto;
			padding-top: 16px;
			font-size:13px;
			p { float: right; }
			p,a { color:#dad3d0; }
		}
	} 

/*==============================
=           Tables             =
==============================*/
	#pad-wrapper{ margin-top: 40px; }

	.table {
		border:1px solid $gray-border;
		thead tr th {
			border-bottom: 1px solid $gray-border !important;
			border-right: 1px solid $gray-border !important;
			color:$dark-blue-color;
			font-size: 13px;
			font-weight: 700;
		}
		tr td,th { border-color:$gray-border !important; }
		tr {
			height: 50px; 
			.last { border-bottom:1px solid $gray-border; }
		}
		th {
			&.first { width: 1%; }
			&.last {
				width: 11%;
				span.line { left: 8px; }
			}
		}

		td  {
			span { padding-left: 12px; }
			.edit { 
				width: 150px;  
				padding-left: 0;
			}
		}

		thead th{
			height: 32px;
			padding: 15px 0 0 20px !important;
		}

		a { color:$slate-gray; }
		.name { margin-left: 10px; }
		.img-circle { width: 36px; }
	}

	.track {
		position: relative;
		display: block;
		left: -51px;
		margin:0 0 40px 0;
		bottom:0;
		width:40px;
		height: 1px;
		background-color: $gray-border;
	}

	.table-wrapper {
		position: relative;
		margin-bottom: 40px;
		
		&.orders-table { 
			.first { width: 4%; }
			.last { text-decoration: none; }
			.label { 
				position: relative;
				color:#fff;
				text-decoration: none;
				padding: 5px 14px; 

				i {
				 position: absolute;
				 z-index: 10;
				 color: #000;
				 top: -1px;
				 left: -30px;
				 font-size: 25px;
				}
				&.label-inverse i { color:$dark-blue-color; }
				&.label-info i { color:$yellow-color; }
				&.label-success i { color:$green-color; }
				&.label-danger i { color:$red-color; }
			}
			.status-indicator {
				margin-left: -25px;
				label {
					width:21px;
					height:21px;
					font-size: 11px;
					line-height: 13px;

					&.badge { 
						margin:0 12px 0 25px; 
						&.badge-inverse{ background-color:$dark-blue-color; }
						&.badge-info{ background-color:$yellow-color; }
						&.badge-success{ background-color:$green-color; }
						&.badge-danger{ background-color:$red-color; }
					}
				}
			}

			th { 
				text-decoration: underline; 
				width: auto !important;
			}
		}
		.actions {
			float:none;
			width: 100%;
			li { 
				padding: 0 !important ;
				float: left;
				height: 30px;
				width: 33%;
				margin-top: -2px;
				text-align: center;
				border-left:1px solid $gray-border; 

				i {
					display: inline-block;
					font-size: 20px;
					padding-top: 4px;
				}
			}
		}

		.pagination { 
			margin-top: 0; 
			margin-bottom: 0;
		}
		.btn-flat { width: 170px; }
		.filter-block {
			margin-bottom: 15px;
				.new-product { 
					padding:9px 14px; 
					margin-right: 4px;
				}
				.search { 
					max-width:172px; 
					margin-right: 0;
					outline:none;
				}
			}
		.datatables-page { 
			margin-top: 20px; 
			table td {
				position: relative;
			 
			}
		}

		.table {
			input { 
				margin-top: 0!important;
				margin-left: -13px; 
			}
		}
	} 

	.dataTables_info  { display: none; }

	.sorting { background: url('../../img/datatables/sort_both.png') no-repeat center right; }
	.sorting_asc { background: url('../../img/datatables/sort_asc.png') no-repeat center right; }
	.sorting_desc { background: url('../../img/datatables/sort_desc.png') no-repeat center right; }
	.sorting_asc_disabled { background: url('../../img/datatables/sort_asc_disabled.png') no-repeat center right; }
	.sorting_desc_disabled { background: url('../../img/datatables/sort_desc_disabled.png') no-repeat center right; }

/*==============================
=           Chart              =
==============================*/
	.chart { 
		text-align: center; 
		span {
		 display: block; 
		 margin-top: -30px;
		 font-size: 13px;
		 font-weight:700;
		 color:$default-color;
		}
		&.min input { 
			top: -13px!important;
			font-size:35px !important; 
			margin-left: -130px !important;
			width: 105px !important;
		} 
		&.med input {
			width:102px !important;
			top: -13px !important;
			margin-left: -130px !important;
			font-size:42px !important; 
		}
		input { 
			top: -18px !important;
			height: 80px !important;
			font-size: 72px !important; 
			background-color:transparent !important;
			font-family:$montserrat !important;
			letter-spacing:-2px;
		}
		
	}
	.mb { margin-bottom: 100px; }
	.chart-title {
		font-size: 15px;
		margin-top: 30px;
		font-weight: 700 !important;
		color:$dark-blue-color !important;
	}


	text {
		font-size:13px !important;
	}

/*==============================
=          Datatables          =
==============================*/
	.dataTables_filter input[type="text"] {
		width: 172px;
		padding: 0;  outline:none; 
		padding-left: 12px;
	}

	.dataTables_length select {
		width: 60px;
		outline:none;
		color:$dark-blue-color;
		padding-left: 5px;
	}

	.paging_full_numbers {
		a {
			padding: 8px 15px !important;
			&.paginate_active  {
				background-color: #59839f;
				border-color: #59839f;
			}
			&.paginate_button {
				border-color:$gray-color;
				&.first,&.last { display: none; }
				&:hover { background-color: #fff; }
			}
		}
		.previous,.next {
			background-color:$gray-color!important;
			border-color:$gray-color!important;
			padding: 10px 10px 9px;
		}
		.previous {
			border-bottom-left-radius: 4px;
			border-top-left-radius: 4px;
		}
		.next {
			border-bottom-right-radius: 4px;
			border-top-right-radius: 4px;
		}
	}

/*==============================
=           Mobile             =
==============================*/
.popover {
	top: 150px;
	min-width: 300px!important;
	padding-top: 20px;
	border-color:$gray-border !important;
	@include prefixer(border-radius, 3px !important, webkit moz spec);
	@include prefixer(box-shadow, 2px 4px 10px rgba(0, 0, 0, 0.20) !important, webkit moz spec);

	&:before {
		content:"";
		position: absolute;
		top: 27px;
		left:-14px;
		width:14px;
		height:25px;
		background:url(../../img/revision/popover-arrow.png) no-repeat right top;
	}

	&.right .arrow {  display: none; }

	.popover-content {  
		min-width: 300px!important; 
		p { 
			font-size: 11px;
			line-height: 15px;
		}
	}

	form {
		label { margin-bottom: 10px; }
		.field-box {
			margin-bottom: 20px;
		}
		textarea { 
			width:100%; 
			height: 76px;
		}
		button { 
			padding: 9px 14px; 
			outline:none;
		}
	}
}

.popover-title {
	padding:13px 10px 13px 20px;
	margin:-20px 0 0 0;
	background-color:transparent;
	border-bottom:1px solid $gray-color;
	font:400 18px $oxygen;
	a {
		float:right;
		font-size:20px;
		line-height:20px;
		color:$lighten-blue;
		text-decoration:none;
	}
}

.mobile {
	position: relative;
	width: 267px;
	height: 509px;
	padding:89px 28px 85px 28px; 
	background:url(../../img/revision/mobile-bg.png) no-repeat;

	.mobile-content {
		position: relative;
		width: 212px;
		height: 333px;
		border:2px solid $slate-gray;
		.alert {
			margin:5px 0 0 0 !important;
			padding:0;
			color:$lighten-gray;
			border:none;
			font-size:11px;
			background-color: transparent;
			.icon-warning-sign { 
				padding: 0;
				margin-right: 8px;
				font-size:18px;
				color:$default-color; 
			}
		}

		.field-box { min-width: 186px; }

		.add-menu {
			margin-left: 81px;
			margin-top: 18px;
			text-decoration: none;
			font-size:13px;
			text-align: center;
			display:inline-block;
			cursor: pointer;

			.icon-plus {
				position: relative;
				width: 48px;
				height: 48px;
				display: inline-block;
				padding-top: 11px;
				font-size:28px;
				background-color: $default-color;
				@include prefixer(border-radius, 50% !important, webkit moz spec);
				color:#fff;
			}

			span { 
				display: block;
				margin-top: 5px;
				font-weight: 700; 
				color:$default-color;
			}

			&.min { /* listeleme max seviyede olduğu zaman eklenecek */
				display:inline-block;
				text-align: center;
				margin-left: 96px;
				.icon-plus { 
					padding-top: 0;
					width: 0;
					height: 0;
					margin-top: -3px;
					color:$default-color;
					font-size: 22px;
					background-color: transparent;
					@include prefixer(border-radius, 0px!important, webkit moz spec);
				}
				span { display: none; }
			}
		}

		.edit-title {
			position: absolute;
			display: inline-block;
			left: 0;
			top: -25px;
			text-decoration: underline;	
			text-indent: -9999px;
			cursor:pointer;

			.icon-remove {
				display: none;
				font-size: 17px;
				cursor:pointe;
				text-decoration: none;
				color:$default-color;
			}
		}

		.list-menu {
			margin:-2px 0 0 -2px;
			padding:0; 
			width: 212px;
			max-height: 272px;
			list-style: none;
			overflow-x: hidden;
			> li {
				position: relative;
				border-top:1px solid #fff;
				> a {
					display: block;
					padding:8px 10px;
					padding:8px 26px 8px 10px ;
					height: 33px;
					text-decoration: none;
					font-weight: bold;
					color:#fff;
					line-height: 20px;
					word-break: break-all;
					overflow: hidden;
					background-color: $slate-gray;
					.icon-cog {
						display: none;
						vertical-align: middle;	
						margin-right: 8px;
						font-size: 17px;
						line-height: 0;
						cursor: pointer;
						text-indent: -9999px;
					}
				}

				&.dropdown {
					> a {
						.icon-cog { 
							position: absolute;
							right: 0;
							top: 9px;
							display: block;
							width: 12px;
							height: 16px;
							background:url(../../img/revision/dropdown-arrow.png) $default-color no-repeat; 
						}
					}
				}
				&.active {
					.sub-menu { display: none; }
				}
				.sub-menu {
					display: none;
					position: absolute;
					left:-1px;
					top:0;
					padding: 0;
					width: 106px;
					list-style: none;
					z-index: 1000;
					background-color: $dark-blue-color;
					li {
						float: left;
						margin-left:8px;
						height: 33px;
						a {
							color:#fff;
							font-size: 18px;
							line-height: 0;
							text-decoration: none;
							display: inline-block;
							cursor: pointer;
							vertical-align: middle;

							i {
								display: inline-block;
								line-height: 32px;

								&.icon-exchange {
									margin: 0 13px; 
									-ms-transform: rotate(90deg); /* IE 9 */
									-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
									transform: rotate(90deg);
								}
								&.icon-ban-circle { 
									color:$red-color; 
								}
							}
						}
					}
				}
			}
		}

		.edit-list {
			width: 212px;
			margin:0 0 0 -2px;
			> li {
				&.dropdown {
					.icon-cog { 
						background:url(../../img/revision/dropdown-arrow.png)$slate-gray no-repeat 192px center; 
					}
				}
			}
		}

		.dropdown-list {
			> li {
				background-color: #eaeaea;
				padding:8px 10px;
				height: 34px;
				white-space: nowrap;

				> span {
					display: block;
					text-decoration: none;
					font-weight: bold;
					color:$default-color;
					.icon-cog {
						display: none;
						vertical-align: middle;	
						margin-right: 25px;
						font-size: 17px;
						cursor:pointer;
						line-height: 0;
						text-indent: -9999px;
					}
				}

				&.active-menu {
					padding:1px 10px;
					font-weight: 700;
					height: 33px;
					line-height: 30px;
					background-color: $default-color;
					span { color:#fff; }
					a {
						float: right;
						font-weight: 300;
						font-size:18px;
						color:#fff;
						padding:7px 0 0 0;
						cursor: pointer;
						background-color: transparent;
					}
				}
			}
		}

		.add-title {
			margin-top: -2px;
			padding:7px 8px ;
			height: 33px;
			width: 212px !important;
			font-weight: bold;
			margin-left: -2px;
			text-align: center;
			color:#fff;
			background:url(../../img/revision/icon-dotted.png) $green-color no-repeat 14px 14px; 
			&:hover { text-decoration: none; }
			.icon-pencil {
				float: right;
				font-size: 19px;
				display: none;
			}
			&.added{
				background-image: none;
				text-align: left;
				.icon-pencil { display: block; }
			}
		}

		form {
			label { margin-bottom: 10px; }
			.field-box {
				margin-bottom: 18px;
			}
			button { 
				padding: 9px 14px; 
				outline:none;
			}
		}

		&.add {
			.add-title { display: block; }
			.edit-list { display: none; }
			li {
				a { .icon-cog { display:none } }
			}
		}

		&.listing { /* listeleme yapılacğı zaman eklenecek */
			.add-menu {
				margin-top: 7px ;
				span { text-indent: -9999px; }
			}
			.edit-list { display: block; }
			.edit-title { text-indent: 0; }
		}

		&.edit { /* menü ile ilgili düzenleme yapılacağı zaman eklenecek */
			.edit-title {
				width:12px;
				height: 16px;
				overflow: hidden;
				.icon-remove { 
					text-indent: 0;
					display: inline-block; 
				}
			}
			.edit-list {
				.icon-cog {	display: block; }
				li a {
					&.icon-cog {
						display: inline-block !important;
						text-indent: 0;
					}
				}
			}
			.list-menu {
				li {
					a { padding-left: 114px; }
					.sub-menu { 
						display: block; 
						li a { padding-left: 0; }
					}
				}
			}
			.dropdown-list {
				li.active-menu span { padding-left: 0!important; }
				span { padding-left: 105px; }
			}
		}

		&.settings { /* menü ile ilgili ayar yapılacağı zaman eklenecek */
			.edit-list {
				li a {
					.icon-cog {
						@include prefixer(opacity, .3 !important, webkit moz spec);
					}
				}
			}
		}

		&.sub-nav {
			.add-menu.min {
				.icon-plus {
					height: 0;
					display: inline-block;
					margin-top: 0;
					font-size:20px;
					background-color: #000;
					@include prefixer(border-radius, 50% !important, webkit moz spec);
					color:$default-color;
					text-indent: 0;
				}
			}
			.add-title { display: block; }
		}
	}

	&.design-screen {
		padding:106px 34px 117px 34px; 
		width: 345px;
		height: 663px;
		background:url(../../img/revision/large-mobile-bg.png) no-repeat;		

		.mobile-content {
			width: 278px;
			height: 437px;
			border: 3px solid $default-color;
			padding: 0 15px 15px 15px;

			h2 {
				display: block;
				height: 60px;
				width: 275px;
				margin: 0 0 10px -15px;
				font:18px/60px $oxygen;
				padding-left: 14px;
				color:#fff;
				background-color: $default-color;
			}

			label { margin-bottom: 12px; }

			p { 
				font-size: 11px; 
				line-height: 14px;
			}

			textarea { height: 115px; }

			.counter {
				float: right;
				font-size:12px;
				color:$default-color;
			}

			.btn-flat { 
				min-width: 105px; 
				padding: 10px 14px;
			}

			.desc {
				margin-top: 5px;	
			}

			.ui-slider { margin:2px 0 15px 0; }

			.cancel-btn {
				margin-right: 10px;
				text-decoration: underline;
				color:$default-color;
				line-height: 33px;
			}

			.list-menu {
				margin-left: 0;
				width:100%;
				max-height: 101px;
				li {
					a {
						cursor: default;
						width: 245px;
						padding: 8px 10px 8px 10px;
						.icon-minus { margin-right: 8px; } 
						.icon-pencil,.icon-remove {
							float: right;
							font-size: 18px;
							cursor:pointer; 
						} 
						.icon-pencil { 
							margin-right: 8px; 
							padding-left: 2px;
						}
					}
					&.dropdown a { 
						background-position: 218px center; 
						background-color: $dark-blue-color;
						color:#fff;
					}
				}
			}
			
			.add-menu {
				margin: 0;
				width:100%;
				height: 32px;

				.icon-plus {
					display: block;
					height: 32px;
					width: 100%;
					margin: 1px 0 8px 0;
					padding-top: 7px;
					font-size: 20px;
					color:$default-color;
					@include prefixer(border-radius, 0 !important, webkit moz spec);
					background-color: #e0e2e4;
				}
			}
		}
	}
}

.play-ringtone {
	text-align: center;
	.ringtone-icon {
		display: inline-block;
		margin:70px 0 55px 0;
		margin-bottom: 55px;
		width:146px;
		height: 146px;
		background-image: url("../../img/revision/play-ringtone.png");
	}
	h2 { text-align:left ; }
}

.seperate-line { 
	display: block;
	position: relative;
	text-align: center;
	margin-bottom: 15px;

	span {
		display:inline-block;
		font-weight: bold;
		padding:0 10px;
		background-color: #fff;
		color:#333;
		z-index: 100;
	}
	&:before {
		position: absolute;
		left: 0;
		bottom:7px;
		content:"";
		width: 100%;
		height: 1px;
		z-index: -10;
		border-bottom:1px solid $gray-border;
	}
}

.modal-sm {
	.modal-dialog {
		width: 300px!important;
		.modal-content { overflow: hidden; }
		.modal-body { padding: 0; }
		.form-content { padding:20px; }

		.field-box {
			display: inline-block;
			margin-bottom: 5px !important;
			&.value { width: 172px; }
			&.key { width: 65px!important; }
		}

		.checkbox-inline { 
			padding-left: 0;
			margin:5px 0 0 0 !important; 
			line-height: 0;
			color:	$lighten-gray; 
			.check-text {   
				display: block;
				float: left;
				margin-bottom: -5px;
				width: 200px;
				font-size: 11px;
				line-height: 14px;
			}
		}

		.option {
			width: 100%;
			padding:9px 12px 6px 12px;
			margin-bottom: -4px !important;
			background-color: $default-color;
			.cancel-btn { color:#fff; }
		}
	}
	.alert {
		margin:5px 0 0 0 !important;
		padding:0;
		color:$lighten-gray;
		border:none;
		font-size:11px;
		background-color: transparent;
		.icon-warning-sign { 
			padding: 0;
			margin-right: 8px;
			font-size:18px;
			color:$default-color; 
		}
	}
	.save { 
		min-width: 105px; 
		padding: 10px 14px;
	}
	.cancel-btn {
		margin-right: 10px;
		text-decoration: underline;
		color:$default-color;
		line-height: 33px;
	}
	&.max .modal-dialog { 
		width: 400px!important; 
		.modal-body {
			padding:12px 0 45px 0;
		}
	}
}

#modal-alert { z-index:2005; }

.modal-alert {
 .modal-header {
  background-color:$red-color;
  .icon-warning-sign { padding-right:5px; }
  h4 { color:#fff; }
  .close {
   margin-top:1px;
   opacity:1;
   text-shadow:none;
  }
  .icon-remove { color:#fff; }
 }
 .modal-body {
  padding:10px 20px !important;
  text-align:right;
  p {
   margin-bottom:15px;
   text-align:left;
  }
  h5 {
   margin:10px 0;
   color:$red-color;
   text-align:left;
  }
  .btn-flat { background-color:$red-color; }
 }
}
.modal-backdrop.alert-overlay { z-index:2000; }


.new-node {
	.modal-dialog { width: 416px; }

	.sub-title { 
		display: block;
		font-size: 14px;
		margin:28px 0 40px;
	}

	form {
		.form-head { 
			display: block; 
			font-size: 14px;
			margin-bottom: 15px;
		}
		.ui-select { width:60% !important; }
		.btn-flat {
			min-width: 105px;
			margin-left: 3px;
			margin-bottom: -1px !important;
		}
	}

	.new-node-list {
		overflow: hidden;
		padding: 0;
		li {
			float: left;
			margin:0 14px 50px 0;
			list-style: none;
			text-align: center;
			&.last { margin-right: 0; }

			a {
				display: inline-block;
				width: 78px;
				height: 78px;
				color:$default-color;
				border:6px solid $gray-color;
				white-space: nowrap;
				@include prefixer(border-radius, 50% !important, webkit moz spec);
				background:url(../../img/revision/new-node-icons.png) no-repeat 20px 0;
				&.display-text { background-position: 20px 23px; }
				&.get-input { background-position: 20px -43px; }
				&.select-item { background-position: 20px -103px; }
				&.play-tone { background-position: 20px -164px; }
				&.send-sms { background-position: 20px -349px; }
				&.setup-call { background-position: 20px -230px; }
				&.open-browser { background-position: 19px -292px; }

				&.active { border-color:$default-color; }
				&:hover { 
				background-color: $default-color;
					&.display-text { background-position: -51px 23px; }
					&.get-input { background-position: -52px -43px; }
					&.select-item { background-position: -51px -103px; }
					&.play-tone { background-position: -51px -164px; }
					&.send-sms { background-position: -52px -349px; }
					&.setup-call { background-position: -51px -230px; }
					&.open-browser { background-position: -51px -292px; }
				}

				span {
					font-size: 12px;
					display: inline-block;
					margin-top: 83px;
				}
			}
		}
	}
	.btn-flat { height: 32px; }
}

.mobile.gray {
	width: 345px;
	height: 663px;
	background:url(../../img/revision/mobile-gray.png) no-repeat;
}

.tree-menu {
	position:relative;
	display:inline-block;
	margin:30px 0;
	padding:0;
	list-style:none;
	&:after{
		content:"";
		position:absolute;
		top:35px;
		left:65px;
		width:6px;
		height:100%;
		background-color:$gray-color;
	}
	.item {
		position:relative;
		z-index:2;
		display:inline-block;
		margin-bottom:60px;
		padding:0 35px 0 0;
	}
	.label { 
		min-width:135px;
		height:35px;
		margin:0;
		font-weight:700;
		line-height:22px;
	}
	.add-item, .remove-item {
		position:absolute;
		top:3px;
		right:0;
		display:block;
		width: 30px;
		height: 30px;
		@include prefixer(border-radius, 50% !important, webkit moz spec);
		background-color:$default-color;
		text-align: center;
		text-decoration:none;
		line-height:30px;
		.icon-plus, .icon-remove {
			display:inline-block;
			vertical-align:middle;
			font-size: 21px;	
			color: #FFF;
		}
		&.new {
			top:5px;
			left:53px;
			z-index:2;
		}
	}
	.remove-item {
		left:-38px;
		line-height:28px;
		background-color:$dark-gray;
		&:hover { background-color:$red-color; }
	}
	.no-child:after, .no-child:before { display:none; }
	li {
		position:relative;
		>ul {
			position:relative;
			margin-left:80px;
			list-style:none;
			&:before {
				content:"";
				position:absolute;
				top:-80px;
				left:-28px;
				z-index:1;
				width:32px;
				height:32px;
				@include prefixer(border-radius, 50% !important, webkit moz spec);
				background-color:$gray-color;
			}
			.item:before {
				content:"";
				position:absolute;
				top:15px;
				left:-55px;
				width:55px;
				height:6px;
				background-color:$gray-color;
			}
			ul {
				margin-bottom:50px;
				margin-left:75px;
				.item { margin-bottom:20px; }
				&:after {
					content:"";
					position:absolute;
					top:-48px;
					left:-15px;
					width:6px;
					height:calc( 100% + 12px );
					background-color:$gray-color;
				}
				ul:before { top:-40px; }
			}
		}
		.add-item.active  { opacity:.1; }
		.label.active { background-color:$dark-blue-color; }
	}
}

.create-scenario {
	margin:30px 0 56px 65px;
	ul {
		position:relative;
		padding:0;
		margin:0;
		list-style:none;
		.add-item, .remove-item {
			position:relative;
			left:12px;
			z-index:1;
			display:block;
			width: 30px;
			height: 30px;
			margin:25px 0 0;
			@include prefixer(border-radius, 50% !important, webkit moz spec);
			background-color:$default-color;
			text-align: center;
			text-decoration:none;
			line-height:30px;
			.icon-plus, .icon-remove {
				display:inline-block;
				vertical-align:middle;
				font-size: 24px;	
				color: #FFF;
			}
		}
		.remove-item {
			margin:13px 0;
			line-height:28px;
			background-color:$dark-gray;
			&:hover { background-color:$red-color; }
		}
		.selected-option {
			position:absolute;
			top:-91px;
			left:-91px;
			display:block;
			width:120px;
			font-size:10px;
			color:$default-color;
			text-align:center;
		}
		.icon-area {
			position:relative;
			z-index:1;
			display:inline-block;
			vertical-align:middle;
			width:56px;
			height:56px;
			border:6px solid $gray-color;
			@include prefixer(border-radius, 50% !important, webkit moz spec);
			text-indent:-9999px;
			background:url(../../img/revision/new-node-icons.png) #fff no-repeat 20px 0;
			&.display-text { background-position:2px -456px; }
			&.get-input { background-position: 2px -508px; }
			&.select-item { background-position: 2px -557px; }
			&.play-tone { background-position: 2px -607px; }
			&.send-sms { background-position: 2px -755px; }
			&.setup-call { background-position: 2px -659px; }
			&.open-browser { background-position: 4px -710px; }
		}
		.item-label {
			display:inline-block;
			vertical-align:middle;
			width: 262px;
			padding:0 7px;
			font-size:11px;
			font-weight:700;
			color:$dark-blue-color;
		}
		li {
			position:relative;
			clear:both;
			&:after {
				content:"";
				position:absolute;
				top:56px;
				left:25px;
				width:6px;
				height:100%;
				background-color:$gray-color;
			}
			&.active >.icon-area {
				&.display-text { background-position:-55px -456px; }
				&.get-input { background-position: -55px -508px; }
				&.select-item { background-position: -55px -557px; }
				&.play-tone { background-position: -55px -607px; }
				&.send-sms { background-position: -55px -755px; }
				&.setup-call { background-position: -55px -659px; }
				&.open-browser { background-position: -58px -710px; }
				background-color:$default-color;
			}
		}
		&:last-child {
			li:after {
				top:30px;
				height:calc(100% + 26px);
			}
		}
		ul {
			display:inline-block;
			vertical-align:top;
			width:56px;
			margin:35px -58px 0 125px;
			padding-top:95px;
			&:before, &:after {
				content:"";
				position:absolute;
				top:25px;
				left:-95px;
				width:125px;
				height:6px;
				background-color:$gray-color;
			}
			&:after {
				top:25px;
				left:25px;
				width:6px;
				height:95px;
			}
			.item-label {
				width: 100px;
				position: relative;
				z-index: 11;
				background-color:$gray-color;
				@include prefixer(border-radius, 15px !important, webkit moz spec);
				text-align: center;
				padding:5px 7px;
				margin: 5px 0 0 -24px;
			}
			li:last-child:after { display:none; }
		}
	}
}

.save-scenario, .save-this-menu {
 width:375px;
 margin-top:5px;
 padding:30px 15px;
 background-color:$default-color;
 @include prefixer(border-radius, 10px !important, webkit moz spec);
 h6, p, a { 
  margin:0;
  font:400 13px $oxygen;
  color:#fff;
 }
 h6 {
  margin:0 0 10px 0;
  font-weight:700;
 }
 a { text-decoration:underline; }
 form { margin-bottom:10px; }
 input[type="text"] {
  display: inline-block;
  vertical-align:top;
  width:212px;
  font:400 13px $oxygen;
 }
 button, input[type="submit"] {
  min-width:125px;
  height:34px;
  margin:0 0 0 5px !important;
 }
}

.save-this-menu {
 width:267px;
 margin-top:56px;
 padding:15px 15px 10px;
 p {
  width:100% !important;
  margin-bottom:0 !important; 
  text-align:center;
 }
 input[type="text"] {
  width:100%;
  display:block;
 }
 button, input[type="submit"] {
  width:100%;
  margin:8px 0 0 0 !important;
 }
}

.node-element {
	text-align: center;
	h2 { text-align: left; }
	.node-icon { margin:65px 0 55px 0; }
}

.node {
	color:$dark-blue-color;
	text-align: center;
	font-weight: bold;
}

.node-icon {
	display: inline-block;
	text-align: center;
	width: 147px;
	height: 147px;
	@include prefixer(border-radius, 50% !important, webkit moz spec);
	background:url(../../img/revision/node-icons.png)$gray-color no-repeat center 38px;
}

.node-name {
	width: 58px;
	height: 58px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 18px;
	@include prefixer(border-radius, 50% !important, webkit moz spec);
	border:6px solid $gray-border;
	background:url(../../img/revision/new-node-icons.png) no-repeat 0 0;
	background-size:80px;
	
	&.display-text { background-position: 12px 14px; }
	&.get-input { background-position: 12px -39px; }
	&.select-item { background-position: 12px -87px; }
	&.play-tone { background-position: 12px -136px; }
	&.send-sms { background-position: 12px -283px; }
	&.setup-call { background-position: 12px -188px; }
	&.open-browser { background-position: 12px -237px; }
}

.mobile-preview {
	margin: 0 auto;
	.preview-option {
		background-color: $default-color;
		height: 34px;
		display: block;
		width: 210px;
		padding:0 10px;
		a {
			display: inline-block;
			padding-left: 20px;
			color:#fff;
			font:13px/30px $oxygen;
			background:url(../../img/revision/option-icons.png) no-repeat left 7px;
			&.cancel {
				display: none;
				padding-right: 22px;
				background-position: right -77px;
			}
			&:hover { text-decoration: none; }
		}
	}

	.info-area {
		padding:15px 12px 30px 12px;
		width: 209px;
		height: 220px;
		display: table-cell;
		vertical-align: middle;
		text-align: center; 
		.info {
			margin-top: 20px;
			font:14px/28px $oxygen;
			color:$dark-blue-color;	
		}
		.list-menu {
			width: 208px;
			height: 222px;
			margin-left: -12px;
			li {
				padding: 7px 10px;
				background-color: #eaeaea;
				text-align: left;
				span { 
					font-weight: bold;
					color:$default-color; 
				}
			}
		}
		.btn-group {
			position: absolute;
			bottom: 20px;
			left: 20px;
		}
	}

	label { margin-bottom: 12px; }

	.field-box { position: relative; }

	.alert { text-align: left;  }

	.ok button {
		position: absolute;
		right: 0;
		top:0;
		width:40px;
		height: 33px;
		border:none;
		padding: 0!important;
		background-color: $dark-gray;
		color:#fff;
	}

	.selection-info { 
		margin-top: 5px;
		font-weight: bold;
		line-height: 18px;
		color:$dark-blue-color; 
	}

	.btn-flat {
		position: absolute;
		bottom: 20px;
		display: inline-block;
		left: 20px;
	}

	&.accepted {
		.preview-option {
			a.cancel { display: block; }
		}
		.info, .btn-group { display: none; }
	}
	&.focus {
		.info-area {
			height: 125px;
		}
	}
	&.active {
		.ok button {
			background-color: $default-color;
		}
	}
	&.list {
		.current { 
			margin:16px 0 28px 0; 
		}
	}
	&.after-selection {
		text-align: center;
		.preview-option a.cancel { display: none; }
		.current { display: none; }
		.btn-group { display: block; }
	}
	&.open-browser { 
		.node-icon { background-position: center -140px; }
	}
	&.setup-call { 
		.node-icon { background-position: center -310px; }
	}
	&.send-sms {
		.sms {
			padding:10px 18px;
			color:$lighten-gray;
			@include prefixer(border-radius, 4px !important, webkit moz spec);
			border:1px solid $gray-border;
			p {
			 font-size: 11px; 
			 line-height: 18px;
			}
			.sms-icon {
				display: inline-block;
				width: 40px;
				height: 40px;
				@include prefixer(border-radius, 50% !important, webkit moz spec);
				background:url(../../img/revision/sms-icon.png)$gray-color no-repeat center center;
			}
		}
	}
}


/*==============================
=            FIXES             =
==============================*/
	.gecko {
		.ui-select  {
			select { padding-top: 6px; }
		}
		.chart.default input { margin-top:57px !important; }
	}

	.win.gecko {
		.ui-select.inverse {
			&:before { z-index: 10; }
			select { background-color: $default-color!important;}
		}
	}

 