
	<!-- main container -->
	<div class="content" ng-controller="campaignDeliveryController" ng-init="path='/scheduler'">
		<div id="pad-wrapper">

			<!-- morris graph chart -->
			<div class="row head">
				 <div class="col-md-12">
				 <h4>Campaign Center</h4>
				 <p>The graphics indicate the results of the selected campaign.</p>
				 </div>
			</div>
			
			<div class="row">
				<div class="row" >
                                            <div class="col-md-3 chart min">
						<input type="text" value="9" knob-sent class="knob knob-normal second" data-thickness=".3"  data-inputColor="#59839f" data-fgColor="#59839f" data-bgColor="#e6e6e7" data-width="156" data-readOnly=true data-min="0" data-max="88344" ng-model="sent">
						<span>Sent</span>
                                            </div>
                                            <div class="col-md-3 chart min">
						<input type="text" value="1556" knob-sent class="knob  knob-normal second" data-thickness=".3" data-inputColor="#59839f" data-fgColor="#59839f" data-bgColor="#e6e6e7" data-width="156" data-readOnly=true data-min="0" data-max="88344" ng-model="delivered">
						 <span>Delivered</span>
                                            </div>
                               </div>             
                                <div class="chart col-md-6">
                                        <donut-chart data="myModelDonut" style="height: 200px;"></donut-chart>  
                                </div>

				
			</div>

		</div>

	</div>
	<!-- end main container -->