
	<!-- main container -->
	<div class="content" ng-controller="campaignController" ng-init="path='/scheduler'">
		<div id="pad-wrapper">

			<!-- morris graph chart -->
			<div class="row head">
				 <div class="col-md-12">
				 <h4>Campaign Center</h4>
				 <p>The graphics indicate the results of the selected campaign.</p>
				 </div>
			</div>
			
			<div class="row">
				<div class="row" >
					<div class="col-md-3 chart min">
						<input type="text" value="9" knob-sent class="knob knob-normal second" data-thickness=".3"  data-inputColor="#59839f" data-fgColor="#59839f" data-bgColor="#e6e6e7" data-width="156" data-readOnly=true data-min="0" data-max="50000" ng-model="sent">
						<span>Sent</span>
					</div>
					<div class="col-md-3 chart min">
						<input type="text" value="1556" knob-sent class="knob  knob-normal second" data-thickness=".3" data-inputColor="#59839f" data-fgColor="#59839f" data-bgColor="#e6e6e7" data-width="156" data-readOnly=true data-min="0" data-max="50000" ng-model="delivered">
						 <span>Delivered</span>
					</div>
					<div class="col-md-3 chart min">
						<input type="text" value="2620" knob-sent class="knob  knob-normal second" data-thickness=".3" data-inputColor="#59839f" data-fgColor="#59839f" data-bgColor="#e6e6e7" data-width="156" data-readOnly=true data-min="0" data-max="50000" ng-model="blackListed">
						<span>Black Listed</span>
					</div>
					<div class="col-md-3 chart min">
						<input type="text" value="75" knob-sent class="knob knob-percent second" data-thickness=".3" data-inputColor="#59839f" data-fgColor="#59839f" data-bgColor="#e6e6e7" data-width="156"  data-readOnly=true data-min="0" data-max="50000" ng-model="accepted">
						<span>Accepted</span>
					</div>
				</div>
			</div>

			<div class="row">&nbsp;</div>

			<div class="section">
				<ul class="nav nav-tabs">
      				<li ng-class="tabClass(tab)" ng-repeat="tab in tabs" tab="tab"><a ng-click="setSelectedTab(tab)">{{tab.label}}</a></li>
    			</ul>
    			<br/>

				<div class="row datatables-page">
						
						<div class="dataTables_length" id="example_length">
						<a class="btn-flat gray" ng-click="deleteAll()">DELETE</a>
						</div>
						<div class="dataTables_filter" id="example_filter">
							<button class="btn-flat" ng-click="openScheduler()">+ADD CAMPAIGN</button>
							<input style="padding-top:6px;padding-right:35px;padding-bottom:6px;padding-left:12px;" ng-model="query" ng-change="getData(items, query)" aria-controls="example" type="text" placeholder="Search">
						</div>
						<table class="table table-hover dataTable" id="example" aria-describedby="example_info">
							<thead>
								<tr>
									<th class="first"></th>
									<th class="col-md-2" custom-sort order="'status'" sort="sort"><span>STATUS</span></th>
									<th class="col-md-2" custom-sort order="'campaign'" sort="sort"><span>CAMPAIGN</span></th>
									<th class="col-md-2" custom-sort order="'startTime'" sort="sort"><span>START TIME</span></th>
									<th class="col-md-2" custom-sort order="'endTime'" sort="sort"><span>END TIME</span></th>
									<th class="col-md-1" custom-sort order="'total'" sort="sort"><span>TOTAL</span></th>
									<th class="col-md-1" custom-sort order="'sent'" sort="sort"><span>SENT</span></th>
									<th class="last" custom-sort order="'delivered'" sort="sort"><span>DELIVERED</span></th>
								</tr>
							</thead>

							<tbody role="alert" aria-live="polite" aria-relevant="all">
								<tr style="cursor:pointer" ng-class="$index % 2 == 0 && 'first even' || 'first odd'" ng-repeat="campaignstatistic in pagedItems[currentPage] | filter:query | orderBy:sort.sortingOrder:sort.reverse">
									<td><div class="checker"><span ng-class="campaignstatistic.checked"><input ng-click="putToRemoveBag(campaignstatistic)" type="checkbox"></span></div></td>
									<td ng-click="editItem(campaignstatistic)"><button class="btn-flat {{campaignstatistic.statusName}}">{{campaignstatistic.statusName}}</button></td>
									<td ng-click="editItem(campaignstatistic)">{{campaignstatistic.serviceId}}</td>
									<td ng-click="editItem(campaignstatistic)">{{campaignstatistic.startTime | date:'yyyy-MM-dd HH:mm'}}</td>
									<td ng-click="editItem(campaignstatistic)">{{campaignstatistic.endTime | date:'yyyy-MM-dd HH:mm'}}</td>
									<td ng-click="editItem(campaignstatistic)"><span class="pull-right">{{campaignstatistic.total}}</span></td>
									<td ng-click="editItem(campaignstatistic)"><span class="pull-right">{{campaignstatistic.sent}}</span></td>
									<td ng-click="editItem(campaignstatistic)"><span class="pull-right">{{campaignstatistic.delivered}}</span></td>
								</tr>
							</tbody>
						</table>

						<ul class="pagination pull-right">
						
							<li ng-class="{disabled: currentPage == 0}">
                            	<a href ng-click="prevPage()"><i class="icon-chevron-left"></i></a>
                            </li>
                            
                            <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                            	<a href ng-bind="n + 1"></a>
                            </li>
                            <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                            	<a href ng-click="nextPage()"><i class="icon-chevron-right"></i></a>
                            </li>
						
						</ul>

						<a class="btn-flat gray" ng-click="deleteAll()">DELETE</a>
						
						<label class="pull-right" style="margin-right:30px;">Show 
							<select ng-model="itemsPerPage" ng-change="groupToPages()" name="example_length" aria-controls="example" size="1">
								<option selected="selected" value="10">10</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>Entries
						</label>
						
					</div>
				
			</div>
		</div>

	</div>
	<!-- end main container -->