
	<!-- main container -->
	<div class="content" ng-controller="executiveReportControllerSTUP">

		<div id="pad-wrapper">

			<!-- morris graph chart -->
			<div class="row head">
				 <div class="col-md-12">
				 <h4>Daily Reports</h4>
				 <p>
					 These are the reports of the final figures. 
				 </p>
				 </div>
			</div>

			<div class="section">
				<ul class="nav nav-tabs">
      				<li ng-class="tabClass(tab)" ng-repeat="tab in tabs" tab="tab"><a ng-click="setSelectedTab(tab)">{{tab.label}}</a></li>
    			</ul>
    			<br/>

				<div class="row mb" ng-show="selectedTab.label == 'Overview'">
					<div class="col-md-12">
						<p>Final SIMple TopUp figures... Daily Change column indicates the difference between yesterday's and today's numbers.</p>
					</div>					
					<div class="col-md-7">
					<table class="table table-hover dataTable " id="example2" aria-describedby="example_info2">
						<thead>
							<tr>
								<th class="col-md-2" rowspan="1" colspan="1"><span>{{tableHeader[0].label | date}}</span></th>
								<th class="col-md-2" rowspan="1" colspan="1"><span>{{tableHeader[1].label}}</span></th>
								<th class="col-md-2" rowspan="1" colspan="1"><span>{{tableHeader[2].label}}</span></th>
							</tr>
						</thead>

						<tbody role="alert" aria-live="polite" aria-relevant="all">
							<tr style="cursor:pointer" ng-class="$index % 2 == 0 && 'first even' || 'first odd'" ng-repeat="tableContent in tableContents">
								<td>{{tableContent.column1}}</td>
								<td><span class="pull-right">{{tableContent.column2}}</span></td>
								<td><span class="pull-right badge {{tableContent.column4}}" style="padding-left:7px">&nbsp;</span>
									<span class="pull-right">{{tableContent.column3}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
					<div class="chart col-md-5 pull-right">
						<donut-chart data="myModelDonut" style="height: 250px;"></donut-chart>  
					</div>
                                        <div class="col-md-7">
					<table class="table table-hover dataTable " id="example1" aria-describedby="example_info1">                                             
                                                
                                                <tbody role="alert" aria-live="polite" aria-relevant="all">	
								<td class="col-md-2">{{table2Contents.column1}}</td>
								<td class="col-md-2"><span class="pull-right">{{table2Contents.column2}}</span></td>
								<td class="col-md-2"><span class="pull-right badge {{table2Contents.column4}}" style="padding-left:7px">&nbsp;</span>
									<span class="pull-right">{{table2Contents.column3}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
								</td>
						</tbody>
					</table>
					</div>
				
				</div>
				
				<div class="row mb" ng-show="selectedTab.label == 'Campaign Results Report'">
					<div class="col-md-12">
						<p>Campaign acceptance results for the selected time period.</p>
					</div>
                                        <div class="col-md-12" style="bottom: 0px;z-index: 900;left: 0px;">
						<div class="btn-group pull-Left">
							<button class="glow left {{dayStatus}}" ng-click="changeToDate('day')">DAY</button>
							<button class="glow middle {{monthStatus}}" ng-click="changeToDate('month')">MONTH</button>
							<button class="glow right {{yearStatus}}" ng-click="changeToDate('year')">YEAR</button>
						</div>
					</div>
					<div class="col-md-12 chart">
						<flot-chart ng-model="flotData" style="height:250px;"></flot-chart>
					</div>

					
				</div>

				<div class="row mb" ng-show="selectedTab.label == 'Transaction Numbers Report'">
					
					<div class="col-md-12">
						<p>System usage trend for last 7 days period.</p>
					</div>					
					<div class="col-md-12 chart">  
						<line-chart xkey="xkeyLine" ykeys="ykeysLine" labels="labelsLine" style="height: 250px;" data="taxData"></line-chart>
					</div>
				</div>

				
			</div>
		</div>
		<script>
		function showTooltip(x, y, contents) {
			$('<div id="tooltip">' + contents + '</div>').css( {
				position: 'absolute',
				display: 'none',
				top: y - 30,
				left: x - 50,
				color: "#fff",
				padding: '2px 5px',
				'border-radius': '6px',
				'background-color': '#000',
				opacity: 0.80
			}).appendTo("body").fadeIn(200);
		}

		var previousPoint = null;
		
		</script>

	</div>
	<!-- end main container -->