<!-- main container -->
		<div class="content" ng-controller="detailController" ng-init="path='/gsmoperatortable';url='/api/gsmoperator/'">

			<div id="pad-wrapper">
			
				<div class="row">
					
					<div class="col-md-6">
						<h4>{{screen.header}}</h4>
						<br/>
						<p>Using following options you can {{screen.operation}}.</p>
						<br/><br/>
							<form class="form-horizontal" role="form">
								
								<div class="form-group">
									<label class="col-md-4">GSM Operator Code</label>
									<div class="col-md-8">
										<input ng-model="item.code" class="form-control" type="text"/>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">GSM Operator Name</label>
									<div class="col-md-8">
										<input name="gsmOperatorName" ng-model="item.name" class="form-control" type="text"/>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">GSM Operator Description</label>
									<div class="col-md-8">
										<input name="gsmOperatorDescription" ng-model="item.description" class="form-control" type="text"/>
									</div>
								</div>
								
								<br/><br/>								
								<div class="form-group">
									<button class="btn-flat" ng-click="cancel()">Cancel</button>&nbsp;
									<button ng-show="screen.operation == 'edit'" class="btn-flat" ng-click="edit()">{{screen.button}}</button>
									<button ng-show="screen.operation == 'add'" class="btn-flat" ng-click="add()">{{screen.button}}</button>
								</div>
								
							</form>
	
					</div>
				</div>
				
			</div><!-- end pad-wrapper -->
			
		</div><!-- end content -->
		
		<script>
			// add uniform plugin styles to html elements
			$("input:checkbox, input:radio").uniform();
		</script>
		
