	
	
	<!-- main container -->
		<div class="content ng-cloak" ng-controller="interactifDesignController" ng-init="url='/api/dstkmodule';operation='';moduleName='';defSmsMess='Sending request...';defSmsNo='2222';defCall='Calling...';items=[];type='0';currentItem=items[0];">
			<div id="pad-wrapper" ng-show="items.length">
				
				<div class="col-md-7">
					<h4>Create Scenario</h4>

					<div class="create-scenario" >
						<div ng-include="'item-template.html'"></div>
					</div>

					<div class="save-scenario">
						<h6>Save This Scenario As:</h6>
						
							<form class="form-horizontal" role="form">	
							<div class="form-group">
								<div class="col-md-1">
									<input type="radio" ng-model="type" value="0" name="type" id="type"/>
								</div>
								<label class="col-md-2" style="color:white">Campaign Service</label>
								<div class="col-md-1">
									<input type="radio" ng-model="type" value="1" name="type" id="type"/>
								</div>
								<label class="col-md-2" style="color:white">Menu Service</label>
								<div class="col-md-1">
									<input type="radio" ng-model="type" value="2" name="type" id="type"/>
								</div>
								<label class="col-md-2" style="color:white">Common Module</label>
								<div class="col-md-3"></div>
							</div>	
							
					        <div class="form-group">
					        	<div class="col-md-12">
								<input max-len="30" filter-pattern="[^ıİöÖçÇşŞğĞüÜ]" class="form-control" ng-model="moduleName" type="text" placeholder="Service Name" />
								<button class="btn-flat inverse" ng-click="exportJSON()">SAVE</button>
								</div>
								<div class="col-md-12">
								<p>
									or <a design-preview data="items">Preview</a> before saving
								</p>
								</div>
							</div>
							</form>	
					</div>

				</div>

				<div class="col-md-5" ng-show="currentItem">
					<div class="mobile design-screen">

						<div class="mobile-content" ng-if="currentItem.type == 'selectItem'">

							<h2>Select Item</h2>
							<label class="counter">{{$parent.currentItem.options.question.value.length + 0}}/40</label>
							
							<form action="." class="">
								<div class="field-box">
									<label>Title / Question:</label>
									<input max-len="40" filter-pattern="[^ıİöÖçÇşŞğĞüÜ]" ng-disabled="$parent.currentItem.options.question.disabled" ng-model="$parent.currentItem.options.question.value" class="form-control" type="text" placeholder="Type Here">
								</div>

								<label>Options :</label>
								<ul ui-sortable="{axis: 'y', cursor: 'move', handle: '.sort'}" ng-model="$parent.currentItem.items" class="list-menu">
									<li ng-repeat="item in $parent.currentItem.items" ng-class="{'dropdown': item.branch }">
										<a>
											<i ng-click="removeOption(item, $parent.currentItem.items)" class="icon-remove"></i>
											<i class="sort icon-exchange"></i>
											<i ng-click="editOption(item)" class="icon-pencil"></i>{{item.options.value.value}}
										</a>
									</li>
								</ul>

								<a ng-click="addOption($parent.currentItem.items)" class="add-menu" title="">
									<i class="icon-plus"></i>
								</a>

							</form>

						</div><!-- end mobile-content -->

						<div class="mobile-content" ng-if="currentItem.type == 'getInput'">

							<h2>Get Input</h2>
							<label>Question:</label>
							<label class="counter">{{$parent.currentItem.options.question.value.length + 0}}/120</label>
							
							<div class="field-box">
								<input max-len="120" filter-pattern="[^ıİöÖçÇşŞğĞüÜ]" ng-disabled="$parent.currentItem.options.question.disabled" ng-model="$parent.currentItem.options.question.value" class="form-control" type="text" placeholder="Type Here">
							</div>

							<div class="field-box">
								<label>Input Type:</label>
								<div class="ui-select">
									<select ng-disabled="$parent.currentItem.options.select.disabled" ng-model="$parent.currentItem.options.select.value">
										<option value="">ALPHANUMERIC</option>
										<option value="NUMERIC">NUMERIC</option>
										<option value="PASSWORD_NUMERIC">PASSCODE</option>
									</select>
								</div>
							</div>

							<div class="field-box">
								<label>Input Length:</label>
								<div ui-slider="sliderOptions" min="0" max="120" ng-model="$parent.currentItem.options.range" style="width:100%;"></div>
							</div>
							
							<div class="col-md-12">&nbsp;</div>
							
							<label>Extra Options:</label>
							<div class="field-box">
						    	<label class="checkbox-inline" style="padding-left:0px">
									<span><input ng-model="currentItem.encrypted" uniform type="checkbox" value="true"></span>
									<span class="check-text">ENCRYPT INPUT</span>
						    	</label>
							</div>

						</div><!-- end mobile-content -->
						
						<div class="mobile-content" ng-if="currentItem.type == 'displayText'">

							<h2>Display Text</h2>
							<label>Text Displayed:</label>
							<label class="counter">{{$parent.currentItem.options.question.value.length + 0}}/220</label>

							<div class="field-box">
								<textarea max-len="220" filter-pattern="[^ıİöÖçÇşŞğĞüÜ]" ng-disabled="$parent.currentItem.options.question.disabled" ng-model="$parent.currentItem.options.question.value" class="form-control" placeholder="Type here"></textarea>
							</div>

						</div><!-- end mobile-content -->

						<div class="mobile-content" ng-if="currentItem.type == 'sendSms'">

							<h2>Send SMS</h2>
							<label>Message Displayed:</label>
							<label class="counter">{{currentItem.title.length + 0}}/50</label>

							<div class="field-box">
								<input max-len="50" filter-pattern="[^ıİöÖçÇşŞğĞüÜ]" ng-model="currentItem.title" class="form-control" type="text">
							</div>
							
							<label>Destination Number:</label>
							<div class="field-box">
								<input max-len="16" filter-pattern="[0-9]" ng-model="currentItem.destination" class="form-control" type="text">
							</div>
							
							<label>Keyword:</label>
							<div class="field-box">
								<input max-len="140" filter-pattern="[^ıİöÖçÇşŞğĞüÜ]" ng-model="currentItem.keyword" class="form-control" type="text">
							</div>
							
							<label>Extra Options:</label>
							<div class="field-box">
								<label class="checkbox-inline" style="padding-left:0px">
									<span><input ng-model="currentItem.imei" uniform type="checkbox" value="true"></span>
									<span class="check-text">INCLUDE DEVICE INFO</span>
						    	</label>
							</div>
							
							<div class="field-box">
								<label class="checkbox-inline" style="padding-left:0px">
									<span><input ng-model="currentItem.localInfo" uniform type="checkbox" value="true"></span>
									<span class="check-text">INCLUDE LOCATION INFO</span>
						    	</label>
						    </div>	
							
							<div class="field-box">
						    	<label class="checkbox-inline" style="padding-left:0px">
									<span><input ng-model="currentItem.encrypted" uniform type="checkbox" value="true"></span>
									<span class="check-text">ENCRYPT MESSAGE</span>
						    	</label>
							</div>
							
						</div><!-- end mobile-content -->

						<div class="mobile-content" ng-if="currentItem.type == 'setupCall'">

							<h2>Setup Call</h2>
							
							<label>Message Displayed:</label>
							<label class="counter">{{currentItem.title.length + 0}}/50</label>
							<div class="field-box">
								<input max-len="50" filter-pattern="[^ıİöÖçÇşŞğĞüÜ]" ng-model="currentItem.title" class="form-control" type="text">
							</div>
							
							<label>Destination Number:</label>
							<div class="field-box">
								<input max-len="16" filter-pattern="[0-9]" ng-model="currentItem.destination" class="form-control" type="text">
							</div>
							
						</div><!-- end mobile-content -->
						
						<div class="mobile-content" ng-if="currentItem.type == 'openBrowser'">

							<h2>Launch Browser</h2>
							
							<label>Destination Address:</label>
							<div class="field-box">
								<input max-len="50" filter-pattern="[^ıİöÖçÇşŞğĞüÜ]" ng-model="currentItem.url" class="form-control" type="text" placeholder="www.google.com.tr">
							</div>
							
						</div><!-- end mobile-content -->
						
						<div class="mobile-content node-element" ng-if="currentItem.type == 'playTone'">

							<h2>Play Tone</h2>

							<span class="node-icon"></span>
							
						</div><!-- end mobile-content -->

					</div><!-- end mobile -->
				</div>
				<!-- Button trigger modal -->

			</div><!-- end pad-wrapper -->

			<div id="pad-wrapper" ng-show="items.length == 0">

				<div class="new-node col-md-4" style="width:40.33%">
					<h4>Create Scenario</h4>
					<label class="sub-title">Start by adding the first node</label>

					<ul class="new-node-list">
						<li><a ng-click="addItem('displayText')" class="display-text"><span>Display Text</span></a></li>
						<li><a ng-click="addItem('getInput')" class="get-input"><span>Get Input</span></a></li>
						<li><a ng-click="addItem('selectItem')" class="select-item"><span>Select Item</span></a></li>
						<li><a ng-click="addItem('playTone')" class="play-tone"><span>Play Tone</span></a></li>
						<li><a ng-click="addItem('sendSms')" class="send-sms"><span>Send SMS</span></a></li>
						<li><a ng-click="addItem('setupCall')" class="setup-call"><span>Setup Call</span></a></li>
						<li><a ng-click="addItem('openBrowser')" class="open-browser"><span>Launch Browser</span></a></li>
					</ul><!-- end new-node-list -->
					
				</div>
			</div><!-- end pad-wrapper -->

		</div><!-- end content -->
		
		<!-- Template -->
		<script type="text/ng-template" id="item-template.html">
			<ul>
				<li ng-if="item.options.key"><span class="selected-option">{{item.options.value.value}}</span></li>
				<li ng-repeat="item in items track by $index" ng-class="{'active':item == currentItem}">
					<a ng-click="removeItem(item, items)" class="remove-item"><i class="icon-remove"></i></a>
					<span ng-click="selectItem(item)" class="icon-area {{item.type|toDash}}"><i></i></span>
					<span ng-show="item.options.question.value" class="item-label">{{item.options.question.value}}</span>
					<span ng-if="item.type == 2" class="selected-option">{{displaySelectedOption(item.options)}}</span>
					<div ng-if="item.items.length && item.type == 'selectItem'">
						<ng-include ng-repeat="item in $parent.item.items" ng-if="item.branch" src="'item-template.html'" ng-init="items=item.items;item = item"></ng-include>
					</div>
				</li>
				<li>
					<a ng-click="addItem(0, items)" title="" class="add-item"><i class="icon-plus"></i></a>
				</li>
			</ul>
		</script>

		<script type="text/ng-template" id="item-modal.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()"><i class="icon-remove"></i></button>
			<h4 class="modal-title" id="mySmallModalLabel">Add new node</h4>
		</div>

		<div class="modal-body">
			<ul class="new-node-list">
				<li><a ng-click="addItem('displayText')" class="display-text"><span>Display Text</span></a></li>
				<li><a ng-click="addItem('getInput')" class="get-input"><span>Get Input</span></a></li>
				<li><a ng-click="addItem('selectItem')" class="select-item"><span>Select Item</span></a></li>
				<li class="last"><a ng-click="addItem('playTone')" class="play-tone"><span>Play Tone</span></a></li>
				<li><a ng-click="addItem('sendSms')" class="send-sms"><span>Send SMS</span></a></li>
				<li><a ng-click="addItem('setupCall')" class="setup-call"><span>Setup Call</span></a></li>
				<li><a ng-click="addItem('openBrowser')" class="open-browser"><span>Launch Browser</span></a></li>
			</ul><!-- end new-node-list -->

			<form>

				<div class="field-box">
					<label class="form-head">or Common Module</label>
					<div class="ui-select">
						<select ng-model="terminalModuleName">
                        	<option ng-repeat="option in options" value="{{option.moduleName}}">{{option.moduleName}}</option>
                        </select>
					</div>
					<button class="btn-flat">ADD</button>
				</div>

			</form>
		</div>
		</script>
		
		<script type="text/ng-template" id="item-test.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()"><i class="icon-remove"></i></button>
			<h4 class="modal-title" id="mySmallModalLabel">Saved Successfully</h4>
		</div>

		<div class="modal-body">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<div class="ui-select">
						<select ng-model="testMSISDN">
							<option value="">Select One</option>
							<option value="05323495805">05323495805</option>
						</select>
					</div>
					<button class="btn-flat" ng-click="liveTest();">Live Test</button>
				</div>
				<div class="col-md-12">
					<p>
                                                or <a design-preview data="items">Preview</a> 
					</p>
				</div>
			</form>
		</div>
		</script>

		<script type="text/ng-template" id="add-option-modal.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()"><i class="icon-remove"></i></button>
			<h4 class="modal-title" id="mySmallModalLabel">Add new option</h4>
		</div>

		<div class="modal-body">
			<div class="form-content">
				<div class="field-box value">
					<label>Option:</label>
					<input ng-model="item.options.value.value" max-len="30" filter-pattern="[^ıİöÖçÇşŞğĞüÜ]" class="form-control" type="text">
				</div>

				<div class="field-box key">
					<label>Keyword:</label>
					<input ng-model="item.options.key.value" max-len="140" filter-pattern="[^ıİöÖçÇşŞğĞüÜ]" class="form-control" type="text"/>
				</div>

				<label class="checkbox-inline">
					<div class="checker pull-left">
						<span><input ng-model="item.branch" uniform type="checkbox" value="true"></span>
					</div>
					<span class="check-text">Create new branch for this item to alternate the scenario.</span>
				</label>
			</div>

			<div class="field-box option">
				<button class="btn-flat inverse add-more pull-center" ng-click="addOption(true)">ADD MORE</button>
				<button class="btn-flat inverse save pull-right" ng-click="addOption()">SAVE</button>
				<a ng-click="close()" class="cancel-btn pull-left">cancel</a>
			</div>
		</div>
		</script>
		
		<script type="text/ng-template" id="preview-modal">
		<div class="modal fade modal-sm max" style="display: block;">
			<div class="modal-dialog modal-sm max" ng-init="currentItem=data[0]">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" ng-click="close()"><i class="icon-remove"></i></button>
						<h4 class="modal-title" id="mySmallModalLabel">Preview Service</h4>
					</div>

					<div class="modal-body">


						<div class="mobile mobile-preview {{currentItem.type|toDash}}">

							<div class="mobile-content">
								
								<div ng-if="currentItem.type == 'displayText'">
									<div class="preview-option">
										<a class="pull-left" ng-click="prev()">Back</a>
										<a class="cancel pull-right">Cancel</a>
									</div>

									<div class="info-area">
										<p class="info">{{currentItem.options.question.value}} </p>
										<div class="btn-group">
											<button class="glow left" ng-click="close()">CANCEL</button>
											<button class="glow right active" ng-click="next()">ACCEPT</button>
										</div>
									</div>
								</div>

								<div ng-if="currentItem.type == 'getInput'">
									<div class="preview-option">
										<a class="pull-left" ng-click="prev()">Back</a>
										<a class="cancel pull-right">Cancel</a>
									</div>
									<div class="info-area">
										<label class="current">{{currentItem.options.question.value}}</label>
											<div ng-show="currentItem.options.select.value != 'NUMERIC' && currentItem.options.select.value != 'PASSWORD_NUMERIC'">
											<div class="field-box ok">
                                                                                                    <input max-len={{$parent.currentItem.options.range[1]}} filter-pattern="[^ıİöÖçÇşŞğĞüÜ]" class="form-control" type="text" placeholder="" ng-model="currentItem.options.question.input">
                                                                                                    <div ng-show="flagShowOkButton(currentItem)">
                                                                                                        <button style = 'background-color:#59839f;' ng-click="next()">OK</button>
                                                                                                    </div>
                                                                                        </div>
                                                                                        </div>
                                                                                        
                                                                                        <div ng-show="currentItem.options.select.value == 'NUMERIC'">
                                                                                        <div class="field-box ok">
                                                                                                    <input max-len={{$parent.currentItem.options.range[1]}} filter-pattern="[0-9]" class="form-control" type="text" placeholder="" ng-model="currentItem.options.question.input">
                                                                                                    <div ng-show="flagShowOkButton(currentItem)">
                                                                                                        <button style = 'background-color:#59839f;' ng-click="next()">OK</button>
                                                                                                    </div>
                                                                                        </div>     
											</div>
                                                                                        
                                                                                        <div ng-show="currentItem.options.select.value == 'PASSWORD_NUMERIC'">
                                                                                        <div class="field-box ok">
                                                                                                    <input type="password" max-len={{$parent.currentItem.options.range[1]}} filter-pattern="[0-9]" class="form-control" type="text" placeholder="" ng-model="currentItem.options.question.input">
                                                                                                    <div ng-show="flagShowOkButton(currentItem)">
                                                                                                            <button style = 'background-color:#59839f;' ng-click="next()">OK</button>
                                                                                                    </div>
                                                                                        </div>     
											</div>
									</div>
								</div>
								
								<div ng-if="currentItem.type == 'selectItem'">		
									<div class="preview-option">
										<a class="pull-left" ng-click="prev()">Back</a>
										<a class="cancel pull-right">Cancel</a>
									</div>

									<div class="info-area">
										<label class="current">{{currentItem.options.question.value}}</label>
										<ul class="list-menu">
											<li ng-repeat="item in currentItem.items" ng-click="selectBranch(item);"><span>{{item.options.value.value}}<span></li>
										</ul><!-- end dropdown-list -->
									</div>
								</div>

								<div ng-if="currentItem.type == 'playTone'">
									<div class="preview-option">
										<a class="pull-left" ng-click="prev()">Back</a>
										<a class="cancel pull-right">Cancel</a>
									</div>

									<div class="info-area">
										<span class="node-icon"></span>
										<div class="btn-group">
											<button class="glow left">CANCEL</button>
											<button class="glow right active" ng-click="next()">ACCEPT</button>
										</div>
									</div>
								</div>								
								
								<div ng-if="currentItem.type == 'sendSms'">
									<div class="preview-option">
										<a class="pull-left" ng-click="prev()">Back</a>
										<a class="cancel pull-right">Cancel</a>
									</div>

									<div class="info-area">
										<div class="sms">
											<span class="sms-icon"></span>
											<p>{{currentItem.keyword}} {{smsText()}}</p>
                                            <span class="number">{{currentItem.destination}}</span>
										</div>
										<p class="selection-info">
											<span class="number">{{currentItem.title}}</span>											
										</p>
										<div class="progress progress-striped">
											<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
												<span class="sr-only">40% Complete (success)</span>
											</div>
										</div>
                                                                                <div class="btn-group">
											<button class="glow left" ng-click="close()">CANCEL</button>
											<button class="glow right active" ng-click="next()">ACCEPT</button>
										</div>
									</div>
								</div>								
								
								<div ng-if="currentItem.type == 'openBrowser'">
									<div class="preview-option">
										<a class="pull-left" ng-click="prev()">Back</a>
										<a class="cancel pull-right">Cancel</a>
									</div>

									<div class="info-area">
										<span class="node-icon"></span>
										<p class="selection-info" style = 'color:lightgray;'>{{currentItem.url}}</p>
                                                                                <div class="btn-group">
                                                                                    <button class="glow left" ng-click="close()">CANCEL</button>
                                                                                    <button class="glow right active" ng-click="next()">ACCEPT</button>
                                                                                </div>
									</div>
								</div>								

								<div ng-if="currentItem.type == 'setupCall'">
									<div class="preview-option">
										<a class="pull-left" ng-click="prev()">Back</a>
										<a class="cancel pull-right">Cancel</a>
									</div>

									<div class="info-area">
										<span class="node-icon"></span>
										<p class="selection-info" style = 'color:lightgray;'>{{currentItem.destination}}</p>
                                                                                <p class="selection-info">{{currentItem.title}}</p>
                                                                                <div class="btn-group">
                                                                                    <button class="glow left" ng-click="close()">CANCEL</button>
                                                                                    <button class="glow right active" ng-click="next()">ACCEPT</button>
                                                                                </div>
									</div>
								</div>

							</div><!-- end mobile-content -->
						</div><!-- end mobile -->
					</div>

				</div>
			</div>
		</div>
		<div class="modal-backdrop fade"></div>
		</script>
		
		<script type="text/javascript">
		
			// Switch slide buttons
			$('.slider-button').click(function() {
				if ($(this).hasClass("on")) {
					$(this).removeClass('on').html($(this).data("off-text"));
				} else {
					$(this).addClass('on').html($(this).data("on-text"));
				}
			});
			
			
		</script>
