		<div class="content" ng-controller="tableController" ng-init="url='/api/operatorlocationinfo';path='/locationinfo/'">
			
			<!-- settings changer -->
			<div id="pad-wrapper">
				
					<div class="row head">
						<div class="col-md-12">
							<h4>Location Info</h4>
							<p>The screen to add, update or delete location information of a "Cell".</p>
						</div>
					</div>
					
					<div class="row datatables-page">
						
						<div class="dataTables_length" id="example_length">
						<a class="btn-flat gray" ng-click="deleteAll()">DELETE</a>
						</div>
						<div class="dataTables_filter" id="example_filter">
							<button class="btn-flat" ng-click="addItem()">+ADD LOCATION INFO</button>
							<input style="padding-top:6px;padding-right:35px;padding-bottom:6px;padding-left:12px;" ng-model="query" ng-change="getData(items, query)" aria-controls="example" type="text" placeholder="Search">
						</div>
						<table class="table table-hover dataTable" id="example" aria-describedby="example_info">
							<thead>
								<tr>
									<th class="first" rowspan="1" colspan="1"></th>
									<th class="col-md-2" custom-sort order="'cellID'" sort="sort" rowspan="1" colspan="1"><span>Cell ID</span></th>
									<th class="col-md-2" custom-sort order="'city'" sort="sort" rowspan="1" colspan="1"><span>City</span></th>
									<th class="col-md-2" custom-sort order="'region'" sort="sort" rowspan="1" colspan="1"><span>Region</span></th>
									<th class="last" custom-sort order="'district'" sort="sort" rowspan="1" colspan="1"><span>District</span></th>
								</tr>
							</thead>

							<tbody role="alert" aria-live="polite" aria-relevant="all">
								<tr style="cursor:pointer" ng-class="$index % 2 == 0 && 'first even' || 'first odd'" ng-repeat="item in pagedItems[currentPage] | filter:query | orderBy:sort.sortingOrder:sort.reverse">
									<td><div class="checker"><span ng-class="item.checked"><input ng-click="putToRemoveBag(item)" type="checkbox"></span></div></td>
									<td ng-click="editItem(item)">{{item.cellID}}</td>
									<td ng-click="editItem(item)">{{item.city}}</td>
									<td ng-click="editItem(item)">{{item.region}}</td>
									<td ng-click="editItem(item)">{{item.district}}</td>
								</tr>
							</tbody>
						</table>
						
						<ul class="pagination pull-right">
						
							<li ng-class="{disabled: currentPage == 0}">
                            	<a href ng-click="prevPage()"><i class="icon-chevron-left"></i></a>
                            </li>
                            
                            <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                            	<a href ng-bind="n + 1"></a>
                            </li>
                            <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                            	<a href ng-click="nextPage()"><i class="icon-chevron-right"></i></a>
                            </li>
						
						</ul>

						<a class="btn-flat gray" ng-click="deleteAll()">DELETE</a>
						
						<label class="pull-right" style="margin-right:30px;">Show 
							<select ng-model="itemsPerPage" ng-change="groupToPages()" name="example_length" aria-controls="example" size="1">
								<option selected="selected" value="10">10</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>Entries
						</label>
						
					</div>
			</div>
		</div>
	</div>
