
 
		<!-- main container -->
		<div class="content ng-cloak">

				<div id="pad-wrapper" ng-controller="ramDesignController">

						<div class="head">
							<h4>Applications</h4>	
						</div>
						
						<ul class="tree-menu">
							<li ng-repeat="item in menuItems">
								<div class="item">
									<span add-edit-modal="static" item="item" class="label label-default">{{item.title}}</span>
									<a add-edit-modal="static" items="item.items" class="add-item"><i class="icon-plus"></i></a>
								</div>	

								<ul ng-if="item.items&&item.items.length">
									<li ng-repeat="_item in item.items" last-element item="_item" last="$last">
										<div class="item">
											<a ng-click="removeItem(item.items, _item)" class="remove-item"><i class="icon-remove"></i></a>
											<span add-edit-modal="static" item="_item" class="label label-default">{{_item.title}}</span>
											<a add-edit-modal="static" items="_item.items" class="add-item"><i class="icon-plus"></i></a>
										</div>
										<ul ng-if="_item.items&&_item.items.length">
											<li ng-repeat="__item in _item.items" last-element item="__item" last="$last">
												<div class="item">
													<a ng-click="removeItem(_item.items, __item)" class="remove-item"><i class="icon-remove"></i></a>
													<span add-edit-modal="static" item="__item" class="label label-default">{{__item.title}}</span>
													<a add-edit-modal="static" items="__item.items" class="add-item"><i class="icon-plus"></i></a>
												</div>
												<ul ng-if="__item.items&&__item.items.length">
													<li ng-repeat="___item in __item.items" last-element item="___item" last="$last">
														<div class="item">
															<a ng-click="removeItem(__item.items, ___item)" class="remove-item"><i class="icon-remove"></i></a>
															<span class="label label-default">{{___item.title}}</span>
														</div>
													</li>
												</ul>
											</li>
										</ul>

									</li>
								</ul>

							</li>
						</ul>

						<div class="save-scenario">
							<h6>Save Profile</h6>
							<form action="." method="post">
								<input class="form-control" type="text" placeholder="SLB 120" />
								<button class="btn-flat inverse">SAVE &amp; EXIT</button>
							</form>
						</div>

				</div>

		</div> <!-- end main container -->
				
		<!-- Template -->
		<script type="text/template" id="editModal">

		<div class="helper-nav tree-menu-form">
			<a ng-click="close()" class="helper-btn">HELP</a>

			<h2>Properties</h2>

			<form action="" class="form-page">
			
					<div class="form-wrapper">
						<div class="form-group">
							<label class="col-md-5">Description:</label>
							<div class="col-md-7">
								<input ng-model="_item.title" class="form-control" type="text" /> 
							</div>
					</div>

					<div class="form-group">
						<label class="col-md-5">Package AID:</label>
						<div class="col-md-7">
							<input ng-model="_item.pkg.aid" class="form-control" type="text" /> 
						</div>
						<label class="col-md-5">Applet AID:</label>
						<div class="col-md-7">
							<input ng-model="_item.mdl.aid" class="form-control" type="text" /> 
						</div>
						<label class="col-md-5">Instance AID:</label>
						<div class="col-md-7">
							<input ng-model="_item.cls.aid" class="form-control" type="text" /> 
						</div>
						<label class="col-md-5">Inst Non-Vol Size:</label>
						<div class="col-md-7">
							<input ng-model="_item.insSize" class="form-control" type="text" /> 
						</div>
						<label class="col-md-5">Inst Vol Size:</label>
						<div class="col-md-7">
							<input ng-model="_item.insVolSize" class="form-control" type="text" /> 
						</div>
						<label class="col-md-5">Sys. Params:</label>
						<div class="col-md-7">
							<input ng-model="_item.sysParams" class="form-control" type="text" /> 
						</div>
						<label class="col-md-5">Appl. Params:</label>
						<div class="col-md-7">
							<input ng-model="_item.appParams" class="form-control" type="text" /> 
						</div>
						<label class="col-md-5">ETSI Params:</label>
						<div class="col-md-7">
							<input ng-model="_item.etsiParams" class="form-control" type="text" /> 
						</div>
						<label class="col-md-5">Cont. Params:</label>
						<div class="col-md-7">
							<input ng-model="_item.cntlessParams" class="form-control" type="text" /> 
						</div>
						<div class="col-md-12">
								<label class="checkbox-inline min">
									<span><input ng-model="_item.factoryInstalled" uniform type="checkbox" value="true"></span>
									<span class="check-text" style="line-height:30px;">Factory Installed?</span>
								</label>
						</div>
						<div class="col-md-12">
								<label class="checkbox-inline min">
									<span><input ng-model="_item.underSSD" uniform type="checkbox" value="true"></span>
									<span class="check-text" style="line-height:30px;">Upload Under Service Provider SSD?</span>
								</label>
						</div>
						<div class="col-md-12">
								<label class="checkbox-inline min">
									<span><input ng-model="_item.delPckg" uniform type="checkbox" value="true"></span>
									<span class="check-text" style="line-height:30px;">Delete With Package?</span>
								</label>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="col-md-12">
							<a class='btn btn-primary' href='javascript:;'>
								Upload CAP File
								<input type="file" ng-file-select="onFileSelect($files)" multiple style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'/>
							</a>
						</div>
					</div>
					

					<div class="option">
						<button ng-if="_edit" ng-click="edit()" class="btn-flat pull-right">SAVE</button>
						<button ng-if="!_edit" ng-click="add()" class="btn-flat pull-right">SAVE</button>
						<a ng-click="close()" class="cancel-btn pull-right">cancel</a>
					</div>

				</div>

			</form>

		</div><!-- end helper-nav -->
		</script>

