<!-- main container -->
		<div class="content ng-cloak" ng-controller="schedulerController" ng-init="optionUrl='/api/dstkmodule/searchpushmodule';scheduleOption = 'now';formValue={'validFrom' : '10:00 am','validTo': '08:00 pm'} ; path='/campaign/search/service'">

			<div id="pad-wrapper">
			
				<div class="row">
					
					<div class="col-md-10 column">
						<h4>Create Campaign</h4>
						<p>Create a campaign by setting up the option values.</p>
						<br/><br/>
							<form class="form-horizontal" role="form">
								
								<div class="form-group">
									<label class="col-md-2">Campaign Name:</label>
									<div class="col-md-5">
										<input ng-model="campaignName" class="form-control" type="text" placeholder="Identify a Campaign Name" />
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-2">Service:</label>
									<div class="col-md-5">
										<div class="ui-select">
											<select ng-model="service">
												<option ng-repeat="option in options" value="{{option.moduleName}}" ng-selected="{{service == option.moduleName}}">{{option.moduleName}}</option>
											</select>
										</div>	
									</div>
								</div>
                                                                								
								<div class="form-group">
									<label class="col-md-2">Target MSISDN:</label>
									<div class="col-md-3">
										<input ng-model="msisdn" ui-mask="{{'(999) 999 99 99'}}" class="form-control" type="text"/>
									</div>	
									<div class="col-md-2">
										<a class='btn btn-primary' href='javascript:;'>
											or Target List...
											<input type="file" ng-file-select="onFileSelect($files)" multiple style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'/>
										</a>
									</div>
								</div>
                                                                 <div class="form-group">
                                                                        <label class="col-md-2">Display Option:</label>
                                                                        <div class>
                                                                                <div class="col-md-3">
											<label class="radio"style='font-weight:normal;margin-left:-20px;'>
												<span> <input ng-model="displayOption" uniform type="radio" name="optionRadios" id="optionRadio1" value="whenSent" ng-value="whenSent"></span>
                                                                                                When Delivered
											</label>
                                                                                </div
                                                                                <div class="col-md-3">
											<label class="radio"style='font-weight:normal;'>
												<span> <input ng-model="displayOption" uniform type="radio" name="optionRadios" id="optionRadio2" value="onEvent"></span>
                                                                                                When Triggered
                                                                                        </label>
                                                                                </div        
                                                                        </div>                                
                                                                </div>
                                                                <div ng-show="displayOption == 'onEvent'">
								<div class="form-group">
									<label class="col-md-2">Triggering Event:</label>
									<div class>
										<div class="col-md-2">
											<label class="checkbox-inline" style='margin-left:-20px;'>
												<span><input ng-model="afterCall" uniform type="checkbox" value="true"></span>
												<span class="check-text">After Call</span>
											</label>
										</div>
                                                                                <div class="col-md-2">	
											<label class="checkbox-inline"style=''>
												<span><input ng-model="afterSms" uniform type="checkbox" value="true"></span>
												<span class="check-text">After SMS</span>
											</label>
										</div>	
                                                                                <div class="col-md-2">	
											<label class="checkbox-inline">
												<span><input ng-model="afterBrowser" uniform type="checkbox" value="true"></span>
												<span class="check-text">After Browser</span>
											</label>
										</div>
										<div class="col-md-2">	
											<label class="checkbox-inline">
												<span><input ng-model="onStartup" uniform type="checkbox" value="true"></span>
												<span class="check-text">On Startup</span>
											</label>
										</div>
										<div class="col-md-2">	
											<label class="checkbox-inline">
												<span><input ng-model="onRoaming" uniform type="checkbox" value="true"></span>
												<span class="check-text">On Roaming</span>
											</label>
										</div>
									</div>
								</div>
                                                                
                                                                <div class="form-group">
									<label class="col-md-2">Triggering Priority:</label>
									<div class="col-md-5">
										<div class="ui-select">
											<select ng-model="priority">
												<option value="1">1 - Most Prior</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
                                                                                                <option value="7">7</option>
												<option value="8">8 - Least Prior</option>
											</select>
										</div>	
									</div>
									<div class="col-md-4"></div>
								</div>
								
								<div class="form-group">
									<label class="col-md-2">Triggering Period:</label>
									<div class="col-md-5">
										<div class="ui-select">
											<select ng-model="triggerPeriod">
												<option value=""></option>
												<option value="1">On every occasion</option>
												<option value="2">Once in every 2 occasions</option>
												<option value="3">Once in every 3 occasions</option>
												<option value="4">Once in every 4 occasions</option>
												<option value="5">Once in every 5 occasions</option>
												<option value="6">Once in every 6 occasions</option>
											</select>
										</div>	
									</div>
									<div class="col-md-4"></div>
								</div>
								
								<div class="form-group">
									<label class="col-md-2">Trigerring Limit:</label>
									<div class="col-md-5">
										<div class="ui-select">
											<select ng-model="maxTriggerCount">
												<option value="">For 1 time only</option>
												<option value="2">For 2 times at max</option>
												<option value="3">For 3 times at max</option>
												<option value="4">For 4 times at max</option>
												<option value="5">For 5 times at max</option>
												<option value="6">For 6 times at max</option>
											</select>
										</div>	
									</div>
								</div>
                                                                </div>
                                                                
								<div ng-show="scheduleOption == 'now'">
								<div class="form-group">
									<div class="col-md-9">
									<button class="btn-flat gray" ng-click="cancel()">Cancel</button>&nbsp;
									<button class="btn-flat inverse" ng-click="sendLater();">Schedule For Later</button>
                                                                        <button class="btn-flat" ng-click="sendNow();">Send Now</button>&nbsp;
									</div>
								</div>
                                                                </div>
                                                                
                                                                <div ng-show="scheduleOption == 'later'">
                                                                
                                                                <div class="form-group">
                                                                        <label class="col-md-2">Start Date & Time:</label>
                                                                        <div class="col-md-5">
                                                                                <div class="input-group date form_datetime" data-date="2014-04-06T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                                                                        <input class="form-control" size="100" type="text" value= "" style = 'background-color:white;'readonly>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                                                                        <input type="hidden" id="dtp_input1" value="" />
                                                                                </div>	
                                                                        </div>
                                                                </div>

                                                                <div class="form-group">
                                                                        <label class="col-md-2">End Date & Time:</label>
                                                                        <div class="col-md-5">
                                                                                <div class="input-group date form_datetime" data-date="2014-04-06T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input2">
                                                                                        <input class="form-control" size="100" type="text" value="" style = 'background-color:white;'readonly>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                                                                        <input type="hidden" id="dtp_input2" value="" />
                                                                                </div>	
                                                                        </div>
                                                                </div>

                                                                <div class="form-group">
                                                                        <label class="col-md-2">Valid Hours - From:</label>
                                                                        <div class="col-md-5">
                                                                                <div class="input-group date form_time" data-date="" data-date-format="hh:ii p" data-link-field="dtp_input3" data-link-format="hh:ii p">
                                                                                        <input class="form-control" size="30" type="text" value="{{formValue.validFrom}}" style = 'background-color:white;'readonly>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                                                        <input type="hidden" id="dtp_input3" value="" />
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-3"></div>
                                                                </div>

                                                                <div class="form-group">
                                                                        <label class="col-md-2">Valid Hours - Untill:</label>
                                                                        <div class="col-md-5">
                                                                                <div class="input-group date form_time" data-date="" data-date-format="hh:ii p" data-link-field="dtp_input4" data-link-format="hh:ii p">
                                                                                        <input class="form-control" size="30" type="text" value="{{formValue.validTo}}" style = 'background-color:white;'readonly>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                                                        <input type="hidden" id="dtp_input4" value="" />
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-3"></div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-md-2">Retry Counter:</label>
                                                                        <div class="col-md-5">
                                                                            <div class="ui-select">
                                                                                <select ng-model="retryCount">
                                                                                    <option value="0">0 - Do not send to unreached subscribers again</option>
                                                                                    <option value="">1 - Retry, for the next (1) day, at Start Time</option>
                                                                                    <option value="2">2 - Retry, for the next 2 days, at Start Time</option>
                                                                                    <option value="3">3 - Retry, for the next 3 days, at Start Time</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>                    
                                                                </div>                                                          
								
                                                                <div class="form-group">
									<div class="col-md-9">
									<button class="btn-flat gray" ng-click="cancel()">Cancel</button>&nbsp;
									<button class="btn-flat inverse" ng-click="sendLater();">Close "Schedule For Later"</button>
									<button class="btn-flat" ng-click="save();">Save</button>&nbsp;                                                                        
									</div>
								</div>
								
							</form>
	
					</div>
				</div>
				
			</div><!-- end pad-wrapper -->
					
		<script>

			$('.form_datetime').datetimepicker({
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
	        showMeridian: 1
	    	});
			$('.form_date').datetimepicker({
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0
	    	});
			$('.form_time').datetimepicker({
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 1,
			minView: 0,
			maxView: 1,
			forceParse: 0
	    	});

		</script>
	
		</script>
		
		
			
		</div><!-- end content -->
		