<!-- main container -->
		<div class="content ng-cloak" ng-controller="schedulerController" ng-init="optionUrl='/api/dstkinstance';scheduleOption = 'now';formValue={'validFrom' : '10:00 am','validTo': '08:00 pm'};path='/campaign/search/notservice'">

			<div id="pad-wrapper">
			
				<div class="row">
					
					<div class="col-md-10 column">
						<h4>Create Campaign</h4>
						<p>Create a campaign by setting up the option values.</p>
						<br/><br/>
							<form class="form-horizontal" role="form">
								
								<div class="form-group">
									<label class="col-md-2">Campaign Name:</label>
									<div class="col-md-5">
										<input ng-model="campaignName" class="form-control" type="text" placeholder="Identify a Campaign Name" />
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-2">Service:</label>
									<div class="col-md-5">
										<div class="ui-select">
											<select ng-model="service">
												<option ng-repeat="option in options" value="{{option.instanceAndVersion}}" ng-selected="{{service == option.instanceAndVersion}}">{{option.instanceAndVersion}}</option>
											</select>
										</div>	
									</div>
								</div>
                                                                								
								<div class="form-group">
									<label class="col-md-2">Target MSISDN:</label>
									<div class="col-md-3">
										<input ng-model="msisdn" ui-mask="{{'(999) 999 99 99'}}" class="form-control" type="text"/>
									</div>	
									<div class="col-md-2">
										<a class='btn btn-primary' href='javascript:;'>
											or Target List...
											<input type="file" ng-file-select="onFileSelect($files)" multiple style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'/>
										</a>
									</div>
								</div>
                                                                
								<div ng-show="scheduleOption == 'now'">
								<div class="form-group">
									<div class="col-md-9">
									<button class="btn-flat gray" ng-click="cancel()">Cancel</button>&nbsp;
									<button class="btn-flat inverse" ng-click="sendLater();">Schedule For Later</button>
                                                                        <button class="btn-flat" ng-click="sendNow();">Send Now</button>&nbsp;
									</div>
								</div>
                                                                </div>
                                                                
                                                                <div ng-show="scheduleOption == 'later'">
                                                                
                                                                <div class="form-group">
                                                                        <label class="col-md-2">Start Date & Time:</label>
                                                                        <div class="col-md-5">
                                                                                <div class="input-group date form_datetime" data-date="2014-04-06T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                                                                        <input class="form-control" size="100" type="text" value= "" style = 'background-color:white;'readonly>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                                                                        <input type="hidden" id="dtp_input1" value="" />
                                                                                </div>	
                                                                        </div>
                                                                </div>

                                                                <div class="form-group">
                                                                        <label class="col-md-2">End Date & Time:</label>
                                                                        <div class="col-md-5">
                                                                                <div class="input-group date form_datetime" data-date="2014-04-06T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input2">
                                                                                        <input class="form-control" size="100" type="text" value="" style = 'background-color:white;'readonly>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                                                                        <input type="hidden" id="dtp_input2" value="" />
                                                                                </div>	
                                                                        </div>
                                                                </div>

                                                                <div class="form-group">
                                                                        <label class="col-md-2">Valid Hours - From:</label>
                                                                        <div class="col-md-5">
                                                                                <div class="input-group date form_time" data-date="" data-date-format="hh:ii p" data-link-field="dtp_input3" data-link-format="hh:ii p">
                                                                                        <input class="form-control" size="30" type="text" value="{{formValue.validFrom}}" style = 'background-color:white;'readonly>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                                                        <input type="hidden" id="dtp_input3" value="" />
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-3"></div>
                                                                </div>

                                                                <div class="form-group">
                                                                        <label class="col-md-2">Valid Hours - Untill:</label>
                                                                        <div class="col-md-5">
                                                                                <div class="input-group date form_time" data-date="" data-date-format="hh:ii p" data-link-field="dtp_input4" data-link-format="hh:ii p">
                                                                                        <input class="form-control" size="30" type="text" value="{{formValue.validTo}}" style = 'background-color:white;'readonly>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                                                        <input type="hidden" id="dtp_input4" value="" />
                                                                                </div>
                                                                        </div>
                                                                        <div class="col-md-3"></div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-md-2">Retry Counter:</label>
                                                                        <div class="col-md-5">
                                                                            <div class="ui-select">
                                                                                <select ng-model="retryCount">
                                                                                    <option value="0">0 - Do not send to unreached subscribers again</option>
                                                                                    <option value="">1 - Retry, for the next (1) day, at Start Time</option>
                                                                                    <option value="2">2 - Retry, for the next 2 days, at Start Time</option>
                                                                                    <option value="3">3 - Retry, for the next 3 days, at Start Time</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>                    
                                                                </div>                                                          
								
                                                                <div class="form-group">
									<div class="col-md-9">
									<button class="btn-flat gray" ng-click="cancel()">Cancel</button>&nbsp;
									<button class="btn-flat inverse" ng-click="sendLater();">Close "Schedule For Later"</button>
									<button class="btn-flat" ng-click="save();">Save</button>&nbsp;                                                                        
									</div>
								</div>
								
							</form>
	
					</div>
				</div>
				
			</div><!-- end pad-wrapper -->
					
		<script>

			$('.form_datetime').datetimepicker({
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
	        showMeridian: 1
	    	});
			$('.form_date').datetimepicker({
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0
	    	});
			$('.form_time').datetimepicker({
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 1,
			minView: 0,
			maxView: 1,
			forceParse: 0
	    	});

		</script>
	
		</script>
		
		
			
		</div><!-- end content -->
		