<!DOCTYPE html>
<html class="login-bg" ng-app="signinApp">
<head>
	<title>Metamorfoz - Sign in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!-- bootstrap -->
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="css/compiled/layout.css" />
    <link rel="stylesheet" type="text/css" href="css/compiled/elements.css" />
    <link rel="stylesheet" type="text/css" href="css/compiled/icons.css" />

    <!-- libraries -->
    <link href="css/lib/uniform.default.css" type="text/css" rel="stylesheet" />
    <link href="css/lib/select2.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/lib/font-awesome.css" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="css/compiled/signin.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/compiled/form-showcase.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/compiled/main.css" type="text/css" media="screen" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

  <div class="login-wrapper" ng-controller="signinController" ng-init="mainUrl='maindstk.html'">
      <a href="index.html">
          <img class="logo" src="img/revision/sign-logo.png" alt="logo" />
      </a>

      <form class="box">
        <div class="content-wrap">
          <input class="form-control" type="text" placeholder="Username" ng-model="signin.username">
          <input class="form-control" type="password" placeholder="Password" ng-model="signin.password">

          <button class="btn-flat login" ng-click="checkCredentials()">LOGIN</button>
          
          
          
          <a href="#" class="forgot">Forgot your password?</a>

          <div class="remember">

            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1" checked> Remember me
            </label>

          </div>
        </div>
      </form>

      <div class="no-account">
          <p>Don't have an account?<a href="signup.html">Sign up</a></p>
      </div>
  </div>

  <!-- scripts for this page -->
    <script src="js/wysihtml5-0.3.0.js"></script>
    <script src="js/jquery-latest.js"></script>
  <script src="js/css_browser_selector.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.datepicker.js"></script>
    <script src="js/jquery.uniform.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/theme.js"></script>
    
    <script src="js/angular.js"></script>
	<script src="js/angular.ui.sortable.js"></script>
	<script src="js/ui-bootstrap-modal-tpls.min.js"></script>
	<script src="js/ui-bootstrap-modal.min.js"></script>
	<script src="js/angular.ui.sortable.js"></script>
	<script src="js/angular-ui-select2.js"></script>
	<script src="js/angular-ui-slider.js"></script>
	<script src="js/angular-animate.js"></script>
  	<script src="js/angular-route.js"></script>
  	<script src="js/angular-resource.js"></script>
	<script src="js/controller/signin-controller.js"></script>
	
    <!-- pre load bg imgs -->
    <script type="text/javascript">
        $(function () {

            // add uniform plugin styles to html elements
            $("input:checkbox, input:radio").uniform();

            // bg switcher
            var $btns = $(".bg-switch .bg");
            $btns.click(function (e) {
                e.preventDefault();
                $btns.removeClass("active");
                $(this).addClass("active");
                var bg = $(this).data("img");

                $("html").css("background-image", "url('img/bgs/" + bg + "')");
            });

        });
    </script>
</body>
</html>