<!-- main container -->
		<div class="content" ng-controller="detailController" ng-init="optionUrl='/api/dstkmodule/searchstupmodule';path='/stupruletable';url='/api/stuprule/';item.balanceBelowLimit = '0';item.lastTransaction = '0'; item.usualAmount = '0';item.lineType = 'ANY';item.repetitionInterval = 'Once-A-Day';item.maxCount = '3'">

			<div id="pad-wrapper">
			
                                <div class="row head">
                                    <div class="col-md-12">
						<h4>{{screen.header}} Rule</h4>
						<p>Select the service, condition and campaign values to {{screen.operation}} rule.</p>
							<form class="form-horizontal" role="form">
							
								<div class="form-group">
									<label class="col-md-2">Service:</label>
									<div class="col-md-4">
										<div class="ui-select">
											<select ng-model="item.moduleName">
												<option ng-repeat="option in options" value="{{option.moduleName}}" ng-selected="{{item.moduleName == option.moduleName}}">{{option.moduleName}}</option>
											</select>
										</div>	
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-2">Balance Below:</label>
									<div class="col-md-4">
										<div class="ui-select">
											<select ng-model="item.balanceBelowLimit">
												<option value="0">ANY</option>
												<option value="5">5 USD</option>
												<option value="10">10 USD</option>
												<option value="15">15 USD</option>
												<option value="20">20 USD</option>
												<option value="25">25 USD</option>
												<option value="30">30 USD</option>
												<option value="35">35 USD</option>
											</select>
										</div>	
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-2">Transaction Before:</label>
									<div class="col-md-4">
										<div class="ui-select">
											<select ng-model="item.lastTransaction">
												<option value="0">ANY</option>
												<option value="1209600000">2 weeks</option>
												<option value="2419200000">4 weeks</option>
												<option value="4838400000">8 weeks</option>
												<option value="7257600000">12 weeks</option>
											</select>
										</div>	
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-2">Usual Amount:</label>
									<div class="col-md-4">
										<div class="ui-select">
											<select ng-model="item.usualAmount">
												<option value="0">ANY</option>
												<option value="12">12 USD</option>
												<option value="15">15 USD</option>
												<option value="20">20 USD</option>
												<option value="25">25 USD</option>
											</select>
										</div>	
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-2">TopUp Line:</label>
									<div class="col-md-4">
										<div class="ui-select">
											<select ng-model="item.lineType">
												<option value="ANY">ANY</option>
												<option value="OWN">Own line</option>
												<option value="OTHER">Other line(s)</option>
											</select>
										</div>	
									</div>
								</div>
									
                                                                <div class="form-group">
										<label class="col-md-2">Repetition Interval:</label>
										<div class="col-md-4">
											<div class="ui-select">
												<select ng-model="item.repetitionInterval">
													<option value="Twice-A-Day">Once in every 12 hours</option>
													<option value="Once-A-Day">Once in every day</option>
													<option value="Twice-A-Week">Once in every 3 days</option>
													<option value="Once-A-Week">Once in every week</option>
												</select>
											</div>	
										</div>
                                                                </div>
								
                                                                <div class="form-group">
										<label class="col-md-2">Repetition Limit:</label>
                                                                                <div class="col-md-4">
                                                                                        <div class="ui-select">
                                                                                                <select ng-model="item.maxCount">
                                                                                                        <option value="">For 1 time only</option>
                                                                                                        <option value="2">For 2 times at max</option>
                                                                                                        <option value="3">For 3 times at max</option>
                                                                                                        <option value="4">For 4 times at max</option>
                                                                                                        <option value="5">For 5 times at max</option>
                                                                                                        <option value="6">For 6 times at max</option>
                                                                                                </select>
                                                                                        </div>
										</div>
                                                                </div>
								
                                                                <div class="form-group">
										<button class="btn-flat gray" ng-click="cancel()">Cancel</button>&nbsp;
										<button ng-show="screen.operation == 'edit'" class="btn-flat" ng-click="edit()">{{screen.button}}</button>
										<button ng-show="screen.operation == 'add'" class="btn-flat" ng-click="add()">{{screen.button}}</button>
                                                                </div>
								
							</form>
	
					</div>
				</div>
				
			</div><!-- end pad-wrapper -->
			
		</div><!-- end content -->
		
		<script>
			// add uniform plugin styles to html elements
			$("input:checkbox, input:radio").uniform();
		</script>
		
