<!-- main container -->
		<div class="content" ng-controller="detailController" ng-init="path='/transportkeytable';url='/api/otatransportkey/'">

			<div id="pad-wrapper">
			
				<div class="row">
					
					<div class="col-md-6">
						<h4>{{screen.header}}</h4>
						<br/>
						<p>Using following options you can {{screen.operation}}.</p>
						<br/><br/>
							<form class="form-horizontal" role="form">
								
								<div class="form-group">
									<label class="col-md-4">ZMK Component No</label>
									<div class="col-md-8">
										<div class="ui-select">
											<select ng-model="item.no">
												<option value="1">First</option>
												<option value="2">Second</option>
												<option value="3">Third</option>
											</select>
										</div>	
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">ZMK Component</label>
									<div class="col-md-8">
										<input name="transportkeyvalue" ng-model="item.value" class="form-control" type="password"/>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">Re-enter ZMK Component</label>
									<div class="col-md-8">
										<input name="reenterValue" ng-model="item.value" class="form-control" type="password" ui-validate=" '$value==transportkeyvalue' "ui-validate-watch=" 'transportkeyvalue' "/>
										<span ng-show="form.confirm_emal.$error.validator">Key values does not match!</span>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">KCV Value</label>
									<div class="col-md-8">
										<input name="transportkeyvalue" ng-model="item.kcv" class="form-control" type="password"/>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">Algorithm Name</label>
									<div class="col-md-8">
										<div class="ui-select">
											<select ng-model="item.algorithmName">
												<option value="3DES-2KEY">3DES-2KEY</option>
												<option value="3DES-3KEY">3DES-3KEY</option>
											</select>
										</div>	
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-4">Algorithm Mode</label>
									<div class="col-md-8">
										<div class="ui-select">
											<select ng-model="item.algorithmMode">
												<option value="ECB">ECB</option>
												<option value="CBC">CBC</option>
											</select>
										</div>	
									</div>
								</div>
								
								<br/><br/>								
								<div class="form-group">
									<button class="btn-flat" ng-click="cancel()">Cancel</button>&nbsp;
									<button ng-show="screen.operation == 'edit'" class="btn-flat" ng-click="edit()">{{screen.button}}</button>
									<button ng-show="screen.operation == 'add'" class="btn-flat" ng-click="add()">{{screen.button}}</button>
								</div>
								
							</form>
	
					</div>
				</div>
				
			</div><!-- end pad-wrapper -->
			
		</div><!-- end content -->
		
		<script>
			// add uniform plugin styles to html elements
			$("input:checkbox, input:radio").uniform();
		</script>
		
