
	<!-- main container -->
	<div class="content" ng-controller="ugurTableController" ng-init="tabs=[{'label' : 'Campaign Delivery', 'headers' : ['HEADER 1','HEADER 2','HEADER 3']}, {'label' : 'Campaign Acceptance'},{'label' : 'Subscriber Based Report'}];selectedTab=tabs[0];search='';
        sent='88344';delivered='76435';sent2='96432';delivered2='86784';sent3='44232';delivered3='29321';sent4='66324';delivered4='62374';
        myModelDonut = [ {
                                                label : 'Delivered',
   						value : 86.5
   					}, {
   						label : 'Black Listed',
   						value : 2.1
   					}, {
   						label : 'Not Reached',
   						value : 8.2
   					}, {
   						label : 'Incomplete',
   						value : 3.2
   					} ];
        myModelDonut2 = [ {
                                                label : 'Delivered',
   						value : 90.1
   					}, {
   						label : 'Black Listed',
   						value : 2.2
   					}, {
   						label : 'Not Reached',
   						value : 6.3
   					}, {
   						label : 'Incomplete',
   						value : 1.4
   					} ];
        myModelDonut3 = [ {
                                                label : 'Delivered',
   						value : 66.3
   					}, {
   						label : 'Black Listed',
   						value : 1.8
   					}, {
   						label : 'Not Reached',
   						value : 28.6
   					}, {
   						label : 'Incomplete',
   						value : 3.3
   					} ];
        myModelDonut4 = [ {
                                                label : 'Delivered',
   						value : 94.1
   					}, {
   						label : 'Black Listed',
   						value : 3.4
   					}, {
   						label : 'Not Reached',
   						value : 1.3
   					}, {
   						label : 'Incomplete',
   						value : 1.2
   					} ];
        campaignType='Service'; serviceID='1'; menuID='1';formValue={'simcardtype' : 'NFC Java'};">
			
		<div id="pad-wrapper">

			<!-- morris graph chart -->
			<div class="row head">
				 <h4>Campaign Reports</h4>
				 <p>
					 These are the reports for campaign-based and subscriber-based figures.  
				 </p>
			</div>

			<div class="section">
				<ul class="nav nav-tabs">
      				<li ng-class="tabClass(tab)" ng-repeat="tab in tabs" tab="tab"><a ng-click="setSelectedTab(tab)">{{tab.label}}</a></li>
    			</ul>
    			<br/>

				<div class="row mb" ng-show="selectedTab.label == 'Campaign Delivery'">
                                        <div class="col-md-12">
						<p>The delivery figures of sent campaigns... Numbers and percentages can be observed for both Service and Menu campaigns...</p>
					</div>
                                        
                                        <div class="col-md-2 column">
					<form>
						<div class="field-box">
							<label>Campaign Type:</label>
							<div class="ui-select">
								<select ng-model="campaignType">
									<option value="Service" selected>Service Campaign</option>
									<option value="Menu">Menu Campaign</option>
								</select>
							</div>
						</div>

						<div class="field-box" ng-show="campaignType == 'Service'">
							<label>Service Name:</label>
							<div class="ui-select inverse">
								<select ng-model="serviceID">
									<option value="1">News</option>
									<option value="2">Sports</option>
								</select>
							</div>
						</div>
                                               
						<div class="field-box" ng-show="campaignType == 'Menu'">
							<label>Menu Name:</label>
							<div class="ui-select inverse">
								<select ng-model="menuID">
									<option value="1">Youth Segment_v4</option>
									<option value="2">Business Segment_v3</option>
								</select>
							</div>
						</div>                                                

					</form>
                                        </div>

                                        <div class="field-box" ng-show="campaignType == 'Service' && serviceID == '1'">
                                        <div class="row" >
                                                    <div class="col-md-3 chart min">
                                                        <input type="text" value="9" knob-sent class="knob knob-normal second" data-thickness=".3"  data-inputColor="#59839f" data-fgColor="#59839f" data-bgColor="#e6e6e7" data-width="156" data-readOnly=true data-min="0" data-max="88344" ng-model="sent">
                                                        <span>Sent</span>
                                                    </div>
                                                    <div class="col-md-3 chart min">
                                                        <input type="text" value="1556" knob-sent class="knob  knob-normal second" data-thickness=".3" data-inputColor="#59839f" data-fgColor="#59839f" data-bgColor="#e6e6e7" data-width="156" data-readOnly=true data-min="0" data-max="88344" ng-model="delivered">
                                                         <span>Delivered</span>
                                                    </div>
                                        </div>             
                                        
                                        <div class="col-md-2 column"></div>
                                        <div class="chart col-md-6">
                                                <donut-chart data="myModelDonut" style="height: 200px;"></donut-chart>  
                                        </div>
                                        </div>
                                        
                                        <div class="field-box" ng-show="campaignType == 'Service' && serviceID == '2'">
                                        <div class="row" >
                                                    <div class="col-md-3 chart min">
                                                        <input type="text" value="9" knob-sent class="knob knob-normal second" data-thickness=".3"  data-inputColor="#59839f" data-fgColor="#59839f" data-bgColor="#e6e6e7" data-width="156" data-readOnly=true data-min="0" data-max="96432" ng-model="sent2">
                                                        <span>Sent</span>
                                                    </div>
                                                    <div class="col-md-3 chart min">
                                                        <input type="text" value="1556" knob-sent class="knob  knob-normal second" data-thickness=".3" data-inputColor="#59839f" data-fgColor="#59839f" data-bgColor="#e6e6e7" data-width="156" data-readOnly=true data-min="0" data-max="96432" ng-model="delivered2">
                                                         <span>Delivered</span>
                                                    </div>
                                        </div>             
                                        
                                        <div class="col-md-2 column"></div>
                                        <div class="chart col-md-6">
                                                <donut-chart data="myModelDonut2" style="height: 200px;"></donut-chart>  
                                        </div>
                                        </div>
                                        
                                        <div class="field-box" ng-show="campaignType == 'Menu' && menuID == '1'">
                                        <div class="row" >
                                                    <div class="col-md-3 chart min">
                                                        <input type="text" value="9" knob-sent class="knob knob-normal second" data-thickness=".3"  data-inputColor="#59839f" data-fgColor="#59839f" data-bgColor="#e6e6e7" data-width="156" data-readOnly=true data-min="0" data-max="44232" ng-model="sent3">
                                                        <span>Sent</span>
                                                    </div>
                                                    <div class="col-md-3 chart min">
                                                        <input type="text" value="1556" knob-sent class="knob  knob-normal second" data-thickness=".3" data-inputColor="#59839f" data-fgColor="#59839f" data-bgColor="#e6e6e7" data-width="156" data-readOnly=true data-min="0" data-max="44232" ng-model="delivered3">
                                                         <span>Delivered</span>
                                                    </div>
                                        </div>             
                                        
                                        <div class="col-md-2 column"></div>
                                        <div class="chart col-md-6">
                                                <donut-chart data="myModelDonut3" style="height: 200px;"></donut-chart>  
                                        </div>
                                        </div>
                                        
                                        <div class="field-box" ng-show="campaignType == 'Menu' && menuID == '2'">
                                        <div class="row" >
                                                    <div class="col-md-3 chart min">
                                                        <input type="text" value="9" knob-sent class="knob knob-normal second" data-thickness=".3"  data-inputColor="#59839f" data-fgColor="#59839f" data-bgColor="#e6e6e7" data-width="156" data-readOnly=true data-min="0" data-max="66324" ng-model="sent4">
                                                        <span>Sent</span>
                                                    </div>
                                                    <div class="col-md-3 chart min">
                                                        <input type="text" value="1556" knob-sent class="knob  knob-normal second" data-thickness=".3" data-inputColor="#59839f" data-fgColor="#59839f" data-bgColor="#e6e6e7" data-width="156" data-readOnly=true data-min="0" data-max="66324" ng-model="delivered4">
                                                         <span>Delivered</span>
                                                    </div>
                                        </div>             
                                        
                                        <div class="col-md-2 column"></div>
                                        <div class="chart col-md-6">
                                                <donut-chart data="myModelDonut4" style="height: 200px;"></donut-chart>  
                                        </div>
                                        </div>
                                </div>
        				
					<div class="row" ng-show="selectedTab.label == 'Subscriber Based Report'"><!-- MSISDN -->
					
					<div class="col-md-12">
						<p>Detailed information of selected user is displayed on this screen.</p>
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-md-2">Search:</label>
									<div class="col-md-4">
										<input ng-model="search" class="search form-control" type="text" value=''/>
									</div>                            
								</div>
								
								<div ng-show="search == '5332100805'">
								<div class="form-group">
									<label class="col-md-2">SIM Card Type:</label>
                                                                            <div class="col-md-4">
                                                                                <input class="form-control" type="text" value= "NFC Java" readonly/>
                                                                            </div>
								</div>								
								
                                                                <div class="form-group">
                                                                        <label class="col-md-2">SIM Menu Type:</label>
                                                                            <div class="col-md-4">
                                                                                <input class="form-control" type="text" value= "TURKCELL MENU (Release_5)" readonly/>
                                                                            </div>
                                                                        <div class="btn-group">
                                                                                <button class="btn-glow btn-next">Details <i class="icon-chevron-right"></i></button>
                                                                        </div>
                                                                </div>        
								
                                                                <div class="form-group">
                                                                        <label class="col-md-2">Campaigns Delivered:</label>
                                                                            <div class="col-md-4">
                                                                                <input class="form-control" type="text" value= "8" readonly/>
                                                                            </div>
                                                                        <div class="btn-group">
                                                                                <button class="btn-glow btn-next">Details <i class="icon-chevron-right"></i></button>
                                                                        </div>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                        <label class="col-md-2">Campaigns Accepted:</label>
                                                                            <div class="col-md-4">
                                                                                <input class="form-control" type="text" value= "2" readonly/>
                                                                            </div>
                                                                        <div class="btn-group">
                                                                                <button class="btn-glow btn-next">Details <i class="icon-chevron-right"></i></button>
                                                                        </div>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                        <label class="col-md-2">Device Model:</label>
                                                                            <div class="col-md-4">
                                                                                <input class="form-control" type="text" value= "iPhone 5S" readonly/>
                                                                            </div>
                                                                        <div class="btn-group">
                                                                                <button class="btn-glow btn-next">Details <i class="icon-chevron-right"></i></button>
                                                                        </div>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                        <label class="col-md-2">Final Location:</label>
                                                                            <div class="col-md-4">
                                                                                <input class="form-control" type="text" value= "Istanbul Kadıkoy Feneryolu" readonly/>
                                                                            </div>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                        <label class="col-md-2">Black List Status:</label>
                                                                        <div class="col-md-1">
                                                                            <div class="slider-frame info">
                                                                                    <span data-on-text="ON" data-off-text="OFF" class="slider-button" ng-model="blackList" value="ON" ng-click="changeStatus()">OFF</span>
                                                                            </div>
                                                                        </div>
                                                                        <div ng-show="blackList == 'changed'">
                                                                        <div class="form-group">
                                                                                <button class="btn-flat" ng-click="save()">Save</button>
                                                                        </div>
                                                                        </div>

                                                                </div>
								</div>
							</form>
	
				
			</div><!-- end pad-wrapper -->
                      </div>                          
				
		</div>

	</div>
	<!-- end main container -->

<script>
        // Switch slide buttons
			$('.slider-button').click(function() {
				if ($(this).hasClass("on")) {
					$(this).removeClass('on').html($(this).data("off-text"));  
				} else {
					$(this).addClass('on').html($(this).data("on-text"));
				}
			});

		
        // add uniform plugin styles to html elements
			$("input:checkbox, input:radio").uniform();
                        $(".error-tooltip").hover(function(){ $(".tooltip").addClass("error-tooltip"); });
			$(".info-tooltip").hover(function(){ $(".tooltip").addClass("info-tooltip"); });  
        
</script>
                
                
                
                
                