/* line 1, ../scss/grids.scss */
.grid-wrapper {
  margin-bottom: 60px;
}
/* line 3, ../scss/grids.scss */
.grid-wrapper .head {
  margin-bottom: 30px;
}

/* line 7, ../scss/grids.scss */
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 11, ../scss/grids.scss */
.show-grid [class*="col-"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
  border: 1px solid rgba(86, 61, 124, 0.2);
}
