/* general table styles */
/* line 2, ../scss/tables.scss */
.table-wrapper {
  width: 100%;
  margin-bottom: 100px;
}
/* line 5, ../scss/tables.scss */
.table-wrapper .filter-block {
  margin-bottom: 34px;
}
/* line 7, ../scss/tables.scss */
.table-wrapper .filter-block .ui-select {
  margin-right: 20px;
  top: 1px;
  height: 24px;
  width: 150px;
}
/* line 13, ../scss/tables.scss */
.table-wrapper .filter-block .search {
  margin: 0 60px 0 0;
}
/* line 16, ../scss/tables.scss */
.table-wrapper .filter-block .new-product {
  padding: 4px 14px;
}
/* line 21, ../scss/tables.scss */
.table-wrapper .table th input[type="checkbox"] {
  margin-top: 4px;
}
/* line 24, ../scss/tables.scss */
.table-wrapper .table input[type="checkbox"] {
  float: left;
  margin-top: 11px;
  margin-right: 23px;
}
/* line 29, ../scss/tables.scss */
.table-wrapper .table .img {
  height: 31px;
  float: left;
  background: white;
  width: 31px;
  border: 1px solid #dfe4eb;
  text-align: center;
  cursor: pointer;
  margin-right: 23px;
}
/* line 38, ../scss/tables.scss */
.table-wrapper .table .img img {
  margin-top: 4px;
}
/* line 42, ../scss/tables.scss */
.table-wrapper .table tr.first td {
  border-top: 0 none;
}
/* line 45, ../scss/tables.scss */
.table-wrapper .table td a {
  text-decoration: underline;
  display: inline-block;
}
/* line 49, ../scss/tables.scss */
.table-wrapper .table td.description {
  vertical-align: middle;
  color: #516372;
}
/* line 53, ../scss/tables.scss */
.table-wrapper .table ul.actions {
  margin: 5px 0 0 0;
  padding: 0;
  float: right;
}
/* line 57, ../scss/tables.scss */
.table-wrapper .table ul.actions li {
  display: inline;
  padding: 5px 6px 0px 3px;
}
/* line 60, ../scss/tables.scss */
.table-wrapper .table ul.actions li.last {
  border: 0 none;
}
/* line 64, ../scss/tables.scss */
.table-wrapper .table ul.actions i {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
}
/* line 71, ../scss/tables.scss */
.table-wrapper .table ul.actions i:hover {
  opacity: 1;
}
/* line 77, ../scss/tables.scss */
.table-wrapper .label {
  position: relative;
}

/* products table specific styles */
/* line 83, ../scss/tables.scss */
.table-wrapper.products-table a.name {
  position: relative;
  top: 6px;
}

/* orders table specific styles */
/* line 89, ../scss/tables.scss */
.table-wrapper.orders-table td {
  padding: 12px 8px;
}

/* users table specific styles */
/* line 95, ../scss/tables.scss */
.table-wrapper.users-table .table td {
  vertical-align: middle;
  font-size: 13px;
}
/* line 99, ../scss/tables.scss */
.table-wrapper.users-table .table img.avatar {
  float: left;
  margin-right: 14px;
  max-width: 45px;
  position: relative;
  top: 8px;
}
/* line 106, ../scss/tables.scss */
.table-wrapper.users-table .table a.name {
  color: #3389d1;
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin: 15px 0 0 0;
}
/* line 113, ../scss/tables.scss */
.table-wrapper.users-table .table .subtext {
  font-size: 12px;
  margin-left: 0;
  color: #778391;
  font-style: italic;
  margin-top: 0;
}

/*Responsive*/
@media (max-width: 979px) {
  /* line 124, ../scss/tables.scss */
  .pointer {
    top: 26.8%;
  }
}
@media (max-width: 768px) {
  /* line 130, ../scss/tables.scss */
  .table-wrapper {
    padding: 0px 15px;
  }
  /* line 134, ../scss/tables.scss */
  .table-wrapper .table .img,
  .table-wrapper .table .avatar {
    display: none;
  }
  /* line 137, ../scss/tables.scss */
  .table-wrapper .table input[type="checkbox"] {
    margin-right: 10px;
  }
  /* line 140, ../scss/tables.scss */
  .table-wrapper .table .label {
    display: none;
  }
  /* line 145, ../scss/tables.scss */
  .table-wrapper .filter-block .search {
    width: 30%;
    margin: 0 10px 0 0;
  }
  /* line 149, ../scss/tables.scss */
  .table-wrapper .filter-block .order-search {
    float: left;
    margin: 0;
    width: 40%;
  }
  /* line 154, ../scss/tables.scss */
  .table-wrapper .filter-block .user-search {
    float: left;
    margin: 0;
    width: 55%;
  }
  /* line 159, ../scss/tables.scss */
  .table-wrapper .filter-block .add-user {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  /* line 168, ../scss/tables.scss */
  .table-wrapper .filter-block .search {
    float: right;
    width: 48%;
    margin: 0;
  }
  /* line 173, ../scss/tables.scss */
  .table-wrapper .filter-block .new-product {
    float: right;
    margin-top: 15px;
  }
  /* line 177, ../scss/tables.scss */
  .table-wrapper .filter-block .order-search {
    float: left;
    width: 43%;
  }
  /* line 181, ../scss/tables.scss */
  .table-wrapper .filter-block .add-user {
    margin-top: 0;
  }
  /* line 184, ../scss/tables.scss */
  .table-wrapper .filter-block .user-search {
    float: left;
    margin: 0;
    width: 55%;
  }
}
