/* line 3, ../scss/user-list.scss */
.users-list .header h3 {
  margin-top: 0px;
}
/* line 6, ../scss/user-list.scss */
.users-list .header input.search {
  padding: 5px 6px;
  position: relative;
  top: 0px;
}
/* line 10, ../scss/user-list.scss */
.users-list .header input.search:focus {
  box-shadow: none;
  border: 1px solid #888;
}
/* line 15, ../scss/user-list.scss */
.users-list .header .ui-select {
  margin: 3px 40px 0 0;
}
/* line 18, ../scss/user-list.scss */
.users-list .header .ui-dropdown {
  margin-left: 20px;
}
/* line 20, ../scss/user-list.scss */
.users-list .header .ui-dropdown input.form-control {
  width: 60px;
  display: inline-block;
  height: 28px;
  margin: 0px 8px;
}
/* line 27, ../scss/user-list.scss */
.users-list .header a.btn-flat span {
  font-size: 17px;
  position: relative;
  top: 2px;
  margin-right: 4px;
}
/* line 35, ../scss/user-list.scss */
.users-list .table td {
  vertical-align: middle;
  font-size: 13px;
}
/* line 39, ../scss/user-list.scss */
.users-list .table img.avatar {
  float: left;
  margin-right: 14px;
  max-width: 45px;
  position: relative;
  top: 8px;
}
/* line 46, ../scss/user-list.scss */
.users-list .table a.name {
  color: #3389d1;
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin: 15px 0 0 0;
}
/* line 53, ../scss/user-list.scss */
.users-list .table .subtext {
  font-size: 12px;
  margin-left: 0;
  color: #778391;
  font-style: italic;
  margin-top: 0;
}
/* line 61, ../scss/user-list.scss */
.users-list .pagination {
  margin-top: 25px;
}

/* responsive */
@media (max-width: 767px) {
  /* line 71, ../scss/user-list.scss */
  .ui-dropdown .dialog .body {
    width: 250px;
    left: 58%;
    position: relative;
  }

  /* line 78, ../scss/user-list.scss */
  .users-list .table a.name {
    font-size: 12px;
  }
  /* line 81, ../scss/user-list.scss */
  .users-list .table td {
    font-size: 12px;
  }
  /* line 84, ../scss/user-list.scss */
  .users-list .table .avatar {
    display: none;
  }
  /* line 88, ../scss/user-list.scss */
  .users-list h3 {
    display: block;
    float: none;
    margin-bottom: 30px;
  }
  /* line 94, ../scss/user-list.scss */
  .users-list .header input.search {
    margin-bottom: 18px;
  }
  /* line 97, ../scss/user-list.scss */
  .users-list .header .ui-dropdown {
    float: left;
    margin-left: 0;
  }

  /* line 104, ../scss/user-list.scss */
  .ui-dropdown .dialog .body .form input[type="text"] {
    margin-top: 10px;
  }

  /* line 107, ../scss/user-list.scss */
  .ui-dropdown .dialog .body .form a {
    margin-top: 10px;
    margin-left: 18px;
  }
}
